@model PortaleRegione.DTO.Response.BaseResponse<PortaleRegione.DTO.Domain.SeduteDto>

@{
    ViewBag.Title = "Riepilogo Sedute";
    if (Model.Filters.Any())
    {
        ViewBag.Title += " - Ricerca";
    }
}

<div class="row">
    <div class="col s12">
        <a class="btn-floating waves-effect waves-light grey header-back" href="javascript:history.go(-1)">
            <i class="material-icons">arrow_back</i>
        </a>
        <h5>
            <b>@ViewBag.Title</b>
        </h5>
    </div>
</div>
<hr />

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="seduteTable" class="row">

    @if (!Model.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono sedute al momento
                    </span>
                </div>
            </div>
        </div>
    }

    @foreach (var seduta in Model.Results)
    {
        var css_sedutaAttiva = "green lighten-4";
        if (seduta.Data_effettiva_fine.HasValue)
        {
            if (seduta.Data_effettiva_fine.Value < DateTime.Now)
            {
                css_sedutaAttiva = string.Empty;
            }
        }

        <div class="col l4 m6 s12">
            <div class="card hoverable @css_sedutaAttiva">
                <div class="card-content">
                    <h5 class="">
                        <span>Seduta del @seduta.Data_seduta.ToString("dd/MM/yyyy HH:mm")</span>
                    </h5>
                    <div class="row valign-wrapper">
                        <div class="col s10">
                            @if (seduta.Scadenza_presentazione.HasValue)
                            {
                                <p>
                                    Scadenza presentazione: @Convert.ToDateTime(seduta.Scadenza_presentazione).ToString("dd/MM/yyyy HH:mm")
                                </p>
                            }
                        </div>
                        <div class="col s2">
                            @if (!seduta.Data_apertura.HasValue)
                            {
                                <div class="chip grey" style="margin-left: -20px;min-width: unset">Chiusa</div>
                            }else if (seduta.Data_apertura.Value > DateTime.Now)
                                {
                                    <div class="chip grey" style="margin-left: -20px;min-width: unset">Chiusa</div>
                                }
                                else
                                {
                                    <a class="btn-floating green" onclick="go('@Url.Action("RiepilogoAtti", "Atti", new {id = seduta.UIDSeduta})')" title="Riepilogo atti">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    Html.RenderPartial("_SeduteFiltri", Model.Paging);
}


<script>
    $(document).ready(function () {
        var filters = @Html.Raw(Convert.ToInt16(Model.Filters.Any()));
        if (filters == 0)
            set_Filtri_Sedute({});

        Filtri_Sedute_CaricaLegislature("filter_sedute_legislature");
        Filtri_Sedute_CaricaAnni("filter_sedute_anno");
        Filtri_Sedute_CaricaDa("filter_sedute_da");
        Filtri_Sedute_CaricaA("filter_sedute_a");

        $('#btnSearch').on("click", function() {
            openSearch();
        });
    });

    function filtra() {
        setTimeout(function () {
            $('body').removeClass('loaded');
        }, 200);
        $('#formFiltraSedute').submit();
    }
    function filtra(page) {
        $('#inputFilterPage').val(page);
        setTimeout(function () {
            $('body').removeClass('loaded');
        }, 200);
        $('#formFiltraSedute').submit();
    }
</script>