@using Newtonsoft.Json
@using PortaleRegione.Common
@using PortaleRegione.DTO.Domain
@model PortaleRegione.DTO.Response.BaseResponse<PortaleRegione.DTO.Domain.SeduteDto>

@{
    ViewBag.Title = "Riepilogo Sedute";
    if (Model.Filters.Any())
    {
        ViewBag.Title += " - Ricerca";
    }
}

<div class="row" style="margin-bottom: unset !important">
    <div class="col s12">
        <a class="btn-floating waves-effect waves-light grey darken-3 header-back" href="javascript:history.go(-1)">
            <i class="material-icons">arrow_back</i>
        </a>
        <div class="row valign-wrapper">
            <div class="col s12">
                <h4>
                    <b>@ViewBag.Title</b>
                </h4>
            </div>
        </div>
    </div>
</div>
<hr/>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="seduteTable" class="row">

    @if (!Model.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono sedute al momento
                    </span>
                </div>
            </div>
        </div>
    }

        <ul id="gridView" class="collapsible expandable">
            @foreach (var seduta in Model.Results)
            {
                var chiusa = false;
                var css_sedutaAttiva = "green lighten-4 black-text";
                if (seduta.Data_effettiva_fine.HasValue)
                {
                    if (seduta.Data_effettiva_fine.Value < DateTime.Now)
                    {
                        css_sedutaAttiva = string.Empty;
                    }
                }

                <li class="badgeBody">
                    <div class="collapsible-header" tabindex="0">
                        <div class="col s8 valign-wrapper">
                            <span style="padding-right: 50px">Seduta del @seduta.Data_seduta.ToString("dd/MM/yyyy HH:mm")</span>
                            @if (!seduta.Data_apertura.HasValue)
                            {
                                chiusa = true;
                            }
                            else if (seduta.Data_apertura > DateTime.Now)
                            {
                                chiusa = true;
                            }
                            else if (!string.IsNullOrEmpty(css_sedutaAttiva))
                            {
                                <div class="btn-flat green-text hide-on-med-and-down">Aperta</div>

                            }
                            @if (!string.IsNullOrEmpty(seduta.Note))
                            {
                                <div class="btn-flat purple-text hide-on-med-and-down">@seduta.Note</div>
                            }
                        </div>

                        @*COMANDI*@
                    <div class="col s4 right-align" style="margin-top: 15px;">
                        @if (!chiusa)
                        {
                            <button type="button" role="button" class="btn-floating white black-text tooltipped" onclick="go('@Url.Action("RiepilogoAtti", "Atti", new { id = seduta.UIDSeduta })')" data-tooltip="Riepilogo atti">
                                <i class="material-icons" style="margin-left: 2px!important;">chevron_right</i>
                            </button>
                        }
                        else
                        {
                            <div class="btn-flat grey-text hide-on-med-and-down">Chiusa</div>
                        }
                    </div>
                    </div>
                    <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="collection">
                                        @{
                                            var testoStato = "Archiviata";
                                            var colorStato = "blue-text";

                                            if (!seduta.Data_apertura.HasValue)
                                            {
                                                testoStato = "Chiuso";
                                                colorStato = "grey-text";

                                            }
                                            else if (seduta.Data_apertura > DateTime.Now)
                                            {
                                                testoStato = "Chiuso";
                                                colorStato = "grey-text";

                                            }
                                            else if (!string.IsNullOrEmpty(css_sedutaAttiva))
                                            {
                                                testoStato = "Aperta";
                                                colorStato = "green-text";
                                            }
                                        }
                                        <li class="collection-item">
                                            <div>
                                                <label>Stato:</label><a href="#!" class="secondary-content @colorStato">@testoStato</a>
                                            </div>
                                        </li>
                                        @foreach (var atto in seduta.AttiList)
                                        {
                                            <li class="collection-item" style="font-weight: normal!important;">
                                                <label><b>@Utility.GetText_Tipo(atto.IDTipoAtto) @atto.NAtto </b> - @atto.Oggetto</label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                </li>
            }
        </ul>
</div>

@{
    Html.RenderPartial("_SeduteFiltri", Model.Paging);
}


<script>
    $(document).ready(function() {
        var filters = @Html.Raw(Convert.ToInt16(Model.Filters.Any()));
        if (filters == 0) {
            set_Filtri_Sedute({});
        }else {
            var filtri = @Html.Raw(JsonConvert.SerializeObject(Model.Filters));
            console.log("filtri", filtri);
            var filtri_cache = get_Filtri_Sedute();
            var block_legislatura_each = false;

            $.each(filtri,
                function(i, item) {

                    if (block_legislatura_each == false) {
                        if (item.PropertyId == '@Html.Raw(nameof(SeduteDto.id_legislatura))') {
                            filtri_cache.legislatura = item.Value;
                            set_Filtri_Sedute(filtri_cache);
                            block_legislatura_each = true;
                        }
                    }
                });
        }

        Filtri_Sedute_CaricaLegislature("filter_sedute_legislature");
        Filtri_Sedute_CaricaAnni("filter_sedute_anno");
        Filtri_Sedute_CaricaDa("filter_sedute_da");
        Filtri_Sedute_CaricaA("filter_sedute_a");

        $('#btnSearch').on("click",
            function() {
                openSearch();
            });
    });

    function filtra() {
        setTimeout(function() {
                $('body').removeClass('loaded');
            },
            200);
        $('#formFiltraSedute').submit();
    }

    function filtra(page) {
        $('#inputFilterPage').val(page);
        setTimeout(function() {
                $('body').removeClass('loaded');
            },
            200);
        $('#formFiltraSedute').submit();
    }
</script>