@model PortaleRegione.DTO.Domain.SeduteFormUpdateDto

@{
    var isNew = Model.UIDSeduta == Guid.Empty;
    ViewBag.Title = isNew ? "Nuova seduta" : "Modifica seduta";
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col l1 s2">
        <a class="btn-floating waves-effect waves-light grey darken-3 header-back" href="@Url.Action("RiepilogoSedute", "PEM")">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
    <div class="col l11 s10">
        <h4>
            <b>
                @if (isNew)
                {
                    <span>Nuova seduta</span>
                }
                else
                {
                    <span>Modifica seduta</span>
                }
            </b>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col s12">

        @using (Html.BeginForm("SalvaSeduta", "PEM", FormMethod.Post, new {id = "formSedute"}))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.UIDSeduta)

            <ul id="sedutaFormsTabs" class="tabs tabs-fixed-width">
                <li class="tab col s6">
                    <a class="active" href="#generalTab">Info</a>
                </li>
                <li class="tab col s6">
                    <a href="#scadenzeTab">Scadenze</a>
                </li>
            </ul>
            <div id="generalTab" class="col s12">
                <div class="form-group">
                    @Html.LabelFor(s => s.Data_seduta)
                    @Html.TextBoxFor(s => s.Data_seduta, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('Data_seduta')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Data_apertura)
                    @Html.TextBoxFor(s => s.Data_apertura, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('Data_apertura')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Data_effettiva_inizio)
                    @Html.TextBoxFor(s => s.Data_effettiva_inizio, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('Data_effettiva_inizio')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Data_effettiva_fine)
                    @Html.TextBoxFor(s => s.Data_effettiva_fine, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('Data_effettiva_fine')">close</i>
                </div>
                <div class="input-field">
                    @Html.LabelFor(s => s.Intervalli)
                    @Html.TextAreaFor(model => model.Intervalli, new {@class = "materialize-textarea"})
                </div>
                <div class="input-field">
                    @Html.LabelFor(s => s.Note)
                    @Html.TextAreaFor(model => model.Note, new {@class = "materialize-textarea"})
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                            <label>
                                <input id="Riservato_DASI" name="Riservato_DASI" type="checkbox" value="true"
                                       @Html.Raw(Model.Riservato_DASI ? "checked=\"checked\"" : "")>
                                <span>@Html.LabelFor(s => s.Riservato_DASI)</span>
                            </label>
                        </p>
                    </div>
                </div>
                @if (!isNew)
                {
                    <div class="input-field" style="padding-top: 50px">
                        <div class="btn chip hoverable red center white-text" onclick="openDeleteModal('@Model.UIDSeduta')" title="Elimina">
                            <i class="icon material-icons">delete</i> Elimina
                        </div>
                    </div>
                }
            </div>
            <div id="scadenzeTab" class="col s12">
                <div class="form-group">
                    @Html.LabelFor(s => s.Scadenza_presentazione)
                    @Html.TextBoxFor(s => s.Scadenza_presentazione, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('Scadenza_presentazione')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.DataScadenzaPresentazioneIQT)
                    @Html.TextBoxFor(s => s.DataScadenzaPresentazioneIQT, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('DataScadenzaPresentazioneIQT')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.DataScadenzaPresentazioneMOZ)
                    @Html.TextBoxFor(s => s.DataScadenzaPresentazioneMOZ, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('DataScadenzaPresentazioneMOZ')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.DataScadenzaPresentazioneMOZA)
                    @Html.TextBoxFor(s => s.DataScadenzaPresentazioneMOZA, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('DataScadenzaPresentazioneMOZA')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.DataScadenzaPresentazioneMOZU)
                    @Html.TextBoxFor(s => s.DataScadenzaPresentazioneMOZU, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('DataScadenzaPresentazioneMOZU')">close</i>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.DataScadenzaPresentazioneODG)
                    @Html.TextBoxFor(s => s.DataScadenzaPresentazioneODG, "{0:s}", new {@class = "form-control", type = "datetime-local"})
                    <i class="icon material-icons tiny" style="margin-left: 5px; margin-top: 15px; position: absolute;" onclick="clearData('DataScadenzaPresentazioneODG')">close</i>
                </div>
            </div>

            <div class="fixed-action-btn">
                <button class="btn-floating btn-large blue darken-3" id="btnSave" type="button">
                    <i class="large material-icons">save</i>
                </button>
            </div>
        }
    </div>
</div>

<div id="modalDeleteSeduta" class="modal">
    <div class="modal-content">
        <h5>Attenzione</h5>
        <p>Sei sicuro di voler eliminare questa seduta?</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn modal-close grey">Annulla</button>
    <a id="btnConfermaEliminazione" class="btn red" href="#">Elimina</a>
</div>
</div>


<script>
    function clearData(ctrl) {
        console.log("clear", ctrl);
        $('#' + ctrl).val("");
    }

    $("#btnSave").on("click",
        function() {
            $('#formSedute').submit();
        });

    $("#formSedute").submit(function(e) {
        e.preventDefault();
    }).validate({
        submitHandler: function(form) {
            var body = JSON.parse(JSON.stringify($("#formSedute").serializeObject()));

            //submit via ajax
            $.ajax({
                url: baseUrl + "/pem/salva",
                type: "POST",
                data: JSON.stringify(body),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function(data) {
                console.log(data);
                if (data.message)
                {
                    swal({
                        title: "Esito salvataggio",
                        text: data.message,
                        icon: "error",
                        button: "OK"
                    });
                }
                else
                    go(data);
            }).fail(function(err) {
                console.log("error", err);
                Error(err);
            });

            return false; //This doesn't prevent the form from submitting.
        }
    });

    function openDeleteModal(id) {
        $('#btnConfermaEliminazione').attr("href", '@Url.Action("EliminaSeduta","PEM")?id=' + id);
        $('#modalDeleteSeduta').modal('open');
    }
</script>