@model PortaleRegione.DTO.Response.BaseResponse<PortaleRegione.DTO.Domain.SeduteDto>

@{
    ViewBag.Title = "Sedute";
    if (Model.Filters.Any())
    {
        ViewBag.Title += " - Ricerca";
    }
}

<div class="row">
    <div class="col s12">
        <h5>
            <b>@ViewBag.Title</b>
        </h5>
    </div>
</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="seduteTable" class="row">

    @if (!Model.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono sedute al momento
                    </span>
                </div>
            </div>
        </div>
    }

<ul id="gridView" class="collapsible expandable">
    @foreach (var seduta in Model.Results)
    {
        var chiusa = false;
        var css_sedutaAttiva = "green lighten-4 black-text";
        if (seduta.Data_effettiva_fine.HasValue)
        {
            if (seduta.Data_effettiva_fine.Value < DateTime.Now)
            {
                css_sedutaAttiva = string.Empty;
            }
        }

        <li class="badgeBody">
            <div class="collapsible-header" tabindex="0">
                <div class="col s8 valign-wrapper">
                    <span style="padding-right: 50px">Seduta del @seduta.Data_seduta.ToString("dd/MM/yyyy HH:mm")</span>
                    @if (!seduta.Data_apertura.HasValue)
                    {
                        chiusa = true;
                        <div class="chip white grey-text" style="min-width: unset; border: 1px solid grey">Chiusa</div>
                    }
                    else if (seduta.Data_apertura > DateTime.Now)
                    {
                        chiusa = true;
                        <div class="chip white grey-text" style="min-width: unset; border: 1px solid grey">Chiusa</div>
                    }
                    else if (!string.IsNullOrEmpty(css_sedutaAttiva))
                    {
                        <div class="chip white green-text" style="min-width: unset; border: 1px solid green">Aperta</div>
                    }
                    @if (!string.IsNullOrEmpty(seduta.Note))
                    {
                        <div class="chip white black-text" style="min-width: unset; border: 1px solid black">@seduta.Note</div>
                    }
                </div>

                @*COMANDI*@
                <div class="col s4 right-align" style="margin-top: 15px;">
                    @if (!chiusa)
                    {
                        <a class="black-text" onclick="go('@Url.Action("RiepilogoAtti", "Atti", new { id = seduta.UIDSeduta })')" title="Riepilogo atti">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    }
                </div>
            </div>
            @if (!chiusa)
            {
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <ul class="collection">
                                @if (seduta.Scadenza_presentazione.HasValue)
                                {
                                    <li class="collection-item">
                                        <div>
                                            <label>Scadenza EM:</label><a href="#!" class="secondary-content">@seduta.Scadenza_presentazione.Value.ToString("dd/MM/yyyy HH:mm")</a>
                                        </div>
                                    </li>
                                }
                                @if (seduta.DataScadenzaPresentazioneIQT.HasValue)
                                {
                                    <li class="collection-item">
                                        <div>
                                            <label>Scadenza IQT:</label><a href="#!" class="secondary-content">@seduta.DataScadenzaPresentazioneIQT.Value.ToString("dd/MM/yyyy HH:mm")</a>
                                        </div>
                                    </li>
                                }
                                @if (seduta.DataScadenzaPresentazioneMOZ.HasValue)
                                {
                                    <li class="collection-item">
                                        <div>
                                            <label>Scadenza MOZ:</label><a href="#!" class="secondary-content">@seduta.DataScadenzaPresentazioneMOZ.Value.ToString("dd/MM/yyyy HH:mm")</a>
                                        </div>
                                    </li>
                                }
                                @if (seduta.DataScadenzaPresentazioneMOZU.HasValue)
                                {
                                    <li class="collection-item">
                                        <div>
                                            <label>Scadenza MOZ Urgenti:</label><a href="#!" class="secondary-content">@seduta.DataScadenzaPresentazioneMOZU.Value.ToString("dd/MM/yyyy HH:mm")</a>
                                        </div>
                                    </li>
                                }
                                @if (seduta.DataScadenzaPresentazioneMOZA.HasValue)
                                {
                                    <li class="collection-item">
                                        <div>
                                            <label>Scadenza MOZ Abbinate:</label><a href="#!" class="secondary-content">@seduta.DataScadenzaPresentazioneMOZA.Value.ToString("dd/MM/yyyy HH:mm")</a>
                                        </div>
                                    </li>
                                }
                                @if (seduta.DataScadenzaPresentazioneODG.HasValue)
                                {
                                    <li class="collection-item">
                                        <div>
                                            <label>Scadenza ODG:</label><a href="#!" class="secondary-content">@seduta.DataScadenzaPresentazioneODG.Value.ToString("dd/MM/yyyy HH:mm")</a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </li>
    }
</ul>
</div>

@{
    Html.RenderPartial("_SeduteFiltri", Model.Paging);
}

<script>
$(document).ready(function() {
        var filters = @Html.Raw(Convert.ToInt16(Model.Filters.Any()));
        if (filters == 0)
            set_Filtri_Sedute({});

        Filtri_Sedute_CaricaLegislature("filter_sedute_legislature");
        Filtri_Sedute_CaricaAnni("filter_sedute_anno");
        Filtri_Sedute_CaricaDa("filter_sedute_da");
        Filtri_Sedute_CaricaA("filter_sedute_a");

        $('#btnSearch').on("click",
            function() {
                openSearch();
            });
    });
    
    function filtra() {
        setTimeout(function () {
            $('body').removeClass('loaded');
        },
            200);
        $('#formFiltraSedute').submit();
    }

    function filtra(page) {
        $('#inputFilterPage').val(page);
        setTimeout(function () {
            $('body').removeClass('loaded');
        },
            200);
        $('#formFiltraSedute').submit();
    }
</script>