@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@using Utility = PortaleRegione.Common.Utility
@model PortaleRegione.DTO.Model.DashboardModel

@{
    ViewBag.Title = $"Seduta del {Model.Seduta.Data_seduta.ToString("dd/MM/yyyy HH:mm")}";
    var DASIEnabled = Model.CurrentUser.CurrentRole != RuoliIntEnum.Utente
                      && !Model.CurrentUser.IsGiunta
                      && AppSettingsConfiguration.EnableDASI;
    var PEMEnabled = Model.CurrentUser.CurrentRole != RuoliIntEnum.Utente
                     && AppSettingsConfiguration.EnablePEM;
}

<div class="row">
    <div class="col s12">
        <a class="btn-floating waves-effect waves-light grey" href="@Url.Action("Archivio")">
            <i class="material-icons">arrow_back</i>
        </a>
        <div class="row valign-wrapper" style="margin-bottom: 0px !important">
            <div class="col s12">
                <h5>
                    <span class="chip red white-text" style="min-width: unset !important;">AULA</span>
                    <b>@ViewBag.Title</b>
                </h5>
            </div>
        </div>
    </div>
    <div class="col s11">
        
    </div>
</div>

@if (Model.PEM.Any() && PEMEnabled)
{
    <div class="row" style="margin: 0 !important">
        <div class="col s12">
            <h6>
                <b>Atti iscritti alla seduta</b>
            </h6>
        </div>
    </div>
    <hr/>
    <ul class="collapsible" style="position: relative">
        @foreach (var attoPem in Model.PEM.First().Results)
        {
            var titolo_atto = $"{Utility.GetText_Tipo(attoPem.IDTipoAtto)} {attoPem.NAtto}";
            if (attoPem.IDTipoAtto == (int)TipoAttoEnum.ALTRO)
            {
                titolo_atto = attoPem.Oggetto;
            }
            <li>
                <div class="collapsible-header">
                    <i class="material-icons pink-text">textsms</i>
                    @titolo_atto
                    <div class="collapsabile-secondary-header">
                        @if (attoPem.Emendabile)
                        {
                            <div class="chip">@(attoPem.Conteggio_EM + attoPem.Conteggio_SubEM) EM</div>
                        }
                        @if (attoPem.CounterODG > 0)
                        {
                            <div class="chip">@(attoPem.CounterODG) ODG</div>
                        }

                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <label>
                                <b>Oggetto</b>
                            </label>
                            <br/>
                            <p>@attoPem.Oggetto</p>
                        </div>
                        @if (attoPem.UIDAssessoreRiferimento.HasValue)
                        {
                            <div class="col s12">
                                <label>
                                    <b>Assessore di Riferimento</b>
                                </label>
                                <br/>
                                <div class="chip" style="margin-left: 5px; min-width: unset;">
                                    <img src="http://intranet.consiglio.regione.lombardia.it/GC/foto/@attoPem.PersonaAssessore.foto" alt="@attoPem.PersonaAssessore.DisplayName">
                                    @attoPem.PersonaAssessore.DisplayName
                                </div>
                            </div>
                        }
                        @if (attoPem.Relatori.Any())
                        {
                            <div class="col s12">
                                <label>
                                    <b>Relatori</b>
                                </label>
                                <br/>
                                @Html.Raw(PortaleRegione.Client.Helpers.Utility.GetRelatori(attoPem.Relatori))
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col s6">
                            @if (!string.IsNullOrEmpty(attoPem.Path_Testo_Atto))
                            {
                                <a class="btn-flat pink-text"
                                   href="@Url.Action("Download", "Atti", new { path = attoPem.Path_Testo_Atto })">
                                    <i class="material-icons left">download</i>
                                    Scarica
                                </a>
                            }
                        </div>
                        <div class="col s6 right-align">
                            @if (attoPem.Data_apertura.HasValue && attoPem.Emendabile)
                            {
                                <a class="btn-flat blue-text tooltipped"
                                   onclick="go('@Url.Action("RiepilogoEmendamenti", "Emendamenti", new { id = attoPem.UIDAtto })')" data-tooltip="Riepilogo emendamenti">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo EM In Seduta
                                </a>
                            }

                            @if (attoPem.CounterODG > 0)
                            {
                                <a class="btn-flat blue-text tooltipped"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new { id = attoPem.UIDSeduta, tipo = (int)TipoAttoEnum.ODG, uidAtto = attoPem.UIDAtto })')" data-tooltip="Riepilogo ordini del giorno">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Ordini del giorno
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}

@if (Model.DASI.Any() && DASIEnabled)
{
    var attoDasi = Model.DASI.First();
    if (attoDasi.Data.Results.Any())
    {
        var sedutaUid = attoDasi.Data.Results.First().UIDSeduta;
        <div class="row" style="margin: 0 !important">
            <div class="col s12">
                <h6>
                    <b>Atti di indirizzo e sindacato ispettivo</b>
                </h6>
            </div>
        </div>
        <hr/>
        <ul class="collapsible" style="position: relative">

            @if (attoDasi.CountBarData.ITL > 0)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @Utility.GetText_Tipo((int)TipoAttoEnum.ITL)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.ITL) Atti</div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn-flat blue-text"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new { id = sedutaUid, tipo = (int)TipoAttoEnum.ITL })')" title="Riepilogo atti in seduta">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Atti In Seduta
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (attoDasi.CountBarData.IQT > 0)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @Utility.GetText_Tipo((int)TipoAttoEnum.IQT)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.IQT) Atti</div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn-flat blue-text"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new { id = sedutaUid, tipo = (int)TipoAttoEnum.IQT })')" title="Riepilogo atti in seduta">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Atti In Seduta
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (attoDasi.CountBarData.MOZ > 0)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @Utility.GetText_Tipo((int)TipoAttoEnum.MOZ)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.MOZ) Atti</div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn-flat blue-text"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new { id = sedutaUid, tipo = (int)TipoAttoEnum.MOZ })')" title="Riepilogo atti in seduta">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Atti In Seduta
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
}


<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>