@model PortaleRegione.DTO.Response.BaseResponse<PortaleRegione.DTO.Domain.SeduteDto>

@{
    ViewBag.Title = "Riepilogo Sedute";
    if (Model.Filters.Any())
    {
        ViewBag.Title += " - Ricerca";
    }
}

<div class="row">
    <div class="col s12">
        <h5>
            <b>@ViewBag.Title</b>
        </h5>
    </div>
</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="seduteTable" class="row">

    @if (!Model.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono sedute al momento
                    </span>
                </div>
            </div>
        </div>
    }

    @foreach (var seduta in Model.Results)
    {
        var css_sedutaAttiva = "green lighten-4";
        if (seduta.Data_effettiva_fine.HasValue)
        {
            if (seduta.Data_effettiva_fine.Value < DateTime.Now)
            {
                css_sedutaAttiva = string.Empty;
            }
        }

        <div class="col l4 m6 s12">
            <div class="card hoverable @css_sedutaAttiva">
                <div class="card-content">
                    <h5 class="card-title">
                        <span>Seduta del @seduta.Data_seduta.Value.ToString("dd/MM/yyyy HH:mm")</span>
                    </h5>
                    <div class="row valign-wrapper">
                        <div class="col s10">
                            @if (seduta.Scadenza_presentazione.HasValue)
                            {
                                <p>
                                    Scadenza presentazione: @Convert.ToDateTime(seduta.Scadenza_presentazione).ToString("dd/MM/yyyy HH:mm")
                                </p>
                            }
                        </div>
                        <div class="col s2">
                            @if (!seduta.Data_apertura.HasValue)
                            {
                                <div class="chip grey" style="margin-left: -20px;min-width: unset">Chiusa</div>
                            }else if (seduta.Data_apertura.Value > DateTime.Now)
                                {
                                    <div class="chip grey" style="margin-left: -20px;min-width: unset">Chiusa</div>
                                }
                                else
                                {
                                    <a class="btn-floating green" onclick="go('@Url.Action("RiepilogoAtti", "Atti", new {id = seduta.UIDSeduta})')" title="Riepilogo atti">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    Html.RenderPartial("_SeduteFiltri", Model.Paging);
    Html.RenderPartial("_SeduteScript", Model.Filters);
}