@using PortaleRegione.DTO.Enum

<div class="fixed-action-btn">
    <a class="btn-floating blue tooltipped" onclick="ConfirmStampa()" style="right:90px" data-tooltip="Stampa" data-position="left">
        <i class="material-icons">print</i>
    </a>
</div>
<div id="btnComandiMassiviAdmin" class="fixed-action-btn" style="display: none">
    <a class="btn-floating btn-large pink tooltipped" data-tooltip="Comandi massivi" data-position="left">
        <i class="large material-icons">playlist_add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating tooltipped depositato" data-position="left" data-tooltip="Depositato" onclick="CambioStatoMassivo(@((int) StatiEnum.Depositato), '@StatiEnum.Depositato')"><i class="material-icons">lock</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped approva" data-position="left" data-tooltip="Approva" onclick="CambioStatoMassivo(@((int) StatiEnum.Approvato), '@StatiEnum.Approvato')"><i class="material-icons">check</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped approvatomod" data-position="left" data-tooltip="Approva con modifiche" onclick="CambioStatoMassivo(@((int) StatiEnum.Approvato_Con_Modifiche), '@StatiEnum.Approvato_Con_Modifiche')"><i class="material-icons">check</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped NOapprovato" data-position="left" data-tooltip="Non approva" onclick="CambioStatoMassivo(@((int) StatiEnum.Non_Approvato), '@StatiEnum.Non_Approvato')"><i class="material-icons">close</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped inammissibile" data-position="left" data-tooltip="Inamissibile" onclick="CambioStatoMassivo(@((int) StatiEnum.Inammissibile), '@StatiEnum.Inammissibile')"><i class="material-icons">not_interested</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped decaduto" data-position="left" data-tooltip="Decaduto" onclick="CambioStatoMassivo(@((int) StatiEnum.Decaduto), '@StatiEnum.Decaduto')"><i class="material-icons">report</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped ritirato" data-position="left" data-tooltip="Ritira" onclick="CambioStatoMassivo(@((int) StatiEnum.Ritirato), '@StatiEnum.Ritirato')"><i class="material-icons">delete</i>
            </a>
        </li>
        <li>
            <a class="btn-floating pink tooltipped" onclick="AssegnaA()" data-position="left" data-tooltip="Assegna a">
                <i class="material-icons">cached</i>
            </a>
        </li>
        <li>
            <a class="btn-floating orange tooltipped" data-position="left" data-tooltip="Uguali a" onclick="UgualiA()">
                <i class="material-icons">format_color_fill</i>
            </a>
        </li>
        <li>
            <a class="btn-floating grey tooltipped" onclick="DeselectALLEM()" data-position="left" data-tooltip="Annulla">
                <i class="material-icons">undo</i>
            </a>
        </li>
    </ul>
</div>
<div id="btnNuovoEM" class="fixed-action-btn" style="display: block">
    <a id="btnCreaEM" class="btn-floating btn-large blue darken-1 tooltipped" data-position="left" data-tooltip="Nuovo emendamento">
        <i class="large material-icons">add</i>
    </a>
</div>