@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.EmendamentiFormModel

@{
    var placeholder_allegato_generico_text = string.Empty;
    placeholder_allegato_generico_text = !string.IsNullOrEmpty(Model.Emendamento.PATH_AllegatoGenerico) ? "Sostituisci documento" : "Inserisci documento";
}
<div class="form-group">
    @Html.LabelFor(s => s.Emendamento.PATH_AllegatoGenerico)
</div>
<div class="file-field input-field">
    <div class="btn">
        <span>SFOGLIA</span>
        <input type="file" name="DocAllegatoGenerico" accept="application/pdf">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="@placeholder_allegato_generico_text">
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Emendamento.PATH_AllegatoGenerico))
{
    <div class="form-group pnl-doc">
        <div class="chip">@Model.Emendamento.PATH_AllegatoGenerico</div>
    </div>
}
<div class="form-group">
    @Html.Label("Ci sono effetti finanziari?")
    <label class="black-text" style="margin-left: 20px">
        <input type="radio" id="Emendamento.EffettiFinanziari" name="EffettiFinanziari" value="1" onchange="EffettiFinanziari_OnChange(1)" @Html.Raw(Model.Emendamento.EffettiFinanziari == 1 ? "checked=\"checked\"" : "") />
        <span>Si</span>
    </label>
    <label class="black-text" style="margin-left: 20px">
        <input type="radio" id="Emendamento.EffettiFinanziari" name="EffettiFinanziari" value="0" onchange="EffettiFinanziari_OnChange(0)" @Html.Raw(Model.Emendamento.EffettiFinanziari == 0 ? "checked=\"checked\"" : "") />
        <span>No</span>
    </label>
</div>
@{
    var placeholder_effetti_finanziari_text = string.Empty;
    placeholder_effetti_finanziari_text = !string.IsNullOrEmpty(Model.Emendamento.PATH_AllegatoTecnico) ? "Sostituisci documento" : "Inserisci documento";
}
<div class="file-field input-field only-effetti">
    <div class="btn">
        <span>SFOGLIA</span>
        <input type="file" name="DocEffettiFinanziari" accept="application/pdf">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="@placeholder_effetti_finanziari_text">
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Emendamento.PATH_AllegatoTecnico))
{
    <div class="form-group pnl-doc">
        <div class="chip">@Model.Emendamento.PATH_AllegatoTecnico</div>
    </div>
}

@if (Model.Emendamento.IDStato == (int) StatiEnum.Bozza_Riservata)
{
<div class="row">
    <div class="col s12">
        <p>
            <label>
                <input id="Riservato" name="Emendamento.Riservato" type="checkbox" value="true"
                       @Html.Raw(Model.Emendamento.IDStato == (int)StatiEnum.Bozza_Riservata ? "checked=\"checked\"" : "")>
                <span>Riservato</span>
            </label>
        </p>
    </div>
</div>
}

@if (Model.CurrentUser.IsCapoGruppo)
{
    <div class="row">
        <div class="col s12">
            <p>
                <label>
                    <input id="Firma_su_invito" name="Emendamento.Firma_su_invito" type="checkbox" value="true"
                           @Html.Raw(Model.Emendamento.Firma_su_invito ? "checked=\"checked\"" : "")>
                    <span>Sottoscrivibile solo su invito</span>
                </label>
            </p>
        </div>
    </div>
}