@using System.Web.Services.Description
@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
@using Utility = PortaleRegione.Client.Helpers.Utility
@model PortaleRegione.DTO.Response.EmendamentiViewModel

@if (!Model.Data.Results.Any())
{
    <div class="row">
        <div class="col s12">
            <div class="card-panel panel-warning center">
                <span class="center">
                    @{
                        var require_my_sign = Convert.ToBoolean(HttpUtility.ParseQueryString(Request.Url.Query).Get("require_my_sign"));
                        if (require_my_sign)
                        {
                            <p>Non ci sono emendamenti dove è richiesta la tua firma</p>
                        }
                        else
                        {
                            <p>Non ci sono emendamenti al momento</p>
                        }
                    }
                </span>
            </div>
        </div>
    </div>
}
else
{
    var countRow = 0;
    var lastRow = 0;
    foreach (var itemEM in Model.Data.Results)
    {
        countRow++;
        if (countRow >= Model.Data.Paging.Entities)
        {
            lastRow = 1;
        }

        <div class="col @Html.Raw(itemEM.IDStato >= (int)StatiEnum.Depositato ? "s6" : "s12")">
            <div class="card hoverable" style="min-height: 300px">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col @Html.Raw(itemEM.IDStato >= (int)StatiEnum.Depositato ? "s12" : "s6")">
                                <div class="col l1" style="margin-top: 10px">
                                    <label>
                                        <input type="checkbox" id="chk_EM_@itemEM.UIDEM" onclick="AbilitaComandiMassivi('@itemEM.UIDEM');"/>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col l11 center">
                                    <div id="iconEMDepositabile_@itemEM.UIDEM" class="chip @itemEM.STATI_EM.CssClass" style="width: 100%">
                                        @if (itemEM.Depositabile)
                                        {
                                            <i class="icon material-icons left tooltipped" data-tooltip="Depositabile" style="margin-top: -2px">gavel</i>
                                        }
                                        @itemEM.STATI_EM.Stato
                                        @if (itemEM.PresentatoOltreITermini)
                                        {
                                            //presentato oltre i termini
                                            <i class="icon material-icons white-text right tooltipped" data-position="bottom" data-tooltip="Presentato oltre i termini" style="margin-top: -3px">warning</i>
                                        }
                                        @if (!string.IsNullOrEmpty(itemEM.NOTE_Griglia))
                                        {
                                            <i class="icon material-icons right tooltipped" data-tooltip="@Html.Raw(itemEM.NOTE_Griglia)" style="margin-top: -2px">chat</i>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l12 center">
                                        <h5 style="margin-top: 7px">
                                            <b>@Html.Raw(itemEM.EffettiFinanziari == 1 ? "&euro;" : "") @itemEM.N_EM</b>
                                        </h5>
                                        <h6>@PortaleRegione.Common.Utility.MetaDatiEM_Label(itemEM)</h6>
                                        @if (itemEM.IDStato <= (int)StatiEnum.Bozza)
                                        {
                                            <h6 style="font-size: small; font-weight: bold; padding-top: 10px">
                                                Bozza predisposta da:
                                                <span id="lblCreatore_@itemEM.UIDEM">
                                                    @itemEM.PersonaCreazione.DisplayName
                                                </span>
                                            </h6>
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(itemEM.DataDeposito))
                                            {
                                                <h6 style="font-size: small; font-weight: bold; padding-top: 10px">
                                                    Depositato da
                                                    <span id="lblPersonaDeposito_@itemEM.UIDEM">
                                                        @itemEM.PersonaDeposito.DisplayName
                                                    </span>
                                                    il @itemEM.DataDeposito

                                                </h6>
                                            }
                                        }

                                        @if (itemEM.IDStato >= (int)StatiEnum.Depositato)
                                        {
                                    <div class="chip deep-purple lighten-5 center activator" onclick="RevealFirmatari('@itemEM.UIDEM')" style="margin-bottom: 0; margin-top: 35px; min-width: unset;">
                                        @if (itemEM.Firma_da_ufficio)
                                        {
                                            <b>@itemEM.Firma_ufficio.FirmaCert</b>
                                        }
                                        else
                                        {
                                            <span>Firmato dal proponente:</span>
                                            if (itemEM.Firmato_Dal_Proponente)
                                            {
                                                @itemEM.PersonaProponente.DisplayName
                                            }
                                            else
                                            {
                                                <span style="color: grey; text-decoration: line-through;">
                                                    @itemEM.PersonaProponente.DisplayName
                                                </span>
                                            }

                                            if (itemEM.Proponente_Relatore)
                                            {
                                                <b>(RELATORE)</b>
                                            }
                                        }

                                        @if (itemEM.ConteggioFirme > 1)
                                        {
                                            <span class="chip hoverable grey darken-1 white-text activator" style="font-size: small; margin-right: -12px; min-width: unset">
                                                + @(itemEM.ConteggioFirme - 1)
                                            </span>
                                        }
                                    </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (itemEM.IDStato < (int)StatiEnum.Depositato)
                            {
                                <div class="col s6">
                                    <div id="pnlAzioniEM_@itemEM.UIDEM" class="col l12 center">

                                        @if (!string.IsNullOrEmpty(itemEM.Firmatari))
                                        {
                                            <div class="row">
                                                <div class="col s12 left-align">
                                                    <h6>
                                                        <b>Firmatari</b>
                                                    </h6>
                                                    <hr/>
                                                    @Html.Raw(itemEM.Firmatari)
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        @if (itemEM.IDStato < (int)StatiEnum.Depositato)
                        {
                            if (!string.IsNullOrEmpty(itemEM.Destinatari))
                            {
                                <div class="row">
                                    <div class="col s12">
                                        <h6>
                                            <b>Invitati</b>
                                        </h6>
                                        <hr/>
                                        @Html.Raw(itemEM.Destinatari)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="card-action grey lighten-4">
                    <div class="row" style="margin: 0 !important">
                        <div class="col s7 left">
                            <label style="font-size: small !important">Proponente: </label>
                            <h6 id="lblProponente_@itemEM.UIDEM">
                                <b>@itemEM.PersonaProponente.DisplayName @Html.Raw(Model.Mode == ClientModeEnum.TRATTAZIONE ? string.Format("({0})", itemEM.gruppi_politici.codice_gruppo) : "")</b>
                            </h6>
                        </div>
                        <div class="col s5 right-align" style="margin-top: 9px">
                            <a class="btn-floating green tooltipped" data-tooltip="Visualizza EM" onclick="go('@Url.Action("ViewEmendamento", new { id = itemEM.UIDEM })')">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal" id="reveal_@itemEM.UIDEM" style="overflow: hidden; padding-bottom: 65px">
                    <span class="card-title grey-text text-darken-4 center">
                        <span id="titleReveal">Firmatari</span> <i class="material-icons right">close</i>
                    </span>
                    <div id="dataItems" class="collection" style="height: 100%; overflow: auto;">
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}