@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Domain.EmendamentiDto
@{
    var _disabled = false;

    if (Model.Rif_UIDEM.HasValue && Model.Rif_UIDEM != Guid.Empty)
    {
        _disabled = true;
    }
}
<div class="form-group">
    @Html.LabelFor(s => s.IDParte)
    <div class="row">
        <div class="col s12" id="pnlParte">
            
        </div>
    </div>
    @{
        var detailPanelVisible = Model.IDParte == (int)PartiEMEnum.Titolo_PDL ? "none" : "block";
    }
    <div class="row" id="detailsPanel" style="display: @detailPanelVisible">
        <div class="col s12">
            <div class="row">

                <div class="col s12">
                    @{
                        var pnlTitoloVisible = string.IsNullOrEmpty(Model.NTitolo) ? "none" : "block";
                    }
                    <div id="pnlParte_Titolo" style="display: @pnlTitoloVisible">
                        @Html.LabelFor(m => m.NTitolo, new { @class = "bold" })
                        <input type="text" id="Emendamento.NTitolo_@Model.UIDEM" value="@Model.NTitolo" onkeyup="NTitolo_OnChange(this)" @Html.Raw(_disabled ? "disabled=\"disabled\"" : "") />

                    </div>
                    @{
                        var pnlCapoVisible = string.IsNullOrEmpty(Model.NCapo) ? "none" : "block";
                    }
                    <div id="pnlParte_Capo" style="display: @pnlCapoVisible">
                        @Html.LabelFor(m => m.NCapo, new { @class = "bold" })
                        <input type="text" id="Emendamento.NCapo_@Model.UIDEM" value="@Model.NCapo" onkeyup="NCapo_OnChange(this)" @Html.Raw(_disabled ? "disabled=\"disabled\"" : "") />
                    </div>
                    @{
                        var pnlArticoliVisible = Model.UIDArticolo.HasValue ? "block" : "none";
                    }
                    <div id="pnlParte_Articoli" style="display: @pnlArticoliVisible">
                        <div class="form-group" id="Articoli">
                            
                        </div>

                        <div id="pnlParte_Articoli_Commi" style="display: none">
                            <div class="form-group" id="Commi">
                                @Html.LabelFor(m => m.UIDComma, new { @class = "bold" })
                                
                            </div>
                        </div>
                        <div id="pnlParte_Articoli_Lettere" style="display: none">
                            <div class="form-group" id="Lettere">
                                @Html.LabelFor(m => m.UIDLettera, new { @class = "bold" })
                                
                            </div>
                        </div>
                        @{
                            var pnlLettereOLDVisible = string.IsNullOrEmpty(Model.NLettera) ? "none" : "block";
                        }
                        <div id="pnlLettereOLD" style="display: @pnlLettereOLDVisible">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NLettera, new { @class = "bold" })
                                @if (_disabled)
                                {
                                    @Html.TextBoxFor(m => m.NLettera, new { id = "txtLetteraOLD", disabled = true })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.NLettera, new { id = "txtLetteraOLD" })
                                }

                            </div>
                        </div>
                    </div>
                    @{
                        var pnlMissioniVisible = !Model.NMissione.HasValue ? "none" : "block";
                    }
                    <div id="pnlParte_Missioni" style="display: @pnlMissioniVisible">
                        <div class="form-group" id="pnlListaMissioni">
                            @Html.LabelFor(m => m.NMissione, new { @class = "bold" })
                            
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NProgramma, new { @class = "bold" })
                            <input type="number" id="Emendamento.NProgramma_@Model.UIDEM" min="0" value="@Model.NProgramma" @Html.Raw(_disabled ? "disabled=\"disabled\"" : "") />
                        </div>
                        <div class="form-group" id="pnlListaTitoli_Missioni">
                            @Html.LabelFor(m => m.NTitoloB, new { @class = "bold" })
                        
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(s => s.IDTipo_EM, new { @class = "bold" })
    <div class="row">
        <div class="col s12" id="pnlTipo">

        </div>
    </div>
</div>
<input type="hidden" id="hdParteId_@Model.UIDEM" />
<input type="hidden" id="hdTipoId_@Model.UIDEM" />