@using PortaleRegione.DTO.Enum
<div id="modalMetaDati" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row" style="margin: unset !important">
            <div class="col l6 left-align">
                <h5 style="margin: unset !important">
                    <b>
                        <span id="N_EM">N_EM</span>
                    </b>
                </h5>
            </div>
            <div class="col l6 right-align">
                <button type="button" role="button" id="btnSposta_MetaDatiPartial" class="btn-flat orange-text" style="font-weight: bold;">
                    Sposta EM IN POSIZIONE
                </button>
                <button type="button" role="button" id="btnSpostaUP_MetaDatiPartial" class="btn-flat orange-text" style="font-weight: bold;" onclick="SpostaUP_EMTrattazione()">
                    Sposta EM SU
                </button>
                <button type="button" role="button" id="btnSpostaDOWN_MetaDatiPartial" class="btn-flat orange-text" style="font-weight: bold;" onclick="SpostaDOWN_EMTrattazione()">
                    Sposta EM GIU
                </button>

                <button type="button" role="button" id="btnSalvaMetaDatiPartial" class="btn-flat green-text" style="font-weight: bold;">Salva</button>
                <button type="button" role="button" class="modal-close btn-flat grey-text">Chiudi</button>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <ul id="emendamentoFormsTabs" class="tabs tabs-fixed-width">
                    <li class="tab col s3">
                        <a class="active" href="#metaDatiTab">Meta dati</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#testoEMTab">Testo</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#noteTab">Note</a>
                    </li>
                </ul>
                <div id="metaDatiTab" class="col s12 left-align">
                    @Html.Partial("_MetaDatiPanelPartial")
                    @if (User.IsInRole(RuoliExt.Segreteria_Assemblea)
                         || User.IsInRole(RuoliExt.Amministratore_PEM))
                    {
                        <div class="input-field col s12">
                            <label class="active">Area Politica</label>
                            <select id="ddlAreaPolitica" name="AreaPolitica">
                                <option value="-1" selected="selected"></option>
                                <option value="@((int)AreaPoliticaIntEnum.Maggioranza)">@AreaPoliticaEnum.Maggioranza</option>
                                <option value="@((int)AreaPoliticaIntEnum.Minoranza)">@AreaPoliticaEnum.Minoranza</option>
                                <option value="@((int)AreaPoliticaIntEnum.Misto_Maggioranza)">@AreaPoliticaEnum.Misto_Maggioranza</option>
                                <option value="@((int)AreaPoliticaIntEnum.Misto_Minoranza)">@AreaPoliticaEnum.Misto_Minoranza</option>
                                <option value="@((int)AreaPoliticaIntEnum.Misto_Maggioranza_Minoranza)">@AreaPoliticaEnum.Misto_Maggioranza_Minoranza</option>
                            </select>
                        </div>

                    }
                </div>
                <div id="testoEMTab" class="col s12 left-align">
                    <div class="form-group">
                        <label>Testo</label>
                        <span style="display: flex">
                            <p>
                                <label>
                                    <input name="Testo" type="radio" value="0"/>
                                    <span>Testo Originale</span>
                                </label>
                            </p>
                            <p style="padding-left: 10px">
                                <label>
                                    <input name="Testo" type="radio" value="1"/>
                                    <span>Testo Modificato</span>
                                </label>
                            </p>
                        </span>
                        <p>Durante la discussione in aula il testo è stato così modificato:</p>
                        <textarea id="EditorTesto" class="form-control trumbowyg"></textarea>
                    </div>
                </div>
                <div id="noteTab" class="col s12 left-align">
                    <div class="row">
                        <div class="col s6">
                            <div class="card-action green lighten-4 form-group">
                                <label class="bold">Nota pubblica</label>
                                <textarea id="NotePubbliche" style="min-height: 100px" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card-action red lighten-4 form-group">
                                <label class="bold">Nota riservata</label>
                                <textarea id="NotePrivate" style="min-height: 100px" class="form-control"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>