@using Newtonsoft.Json
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Domain.EmendamentiDto

<div class="form-group">
    @Html.LabelFor(s => s.IDParte)
    <div class="row">
        <div class="col s12" id="pnlParte_@Model.UIDEM">

        </div>
    </div>
    @{
        var detailPanelVisible = Model.IDParte == (int)PartiEMEnum.Titolo_PDL ? "none" : "block";
    }
    <div class="row" id="detailsPanel_@Model.UIDEM" style="display: @detailPanelVisible">
        <div class="col s12">
            <div class="row" style="margin: unset !important">

                <div class="col s12">
                    <div id="pnlParte_Titolo_@Model.UIDEM" style="display: none">
                        @Html.LabelFor(m => m.NTitolo)
                        <input type="text" id="Emendamento.NTitolo_@Model.UIDEM" value="@Model.NTitolo" onkeyup="NTitolo_OnChange(this)" />

                    </div>
                    <div id="pnlParte_Capo_@Model.UIDEM" style="display: none">
                        @Html.LabelFor(m => m.NCapo)
                        <input type="text" id="Emendamento.NCapo_@Model.UIDEM" value="@Model.NCapo" onkeyup="NCapo_OnChange(this)"/>
                    </div>
                    <div id="pnlParte_Articoli_@Model.UIDEM" style="display: none">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UIDArticolo)
                            <select id="Articoli_@Model.UIDEM" class="browser-default"></select>
                        </div>

                        <div id="pnlParte_Articoli_Commi_@Model.UIDEM" style="display: none">
                            <div class="form-group">
                                @Html.LabelFor(m => m.UIDComma)
                                <select id="Commi_@Model.UIDEM" class="browser-default"></select>
                            </div>
                        </div>
                        <div id="pnlParte_Articoli_Lettere_@Model.UIDEM" style="display: none">
                            <div class="form-group">
                                @Html.LabelFor(m => m.UIDLettera)
                                <select id="Lettere_@Model.UIDEM" class="browser-default"></select>
                            </div>
                        </div>
                    </div>
                    <div id="pnlParte_Missioni_@Model.UIDEM" style="display: none">
                        <div class="form-group">
                            @Html.LabelFor(m => m.NMissione)
                            <select id="Missioni_@Model.UIDEM" class="browser-default"></select>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NProgramma)
                            <input type="number" id="NProgramma_@Model.UIDEM" min="0" value="@Model.NProgramma"/>
                        </div>
                        <div class="form-group" id="pnlListaTitoli_Missioni">
                            @Html.LabelFor(m => m.NTitoloB)
                            <select id="TitoliMissioni_@Model.UIDEM" class="browser-default"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(s => s.IDTipo_EM)
    <div class="row">
        <div class="col s12" id="pnlTipo_@Model.UIDEM">

        </div>
    </div>
</div>
<input type="hidden" id="hdParteId_@Model.UIDEM"/>
<input type="hidden" id="hdTipoId_@Model.UIDEM"/>

<script>
    $(document).ready(
        async function() {
            var em = @Html.Raw(JsonConvert.SerializeObject(Model));
            LoadMetaDati_Parte(em);
            LoadMetaDati_Tipo(em);

            var container_testo = $('#EditorTesto_' + em.UIDEM).parent();
            var editor_testo = $(container_testo).find(".trumbowyg-editor");
            var testo_checked = $("input[type=radio][name='Testo_" + em.UIDEM + "']:checked");
            if ($(testo_checked).val() == 0) {
                editor_testo.html(em.TestoEM_originale);
                $('#testoEMTab_' + em.UIDEM + '> .form-group > p').hide();
            } else if ($(testo_checked).val() == 1) {
                editor_testo.html(em.TestoEM_Modificabile);
                $('#testoEMTab_' + em.UIDEM + '> .form-group > p').show();
            }

            $("input[type=radio][name='Testo_" +em.UIDEM+ "']").change(function() {
                if (this.value == 0) {
                    editor_testo.html(em.TestoEM_originale);
                    $('#testoEMTab_' + em.UIDEM + '> .form-group > p').hide();
                }else if (this.value == 1) {
                    if (em.TestoEM_Modificabile == null)
                        editor_testo.html(em.TestoEM_originale);
                    else
                        editor_testo.html(em.TestoEM_Modificabile);
                    $('#testoEMTab_' + em.UIDEM + '> .form-group > p').show();
                }
            });
            $('#btnSalvaMetaDatiPartial_' + em.UIDEM).click(function() {
                waiting(true);
                $.ajax({
                    url: '@Url.Action("SalvaMetaDatiEM")',
                    type: "POST",
                    data: JSON.parse(em),
                }).done(function(result) {
                    waiting(false);
                    location.reload();
                }).fail(function(err) {
                    waiting(false);
                    console.log("error", err);
                    ErrorAlert(err.message);
                });
            });
        });

    async function LoadMetaDati_Parte(em) {
        var parti = await GetPartiEM();
        var ctrlSelect = "#pnlParte_" + em.UIDEM;
        var select = $(ctrlSelect);
        var template = '<label class="black-text" style="margin-left: 20px"></label>';
        var templateInput = '<input type="radio" name="Parte_' + em.UIDEM + '"/>';
        var templateSpan = '<span></span>';

        select.empty();
        $('#pnlParte_Articoli_' + em.UIDEM).hide();
        $('#pnlParte_Missioni_' + em.UIDEM).hide();
        $('#pnlParte_Titolo_' + em.UIDEM).hide();
        $('#pnlParte_Capo_' + em.UIDEM).hide();

        $.each(parti,
            function(index, item) {
                var templateTemp = template;
                templateTemp = $(templateTemp).append($(templateInput).val(item.IDParte).prop("checked", em.IDParte == item.IDParte));
                templateTemp = $(templateTemp).append($(templateSpan).html(item.Parte));
                select.append(templateTemp);

                if (item.IDParte == em.IDParte) {
                    if (em.IDParte == @((int)PartiEMEnum.Articolo)) {
                        $('#pnlParte_Articoli_' + em.UIDEM).show();
                    } else if (em.IDParte == @((int)PartiEMEnum.Missione)) {
                        $('#pnlParte_Missioni_' + em.UIDEM).show();
                    } else if (em.IDParte == @((int)PartiEMEnum.Titolo)) {
                        $('#pnlParte_Titolo_' + em.UIDEM).show();
                    } else if (em.IDParte == @((int)PartiEMEnum.Capo)) {
                        $('#pnlParte_Capo_' + em.UIDEM).show();
                    }
                }
            });

        await LoadMetaDati_Parte_Articolo(em);
        await LoadMetaDati_Parte_Missione(em);

        $("input[type=radio][name='Parte_" + em.UIDEM + "']").change(function() {
            em.IDParte = this.value;
            LoadMetaDati_Parte(em);
        });
    }

    async function LoadMetaDati_Parte_Articolo(em) {
        var parti_articoli = await GetArticoli(em.UIDAtto);
        if (parti_articoli.length > 0) {
            var select = $("#Articoli_" + em.UIDEM);
            select.empty();
            select.append('<option value="">Seleziona</option>');

            $.each(parti_articoli,
                function(index, item) {
                    var template = "";
                    if (item.UIDArticolo == em.UIDArticolo) {
                        template = "<option selected='selected'></option>";

                    } else
                        template = "<option></option>";
                    select.append($(template).val(item.UIDArticolo).html(item.Articolo));
                });

            $(select).formSelect();
            await LoadMetaDati_Parte_Comma(em);

            $(select).change(function() {
                em.UIDArticolo = this.value;
                LoadMetaDati_Parte_Comma(em);
            });

        } else {
            $('#pnlParte_Articoli_' + em.UIDEM).hide();
        }
    }

    async function LoadMetaDati_Parte_Comma(em) {
        if (em.UIDArticolo == null) {
            $('#pnlParte_Articoli_Commi_' + em.UIDEM).hide();
            return;
        }
        var parti_commi = await GetCommi(em.UIDArticolo);
        if (parti_commi.length > 0) {
            $('#pnlParte_Articoli_Commi_' + em.UIDEM).show();
            var select = $("#Commi_" + em.UIDEM);
            select.empty();
            select.append('<option value="">Seleziona</option>');

            $.each(parti_commi,
                function(index, item) {
                    var template = "";
                    if (item.UIDComma == em.UIDComma) {
                        template = "<option selected='selected'></option>";

                    } else
                        template = "<option></option>";
                    select.append($(template).val(item.UIDComma).html(item.Comma));
                });

            $(select).formSelect();
            await LoadMetaDati_Parte_Lettere(em);

            $(select).change(function () {
                em.UIDComma = this.value;
                LoadMetaDati_Parte_Lettere(em);
            });
        } else {
            $('#pnlParte_Articoli_Commi_' + em.UIDEM).hide();
        }
    }

    async function LoadMetaDati_Parte_Lettere(em) {
        if (em.UIDComma == null) {
            $('#pnlParte_Articoli_Lettere_' + em.UIDEM).hide();
            return;
        }

        var parti_lettere = await GetLettere(em.UIDComma);
        if (parti_lettere.length > 0) {
            $('#pnlParte_Articoli_Lettere_' + em.UIDEM).show();
            var select = $("#Lettere_" + em.UIDEM);
            select.empty();
            select.append('<option value="">Seleziona</option>');

            $.each(parti_lettere,
                function(index, item) {
                    var template = "";
                    if (item.UIDLettera == em.UIDLettera) {
                        template = "<option selected='selected'></option>";

                    } else
                        template = "<option></option>";
                    select.append($(template).val(item.UIDLettera).html(item.Lettera));
                });

            $(select).formSelect();
        } else {
            $('#pnlParte_Articoli_Lettere_' + em.UIDEM).hide();
        }
    }

    async function LoadMetaDati_Parte_Missione(em) {
        var parti_missioni = await GetMissioni();
        if (parti_missioni.length > 0) {
            var select = $("#Missioni_" + em.UIDEM);
            select.empty();
            select.append('<option value="">Seleziona</option>');

            $.each(parti_missioni,
                function(index, item) {
                    var template = "";
                    if (item.NMissione == em.NMissione) {
                        template = "<option selected='selected'></option>";
                    } else
                        template = "<option></option>";
                    select.append($(template).val(item.NMissione).html(item.Display));
                });

            $(select).formSelect();
            await LoadMetaDati_Parte_TitoliMissione(em);
        } else {
            $('#pnlParte_Missioni_' + em.UIDEM).hide();
        }
    }
    
    async function LoadMetaDati_Parte_TitoliMissione(em) {
        var parti_titoli_missioni = await GetTitoliMissioni();
        
        if (parti_titoli_missioni.length > 0) {
            var select = $("#TitoliMissioni_" + em.UIDEM);
            select.empty();
            select.append('<option value="">Seleziona</option>');

            $.each(parti_titoli_missioni,
                function(index, item) {
                    var template = "";
                    if (item.NTitoloB == em.NTitoloB) {
                        template = "<option selected='selected'></option>";
                    } else
                        template = "<option></option>";
                    select.append($(template).val(item.NTitoloB).html(item.Display));
                });

            $(select).formSelect();
        } 
    }

    async function LoadMetaDati_Tipo(em) {
        var tipi = await GetTipiEM();
        var ctrlSelect = "#pnlTipo_" + em.UIDEM;
        var select = $(ctrlSelect);
        var template = '<label class="black-text" style="margin-left: 20px"></label>';
        var templateInput = '<input type="radio" name="Tipo_' + em.UIDEM + '"/>';
        var templateSpan = '<span></span>';

        select.empty();

        $.each(tipi,
            function(index, item) {
                var templateTemp = template;
                templateTemp = $(templateTemp).append($(templateInput).val(item.IDTipo_EM).prop("checked", em.IDTipo_EM == item.IDTipo_EM));
                templateTemp = $(templateTemp).append($(templateSpan).html(item.Tipo_EM));
                select.append(templateTemp);
            });
    }
</script>