@using ExpressionBuilder.Common
@using PortaleRegione.DTO.Enum
<div id="slide-out-DX" class="sidenav sidenav-search" style="overflow: auto!important">
    <ul class="collapsible">
        <li class="active">
            <div class="collapsible-header teal white-text"><i class="material-icons">search</i>Ricerca</div>
            <div class="collapsible-body">

                @{
                    var mode = HttpUtility.ParseQueryString(Request.Url.Query).Get("mode");
                    var ordineFromCache = HttpContext.Current.Cache.Get("OrdinamentoEM");

                    var ordinePagina = HttpUtility.ParseQueryString(Request.Url.Query).Get("ordine");
                    OrdinamentoEnum ordinePaginaEnum;
                    if (!string.IsNullOrEmpty(ordinePagina))
                    {
                        ordinePaginaEnum = (OrdinamentoEnum)Convert.ToInt16(ordinePagina);
                    }
                    else if (ordineFromCache != null)
                    {
                        ordinePaginaEnum = (OrdinamentoEnum)ordineFromCache;
                    }
                    else
                    {
                        ordinePaginaEnum = OrdinamentoEnum.Presentazione;
                    }
                }

                @using (Html.BeginForm("Filtri_RiepilogoEM", "Emendamenti", FormMethod.Post, new { id = "formFiltraEM" }))
                {
                    @Html.AntiForgeryToken()

                    <input id="inputFilterPage" type="hidden" name="page" value="" />
                    <input type="hidden" name="size" value="@Model.Data.Paging.Limit" />
                    <input type="hidden" name="mode" value="@mode" />
                    <input type="hidden" name="ordine" value="@((int) ordinePaginaEnum)" />
                    <input type="hidden" id="inputFiltroAtto" name="atto" value="@Model.Atto.UIDAtto" />

                    <div class="row" style="margin: 0 !important">
                        <div class="col s12">
                            <div class="row valign-wrapper" style="margin-bottom: unset !important;margin-top: unset !important;">
                                <div class="input-field col s5">
                                    <input placeholder="Immetti qui il testo che vuoi cercare" class="validate" type="text" id="filter_em_text1" name="filtro_text1" onchange="filter_em_text1_OnChange()" />
                                    <label for="filter_em_text1">Cerca nel testo</label>
                                </div>
                                <div class="input-field col s2">
                                    <select id="filter_em_text_connector" name="filtro_text_connector" onchange="filter_em_text_connector_OnChange()">
                                    </select>
                                </div>
                                <div class="input-field col s5">
                                    <input placeholder="Immetti qui il testo che vuoi cercare" class="validate" type="text" id="filter_em_text2" name="filtro_text2" onchange="filter_em_text2_OnChange()" />
                                    <label for="filter_em_text2">Cerca nel testo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="row valign-wrapper" style="margin-bottom: unset !important;margin-top: unset !important;">
                                <div class="input-field col s2">
                                    <input placeholder="..." class="validate" type="text" id="filter_em_n_em" name="filtro_n_em" onchange="filter_em_n_em_OnChange()" />
                                    <label for="filter_em_n_em">Numero EM</label>
                                </div>
                                <div class="input-field col s5">
                                    <label class="active">Tipo</label>
                                    <select id="filter_em_tipo" name="filtro_tipo" onchange="filter_em_tipo_OnChange()"></select>
                                </div>
                                <div class="input-field col s5">
                                    <label class="active">Stato</label>
                                    <select id="filter_em_stato" name="filtro_stato" onchange="filter_em_stato_OnChange()"></select>
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s12">
                            <label class="active">Parte</label>
                            <select id="filter_em_parte" name="filtro_parte" onchange="filter_em_parte_OnChange()"></select>
                        </div>
                        <div class="col s12">
                            <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
                                @*ARTICOLI - COMMI - LETTERE*@
                                <div id="pnlFiltroArticolo" class="input-field col s4" style="display: none;">
                                    <label class="active">Articolo</label>
                                    <select id="filter_em_parte_articolo" name="filtro_parte_articolo"
                                            onchange="filter_em_parte_articolo_OnChange()">
                                    </select>
                                </div>
                                <div id="pnlFiltroComma" class="input-field col s4" style="display: none;">
                                    <label class="active">Comma</label>
                                    <select id="filter_em_parte_comma" name="filtro_parte_comma"
                                            onchange="filter_em_parte_comma_OnChange()">
                                    </select>
                                </div>
                                <div id="pnlFiltroLettera" class="input-field col s4" style="display: none;">
                                    <label class="active">Lettera</label>
                                    <select id="filter_em_parte_lettera" name="filtro_parte_lettera"
                                            onchange="filter_em_parte_lettera_OnChange()">
                                    </select>
                                </div>

                                <div id="pnlFiltroLetteraOLD" class="input-field col s4" style="display: none;">
                                    <label for="filter_em_parte_letteraOLD">Lettera</label>
                                    <input placeholder="Immetti qui la lettera" class="validate" type="text" id="filter_em_parte_letteraOLD" name="filtro_parte_letteraOLD" onchange="filter_em_parte_letteraOLD_OnChange()" />
                                </div>

                                @*TITOLO*@
                                <div id="pnlFiltroTitolo" class="input-field col s12" style="display: none;">
                                    <label for="filter_em_parte_titolo">Titolo</label>
                                    <input placeholder="Immetti qui il titolo che vuoi cercare" class="validate" type="text" id="filter_em_parte_titolo" name="filtro_parte_titolo" onchange="filter_em_parte_titolo_OnChange()" />
                                </div>

                                @*CAPO*@
                                <div id="pnlFiltroCapo" class="input-field col s12" style="display: none;">
                                    <label for="filter_em_parte_capo">Capo</label>
                                    <input placeholder="Immetti qui il capo che vuoi cercare" class="validate" type="text" id="filter_em_parte_capo" name="filtro_parte_capo" onchange="filter_em_parte_capo_OnChange()" />
                                </div>

                                @*MISSIONE*@
                                <div id="pnlFiltroMissione" class="input-field col s8" style="display: none;">
                                    <label class="active">Missione</label>
                                    <select id="filter_em_parte_missione" name="filtro_parte_missione" class="form-control"
                                            onchange="filter_em_parte_missione_OnChange()">
                                    </select>
                                </div>

                                @*PROGRAMMA*@
                                <div id="pnlFiltroProgramma" class="input-field col s4" style="display: none;">
                                    <label for="filter_em_parte_programma">Programma</label>
                                    <input placeholder="Immetti qui il programma" class="validate" type="text" id="filter_em_parte_programma" name="filtro_parte_programma" class="form-control" onchange="filter_em_parte_programma_OnChange()" />
                                </div>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <label>Gruppi</label>
                            <div id="filter_em_gruppi" name="filtro_gruppo" class="chips chips-autocomplete"></div>
                        </div>
                        <div class="input-field col s12">
                            <label>Proponenti</label>
                            <div id="filter_em_proponente" name="filtro_proponente" class="chips chips-autocomplete"></div>
                        </div>
                        <div class="input-field col s12">
                            <label>Firmatari</label>
                            <div id="filter_em_firmatari" name="filtro_firmatari" class="chips chips-autocomplete"></div>
                        </div>
                        <div class="input-field col s12">
                            <label>
                                <input type="checkbox" id="filter_em_my" name="filtro_my" onchange="filter_em_my_OnChange()">
                                <span for="filter_em_my">Visualizza i miei EM</span>
                            </label>
                        </div>
                        <div class="input-field col s12">
                            <label>
                                <input type="checkbox" id="filter_em_effetti_finanziari" name="filtro_effetti_finanziari" onchange="filter_em_financials_OnChange()">
                                <span for="filter_em_effetti_finanziari">Visualizza solo EM con effetti finanziari</span>
                            </label>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col s12 center">
                        <a class="btn chip hoverable blue center white-text" onclick="filtra(1)">
                            <i class="icon material-icons">search</i> Filtra
                        </a>
                        <a class="btn chip hoverable grey center white-text" onclick="reset()">
                            <i class="icon material-icons">close</i> Reset
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header light-blue lighten-4"><i class="material-icons">import_export</i>Esporta</div>
            <div class="collapsible-body">
                <div class="container">
                    <div class="btn chip hoverable green lighten-1 center white-text" onclick="EsportaXLS('@Model.Atto.UIDAtto')" style="width: 100%">
                        <i class="icon material-icons">grid_on</i> EXCEL
                    </div>

                    <div class="btn chip hoverable blue lighten-1 center white-text" onclick="EsportaDOC('@Model.Atto.UIDAtto')" style="width: 100%">
                        <i class="icon material-icons">font_download</i> WORD
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script>
    var gruppiInstance;
    var proponentiInstance;
    var firmatariInstance;

    $(document).ready(async function () {
        await SetupFiltriGruppi();
        await SetupProponenti_Firmatari();
    });

    async function SetupProponenti_Firmatari() {
        var persone = await GetPersoneFromDB();
        var resultPersone = [];
        $.each(persone,
            function (index, item) {
                resultPersone.push({ tag: item.DisplayName, id: item.UID_persona });
            });
        var elems = document.querySelector('#filter_em_proponente');
        var elems2 = document.querySelector('#filter_em_firmatari');
        var autocompleteDataOptions = {
            data: resultPersone,
            limit: 10,
            minLength: 1
        };
        proponentiInstance = M.Chips.init(elems,
            {
                autocompleteOptions: autocompleteDataOptions,
                data: [],
                onChipAdd: function (e, chip) {
                },
                onChipSelect: function (e, chip) {
                },
                onChipDelete: function (e, chip) {
                }
            });
        firmatariInstance = M.Chips.init(elems2,
            {
                autocompleteOptions: autocompleteDataOptions,
                data: [],
                onChipAdd: function (e, chip) {
                },
                onChipSelect: function (e, chip) {
                },
                onChipDelete: function (e, chip) {
                }
            });
    }

    async function SetupFiltriGruppi() {
        var gruppi = await GetGruppi();
        var resultGruppi = [];
        $.each(gruppi,
            function (index, item) {
                resultGruppi.push({ tag: item.descr, id: item.key });
            });
        var elems = document.querySelector('#filter_em_gruppi');
        var autocompleteDataOptions = {
            data: resultGruppi,
            limit: 10,
            minLength: 1
        };
        gruppiInstance = M.Chips.init(elems,
            {
                autocompleteOptions: autocompleteDataOptions,
                data: [],
                onChipAdd: function (e, chip) {
                },
                onChipSelect: function (e, chip) {
                },
                onChipDelete: function (e, chip) {
                }
            });
    }

    async function GetGruppi() {
        var gruppi = get_Gruppi();
        if (gruppi.length > 0) {
            return gruppi;
        }

        return new Promise(async function (resolve, reject) {
            $.ajax({
                url: baseUrl + "/persone/gruppi-politici",
                type: "GET"
            }).done(function (result) {
                set_Gruppi(result);
                resolve(result);
            }).fail(function (err) {
                console.log("query - GetGruppiPolitici - error", err);
                ErrorAlert(err);
            });
        });
    }
</script>