@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Response.EmendamentiViewModel

@if (!Model.Data.Results.Any())
{
    <div class="row">
        <div class="col s12">
            <div class="card-panel panel-warning center">
                <span class="center">
                    Non ci sono emendamenti al momento
                </span>
            </div>
        </div>
    </div>
}
else
{
    <style>
        tr {
            border-bottom: unset !important;
        }
        /* 2020-12-13 - matcat -  Modifica per visualizzazione body em in pdf. Materialize disturba la renderizzazione delle tabelle e delle colonne */
        table > tbody > tr > td > table > tbody >tr >td {
            border: unset!important
        }
       
    </style>

    var attoChiuso = false;
    if (Model.Atto.Data_chiusura.HasValue)
    {
        var dtChiusuraAtto = Convert.ToDateTime(Model.Atto.Data_chiusura.Value);
        if (dtChiusuraAtto < DateTime.Now)
        {
            attoChiuso = true;
        }
    }


    foreach (var itemEM in Model.Data.Results)
    {
        var abilitaInvitoConsigliere = false;
        var abilitaInvitoSegreteria = false;
        var abilitaFirma = false;
        var abilitaDeposito = false;

        if ((HttpContext.Current.User.IsInRole(RuoliEnum.Consigliere_Regionale)
             || HttpContext.Current.User.IsInRole(RuoliEnum.Assessore_Sottosegretario_Giunta)
             || HttpContext.Current.User.IsInRole(RuoliEnum.Presidente_Regione))
            && itemEM.UIDPersonaProponente == Model.CurrentUser.UID_persona
            && itemEM.Firmato_Dal_Proponente
            && itemEM.Depositabile
            && !attoChiuso)
        {
            abilitaInvitoConsigliere = true;
        }

        if ((HttpContext.Current.User.IsInRole(RuoliEnum.Responsabile_Segreteria_Politica)
             || HttpContext.Current.User.IsInRole(RuoliEnum.Segreteria_Politica)
             || HttpContext.Current.User.IsInRole(RuoliEnum.Responsabile_Segreteria_Giunta)
             || HttpContext.Current.User.IsInRole(RuoliEnum.Segreteria_Giunta_Regionale))
            && itemEM.STATI_EM.IDStato <= (int) StatiEnum.Bozza
            && attoChiuso)
        {
            abilitaInvitoSegreteria = true;
        }

        <div class="col s12 m12 l12">
            <div class="card hoverable">
                <div class='row'>
                    <div class='col s4'>
                        <div class='card-action left'>
                            <label>
                                <input type="checkbox" id="chk_EM_@itemEM.UIDEM" onclick="AbilitaComandiMassivi('@itemEM.UIDEM');"/>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class='col s4'>
                        <div class='card-action center'>
                            <div class="chip center white-text @itemEM.STATI_EM.CssClass" style="min-width: 180px">
                                @itemEM.STATI_EM.Stato
                            </div>
                        </div>
                    </div>
                    <div class='col s4'>
                        <div class='card-action right'>
                            <a class='btn-floating btn-small green lighten-1 white-text' style='margin: 5px' onclick="StampaPDF('@itemEM.UIDEM')">
                                <i class="icon material-icons" title="Scarica PDF">picture_as_pdf</i>
                            </a>
                            <a class='btn-floating btn-small blue lighten-1 white-text' style='margin: 5px' target='_blank' onclick="StampaWORD('@itemEM.UIDEM')">
                                <i class="icon material-icons" title="Scarica WORD">insert_drive_file</i>
                            </a>
                            @if (HttpContext.Current.User.IsInRole(RuoliEnum.Segreteria_Assemblea) || HttpContext.Current.User.IsInRole(RuoliEnum.Amministratore_PEM))
                            {
                                <a class='btn-floating btn-small blue white-text' style='margin: 5px' onclick="ViewMetaDati('@itemEM.UIDEM')">
                                    <i class="icon material-icons" title="Modifica dati">edit</i>
                                </a>
                            }

                            @if (abilitaInvitoConsigliere || abilitaInvitoSegreteria)
                            {
                                <a class='btn-floating btn-small amber white-text' style='margin: 5px' onclick="Invita('@itemEM.UIDEM')">
                                    <i class="icon material-icons" title="Invita">send</i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class='card-content' style="padding: 0">
                    @Html.Raw(itemEM.BodyEM)
                </div>
                @if (itemEM.Firmabile || itemEM.Depositabile)
                {
                    <div class='row'>
                        <div class='col s12'>
                            <div class='card-action right'>
                                @{
                                    if (itemEM.STATI_EM.IDStato <= (int) StatiEnum.Depositato)
                                    {
                                        if (itemEM.Firmabile)
                                        {
                                            <a class='btn-floating btn-small green white-text' style='margin: 5px' onclick="Firma('@itemEM.UIDEM')">
                                                <i class="icon material-icons" title="Firma">gavel</i>
                                            </a>
                                        }
                                    }
                                    if (itemEM.STATI_EM.IDStato <= (int) StatiEnum.Bozza)
                                    {
                                        if (itemEM.Depositabile)
                                        {
                                            <a class='btn-floating btn-small purple white-text' style='margin: 5px' onclick="Deposito('@itemEM.UIDEM')">
                                                <i class="icon material-icons" title="Deposita">lock</i>
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
}

