@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Model
@model  PortaleRegione.DTO.Model.EmendamentiFormModel

@{
    ViewBag.Title = string.Format("Meta Dati {0}", Model.Emendamento.N_EM);
    var ordineFromCache = HttpContext.Current.Cache.Get($"{CacheHelper.ORDINAMENTO_PEM}_{Model.CurrentUser.UID_persona.ToString()}");
    object objParams = null;
    if (ordineFromCache != null)
    {
        objParams = new
        {
            id = Model.Emendamento.UIDAtto,
            ordine = ordineFromCache
        };
    }
    else
    {
        objParams = new
        {
            id = Model.Emendamento.UIDAtto
        };
    }

    var backUrl = Url.Action("RiepilogoEmendamenti", objParams);
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col l1 s2">
        <button type="button" role="button" class="btn-floating grey darken-3 header-back" onclick="go('@backUrl')">
            <i class="material-icons">arrow_back</i>
        </button>
    </div>
    <div class="col l11 s10">
        <h5>
            <b>
                <span>@ViewBag.Title</span>
            </b>
        </h5>
    </div>
</div>
@using (Html.BeginForm("SalvaMetaDatiEmendamento", "Emendamenti", FormMethod.Post, new {id = "formMetaDati"}))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Emendamento.UIDEM)
    @Html.HiddenFor(m => m.Emendamento.UIDAtto)

    <div class="card">
        <div class="card-content">
            <ul id="emendamentoFormsTabs" class="tabs tabs-fixed-width">
                <li class="tab col s3">
                    <a class="active" href="#metaDatiTab">Meta dati</a>
                </li>
                <li class="tab col s3">
                    <a href="#testoEMTab">Testo</a>
                </li>
                <li class="tab col s3">
                    <a href="#noteTab">Note</a>
                </li>
            </ul>
            <div id="metaDatiTab" class="col s12">
                @Html.Partial("_MetaDatiPanel", Model)

                <div class="form-group">
                    @Html.LabelFor(m => m.Emendamento.AreaPolitica)
                    @Html.DropDownListFor(m => m.Emendamento.AreaPolitica, new SelectList(Model.ListaAreaPolitica, "id", "descr"), "Seleziona area politica", new {@class = "form-control"})
                </div>
            </div>
            <div id="testoEMTab" class="col s12">
                <div class="form-group">
                    @Html.LabelFor(s => s.Emendamento.TestoEM_Modificabile)
                    @Html.TextAreaFor(model => model.Emendamento.TestoEM_Modificabile, new {@class = "form-control trumbowyg"})
                </div>
            </div>
            <div id="noteTab" class="col s12">
                <div class="card-action green lighten-4">
                    <label>Nota pubblica</label>
                    @Html.TextAreaFor(model => model.Emendamento.NOTE_Griglia, new {@class = "form-control"})
                </div>
                <div class="card-action red lighten-4">
                    <label>Nota riservata</label>
                    @Html.TextAreaFor(model => model.Emendamento.NOTE_EM, new {@class = "form-control"})
                </div>
            </div>
        </div>
    </div>
}
<div class="fixed-action-btn">
    <button class="btn-floating btn-large blue darken-3" id="btnSave" type="button">
        <i class="large material-icons">save</i>
    </button>
</div>

<script>

    $("#btnSave").on("click",
        function() {
            setTimeout(function () {
                $('body').removeClass('loaded');
            }, 200);
            $('#formMetaDati').submit();
        });

    $("#formMetaDati").submit(function(e) {
        e.preventDefault();
    }).validate({
        submitHandler: function(form) {
            var body = JSON.parse(JSON.stringify($("#formMetaDati").serializeObject()));

            var container = $("#Emendamento_TestoEM_Modificabile").parent();
            var editor = $(container).find(".trumbowyg-editor");

            if (editor.text() != "")
                body["Emendamento.TestoEM_Modificabile"] = editor.html();
            console.log(body)
            //submit via ajax
            $.ajax({
                url: '@Url.Action("SalvaMetaDatiEmendamento")',
                type: "POST",
                data: JSON.stringify(body),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function(data) {
                console.log(data)
                if (data.message)
                    swal({
                        title: "Errore",
                        text: data.message,
                        icon: "error"
                    });
                else
                    go(data);
            }).fail(function(err) {
                console.log("error", err);
                if (err.responseJSON.message) {
                    ErrorAlert(err.responseJSON.message);
                }else{
                    Error(err);
                }
            });

            return false; //This doesn't prevent the form from submitting.
        }
    });
</script>