@using PortaleRegione.DTO.Enum
@using PortaleRegione.DTO.Model
@model PortaleRegione.DTO.Domain.EmendamentiDto

@{
    var displayAtto = string.Format("{0} {1}", Model.ATTI.TIPI_ATTO.Tipo_Atto, Model.ATTI.NAtto);
    ViewBag.Title = string.Format("{0}", displayAtto);

    var ordineFromCache = HttpContext.Current.Cache.Get("OrdinamentoEM");
    object objParams = null;
    if (ordineFromCache != null)
    {
        objParams = new
        {
            id = Model.UIDAtto,
            ordine = ordineFromCache
        };
    }
    else
    {
        objParams = new
        {
            id = Model.UIDAtto
        };
    }
    var backUrl = Url.Action("RiepilogoEmendamenti", objParams);

    var gruppoText = "";
    if (Model.id_gruppo >= 10000)
    {
        gruppoText = "Giunta regionale";
    }
    else
    {
        gruppoText = Model.gruppi_politici.nome_gruppo;
    }
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col l1 s2">
        <a class="btn-floating waves-effect waves-light grey header-back" onclick="go('@backUrl')">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
    <div class="col l11 s10">
        <h5>
            <b>
                <span>@ViewBag.Title</span>
            </b>
        </h5>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-action grey lighten-4 center">
                <h6>
                    <b>
                        <span>@Html.Raw(gruppoText)</span>
                    </b>
                </h6>
            </div>
            @if (Model.Firmabile || Model.Depositabile || Model.Eliminabile || Model.Ritirabile || Model.Modificabile)
            {
                <div class="card-action grey lighten-4 center" style="border-top: unset">
                    <div class="row" style="margin: 0 !important">
                        <div class="col s12" style="margin-top: 5px">
                            @if (Model.Firmabile)
                            {
                                <div class="btn chip hoverable green center white-text" onclick="RevealFirmaDeposito('@Model.UIDEM', @Html.Raw((int) ActionEnum.FIRMA))">
                                    <i class="icon material-icons">gavel</i> Firma
                                </div>
                            }
                            @if (Model.Depositabile)
                            {
                                <div class="btn chip hoverable purple center white-text" onclick="RevealFirmaDeposito('@Model.UIDEM', @Html.Raw((int) ActionEnum.DEPOSITA))">
                                    <i class="icon material-icons">lock</i> Deposita
                                </div>
                            }
                            @if (Model.Eliminabile)
                            {
                                <div class="btn chip hoverable red center white-text" onclick="ConfirmAction('@Model.UIDEM', '@Model.DisplayTitle', @Html.Raw((int) ActionEnum.ELIMINA))">
                                    <i class="icon material-icons">delete</i> Elimina
                                </div>
                            }
                            @if (Model.Ritirabile)
                            {
                                <div class="btn chip hoverable brown lighten-3 center" onclick="ConfirmAction('@Model.UIDEM', '@Model.DisplayTitle', @Html.Raw((int) ActionEnum.RITIRA))">
                                    <i class="icon material-icons">settings_backup_restore</i> Ritira
                                </div>
                            }
                            @if (Model.Modificabile)
                            {
                                <div class="btn chip hoverable blue center white-text" onclick="go('@Url.Action("ModificaEmendamento", new {id = Model.UIDEM})')">
                                    <i class="icon material-icons">edit</i> Modifica
                                </div>
                            }
                            @if (Model.Invito_Abilitato)
                            {
                                <div class="btn chip hoverable amber center" onclick="NotificaA('@Model.UIDAtto', @((int) TipoDestinatarioNotificaEnum.CONSIGLIERI_ASSESSORI))">
                                    <i class="icon material-icons">share</i> Invita
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="card-content">
                @* NOTA PUBBLICA + GRUPPO + PROPONENTE *@
                <div class="row">
                    <div class="col s6 left">
                        @if (Model.UIDPersonaModifica.HasValue)
                        {
                            <label style="font-size: small !important">Ultima modifica: </label>
                            <br/>
                            <b>[@Model.DataModifica.Value.ToString("dd/MM/yyyy HH:mm")] @Model.PersonaModifica.DisplayName</b>
                        }
                        @if (!string.IsNullOrEmpty(Model.NOTE_Griglia))
                        {
                            <p class="green-text" style="padding-top: 10px">
                                <b>Nota ufficio dei lavori assembleari: @Model.NOTE_Griglia</b>
                            </p>
                        }
                    </div>
                    <div class="col s6 right-align">
                        <label style="font-size: small !important">Proponente: </label>
                        <br/>
                        <b>@Model.PersonaProponente.DisplayName</b>
                    </div>
                </div>
                @* TITOLO *@
                <div class="row">
                    <div class="col s12 center">
                        <h4>
                            <b>
                                <span>@Html.Raw(Model.DisplayTitle)</span>
                            </b>
                        </h4>
                    </div>
                </div>
                @* BODY *@
                <div class="row">
                    <div class="col s12 center bodyEMClass">
                        @Html.Raw(Model.BodyEM)
                    </div>
                </div>
                @* FIRME *@
                <div class="row">
                    <div class="col s12">
                        @Html.Raw(Model.Firme)

                        @if (!string.IsNullOrEmpty(Model.DataDeposito))
                        {
                            var testoDeposito = "Emendamento depositato";
                            if (Model.Firma_da_ufficio)
                            {
                                testoDeposito += " d'ufficio";
                            }

                            <label class="green-text">@testoDeposito il @Html.Raw(Model.DataDeposito)</label>
                        }

                        @if (!string.IsNullOrEmpty(Model.Firme_dopo_deposito))
                        {
                            @Html.Raw(Model.Firme_dopo_deposito)
                        }
                    </div>
                </div>

                @* INVITI *@
                @if (!string.IsNullOrEmpty(Model.Destinatari))
                {
                    <div class="row">
                        <div class="col s12">
                            <h5>Invitati</h5>
                            <hr/>
                            @Html.Raw(Model.Destinatari)
                        </div>
                    </div>
                }

                @* CREA SUB EM *@
                @Html.Partial("_CommandSUBEM", Model)

                @* NOTE RISERVATE *@
                @if (!string.IsNullOrEmpty(Model.NOTE_EM))
                {
                    <div class="row">
                        <div class="col s12">
                            <p class="red-text">
                                <b>Nota riservata: @Model.NOTE_EM</b>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@Html.Partial("_InvitoPanel", new InvitoPanelModel
{
    UIDAtto = Model.UIDAtto,
    UIDEM = Model.UIDEM
})

@section scripts
{
    <script>
        setListaEmendamenti([]);
        setSelezionaTutti(false);
    </script>
}