@using Newtonsoft.Json
@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Domain
@using PortaleRegione.DTO.Enum
@using PortaleRegione.DTO.Model
@model PortaleRegione.DTO.Domain.EmendamentiDto

@{
	Layout = null;
	ViewBag.Title = $"{Model.N_EM}";

	var gruppoText = "";
	if (Model.id_gruppo >= 10000)
	{
		gruppoText = "Giunta regionale";
	}
	else
	{
		gruppoText = Model.gruppi_politici.nome_gruppo;
	}
}

<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	@Styles.Render("~/Content/css")
	@*Import Trumbowyg plugins style...*@
	<link href="~/Content/editor/plugins/table/ui/trumbowyg.table.min.css" rel="stylesheet" />

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	@Scripts.Render("~/bundles/lib")
	@Scripts.Render("~/bundles/logic")
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="~/Scripts/moment.js"></script>
</head>
<body>
	<script>
		$(document).ready(function () {
			$('#btnSearch').hide();
		});
	</script>

	<div class="row">
		<div class="col s12">
			<a class="btn-floating waves-effect waves-light grey darken-3 header-back" onclick="window.close()">
				<i class="material-icons">close</i>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-action grey lighten-4 center">
					<div class="chip @Model.STATI_EM.CssClass white" style="min-width: unset; position: absolute; right: 10px; top: -18px;">@Model.STATI_EM.Stato</div>
					<h6>
						<b>
							<span>@Html.Raw(gruppoText)</span>
						</b>
					</h6>
				</div>
				@if (Model.Firmabile || Model.Depositabile || Model.Eliminabile || Model.Ritirabile || Model.Modificabile)
				{
					<div class="card-action grey lighten-4 center" style="border-top: unset">
						<div class="row" style="margin: 0 !important">
							<div class="col s12" style="margin-top: 5px">
								@if (Model.Firmabile)
								{
									<button class="btn-flat green-text truncate" onclick="RevealFirmaDeposito('@Model.UIDEM', @Html.Raw((int)ActionEnum.FIRMA))">
										Firma
									</button>
								}
								@if (Model.Depositabile)
								{
									<button class="btn-flat purple-text truncate" onclick="RevealFirmaDeposito('@Model.UIDEM', @Html.Raw((int)ActionEnum.DEPOSITA))">
										Presenta
									</button>
								}
								@if (Model.Modificabile)
								{
									<button class="btn-flat blue-text truncate" onclick="go('@Url.Action("ModificaEmendamento", new { id = Model.UIDEM })')">
										Modifica
									</button>
								}
								@if (Model.Invito_Abilitato)
								{
									<button class="btn-flat amber-text truncate" onclick="NotificaAEM('@Model.UIDAtto', @((int)TipoDestinatarioNotificaEnum.CONSIGLIERI))">
										Invita
									</button>
								}
								@if (Model.Eliminabile)
								{
									<button class="btn-flat red-text truncate" onclick="ConfirmAction('@Model.UIDEM', '@Model.N_EM.Replace(" all\'", " -")', @Html.Raw((int)ActionEnum.ELIMINA))">
										Elimina
									</button>
								}
								@if (Model.Ritirabile)
								{
									<button class="btn-flat red-text truncate" onclick="ConfirmAction('@Model.UIDEM', '@Model.N_EM.Replace(" all\'", " -")', @Html.Raw((int)ActionEnum.RITIRA))">
										Ritira EM/SUBEM
									</button>
								}
							</div>
						</div>
					</div>
				}
				<div class="card-content">
					@* NOTA PUBBLICA + GRUPPO + PROPONENTE *@
					<div class="row">
						<div class="col s6 left">
							@if (Model.UIDPersonaModifica.HasValue && Model.IDStato < (int)StatiEnum.Depositato)
							{
								<label style="font-size: small !important">Ultima modifica: </label>
								<br />
								<b>[@Model.DataModifica.Value.ToString("dd/MM/yyyy HH:mm")] @Model.PersonaModifica.DisplayName</b>
							}
							@if (!string.IsNullOrEmpty(Model.NOTE_Griglia))
							{
								<div class="green-text">
									<p style="padding-top: 10px">
										<b>Nota ufficio dei lavori assembleari: </b>
										@Html.Raw(Model.NOTE_Griglia)
									</p>
								</div>
							}
						</div>
						<div class="col s6 right-align">
							<label style="font-size: small !important">Proponente: </label>
							<br />
							<b>@Model.PersonaProponente.DisplayName</b>
						</div>
					</div>
					@if (!string.IsNullOrEmpty(Model.EM_Certificato))
					{
						@* TITOLO *@
						<div class="row">
							<div class="col s12 center">
								<h4>
									<b>
										<span>@Html.Raw(Model.N_EM)</span>
									</b>
								</h4>
							</div>
						</div>
					}
					@* BODY *@
					<div class="row">
						<div class="col s12 center bodyEMClass">
							@Html.Raw(Model.BodyEM)
						</div>
					</div>
					@* FIRME *@
					<div class="row">
						<div class="col s12">
							@Html.Raw(Model.Firme)

							@if (!string.IsNullOrEmpty(Model.DataDeposito))
							{
								var testoDeposito = "Emendamento depositato";
								if (Model.Firma_da_ufficio)
								{
									testoDeposito += " d'ufficio";
								}

								<label class="black-text">
									<b>@testoDeposito il @Html.Raw(Model.DataDeposito)</b>
								</label>
							}
						</div>
					</div>
					@if (!string.IsNullOrEmpty(Model.TestoEM_Modificabile))
					{
						<div class="row">
							<div class="col s12 l12">
								<h5>Durante la discussione in aula il testo è stato così modificato:</h5>
								<hr />
								@Html.Raw(Model.TestoEM_Modificabile)
							</div>
						</div>
					}
					@if (Model.UIDPersonaProponenteOLD.HasValue)
					{
						<div class="row">
							<div class="col s12 l12">
								<div class="card amber">
									<div class="card-content">
										<span class="black-text">
											L'emendamento ritirato è stato fatto proprio da @Model.PersonaProponente.DisplayName
										</span>
									</div>

								</div>
							</div>
						</div>
					}

					@* INVITI *@
					@if (Model.IDStato < (int)StatiEnum.Depositato)
					{
						if (!string.IsNullOrEmpty(Model.Destinatari) && !User.IsInRole(RuoliExt.Segreteria_Assemblea))
						{
							<div class="row">
								<div class="col s12">
									<h5>Invitati</h5>
									<hr />
									@Html.Raw(Model.Destinatari)
								</div>
							</div>
						}
					}


					@* CREA SUB EM *@
					@Html.Partial("_CommandSUBEM", Model)

					@* NOTE RISERVATE *@
					@if (!string.IsNullOrEmpty(Model.NOTE_EM) &&
						 (User.IsInRole(RuoliExt.Amministratore_PEM)
						  || User.IsInRole(RuoliExt.Segreteria_Assemblea)))
					{
						<div class="row">
							<div class="col s12 red-text">
								<p>
									<b>Nota riservata:</b>
									@Html.Raw(Model.NOTE_EM)
								</p>
							</div>
						</div>
					}

					@*TAGS*@

					@{
						var tags = new List<TagDto>();

						if (!string.IsNullOrEmpty(Model.Tags) && Model.IDStato < (int)StatiEnum.Depositato)
						{
							tags = JsonConvert.DeserializeObject<List<TagDto>>(Model.Tags);
						}
					}

					@foreach (var t in tags)
					{
						<label>#@t.tag</label>
					}
				</div>
			</div>

		</div>
	</div>

	<div class="fixed-action-btn">
		<a class="btn-floating btn-large white tooltipped" data-position="left" data-tooltip="Stampa" target="_blank" style="margin-right: 15px;" href="@Url.Action("Download", "Emendamenti", new { id = Model.UIDEM })">
			<i style="color: black;" class="large material-icons">print</i>
		</a>
	</div>

	@Html.Partial("_InvitoPanel", new InvitoPanelModel
	{
		UIDAtto = Model.UIDAtto,
		UIDEM = Model.UIDEM
	})


	<script>
		setListaEmendamenti([]);
		setSelezionaTutti(false);
	</script>
	<script>
	function ConfirmAction(id, name, action) {
		$("#emActionDisplayName").empty();
		$("#emActionDisplayName").append(name);
		$("#emActionMessage").empty();

		if (action == 1) {
			$("#btnConfermaAction").text("ELIMINA");
			$("#emActionMessage").append("Stai per eliminare l'emendamento selezionato. Sei sicuro?");
		} else if (action == 2) {
			$("#btnConfermaAction").text("RITIRA");
			$("#emActionMessage").append("Stai per ritirare l'emendamento selezionato. Sei sicuro?");
		}
		$("#btnConfermaAction").on("click",
			function () {
				$.ajax({
					url: baseUrl + "/emendamenti/azioni?id=" + id + "&azione=" + action,
					method: "GET"
				}).done(function (data) {
					$("#modalAction").modal("close");
					$("#btnConfermaAction").off("click");
					console.log(data.message);
					if (data.message) {
						swal({
							title: "Errore",
							text: data.message,
							icon: "error"
						});
					} else {
						window.opener.postMessage("aggiornaPadre", "@AppSettingsConfiguration.URL_CLIENT");
						window.close();
					}
				}).fail(function (err) {
					console.log("error", err);
					Error(err);
				});
			});
		$("#modalAction").modal("open");
	}

	function RitiraFirma(id) {

		swal("Inserisci il pin per ritirare la firma",
			{
				content: {
					element: "input",
					attributes: { placeholder: "******", className: "password" }
				},
				icon: "warning",
				buttons: { cancel: "Annulla", confirm: "Ritira" }
			})
			.then((value) => {
				if (value == null || value == "")
					return;
				$.ajax({
					url: baseUrl + "/emendamenti/ritiro-firma?id=" + id + "&pin=" + value,
					method: "GET"
				}).done(function (data) {
					var typeMessage = "error";
					var str = data.message;
					var pos = str.indexOf("OK");
					if (pos > 0) {
						typeMessage = "success";
					}
					swal({
						title: "Esito ritiro firma",
						text: data.message,
						icon: typeMessage,
						button: "OK"
					}).then(() => {
                        window.opener.postMessage("aggiornaPadre", "@AppSettingsConfiguration.URL_CLIENT");
						location.reload();
					});
				}).fail(function (err) {
					console.log("error", err);
					Error(err);
				});
			});
	}

	function EliminaFirma(id) {

		swal("Inserisci il pin per eliminare la firma",
			{
				content: {
					element: "input",
					attributes: { placeholder: "******", className: "password" }
				},
				icon: "warning",
				buttons: { cancel: "Annulla", confirm: "Elimina" }
			})
			.then((value) => {
				if (value == null || value == "")
					return;
				$.ajax({
					url: baseUrl + "/emendamenti/elimina-firma?id=" + id + "&pin=" + value,
					method: "GET"
				}).done(function (data) {
					if (data.message) {
						var typeMessage = "error";
						var str = data.message;
						var pos = str.indexOf("OK");
						if (pos > 0) {
							typeMessage = "success";
						}
						swal({
							title: "Esito ritiro firma",
							text: data.message,
							icon: typeMessage,
							button: "OK"
						}).then(() => {
                            window.opener.postMessage("aggiornaPadre", "@AppSettingsConfiguration.URL_CLIENT");
							location.reload();
						});
					} else {
                        window.opener.postMessage("aggiornaPadre", "@AppSettingsConfiguration.URL_CLIENT");
						location.reload();
					}
				}).fail(function (err) {
					console.log("error", err);
					Error(err);
				});
			});
	}

	function RevealFirmaDeposito(id, action) {
		var text = "";
		var button = "";
		if (action == 3) {
			text = "Inserisci il PIN per firmare";
			button = "Firma";
		} else if (action == 4) {
			text = "Inserisci il PIN per presentare";
			button = "Presenta";
		}

		swal(text,
			{
				content: {
					element: "input",
					attributes: { placeholder: "******", className: "password" }
				},
				icon: "info",
				buttons: { cancel: "Annulla", confirm: button }
			})
			.then((value) => {
				if (value == null || value == "")
					return;

				$.ajax({
					url: baseUrl + "/emendamenti/azioni?id=" + id + "&azione=" + action + "&pin=" + value,
					method: "GET"
				}).done(function (data) {
					if (data.message) {
						var typeMessage = "error";
						var str = data.message;
						var pos = str.indexOf("OK");
						if (pos > 0) {
							typeMessage = "success";
						}
						swal({
							title: "Esito " + button,
							text: data.message,
							icon: typeMessage,
							button: "OK"
						}).then(() => {
							window.opener.postMessage("aggiornaPadre", "@AppSettingsConfiguration.URL_CLIENT");
                            location.reload();
						});
					} else {
                        window.opener.postMessage("aggiornaPadre", "@AppSettingsConfiguration.URL_CLIENT");
						location.reload();
					}
				}).fail(function (err) {
					console.log("error", err);
					Error(err);
				});
			});
	}
	</script>


	<div id="modalAction" class="modal" style="height: unset !important">
		<div class="modal-content">
			<h5 id="emActionDisplayName"></h5>
			<p id="emActionMessage"></p>
			<div class="modal-footer" style="position: unset !important;">
				<button type="button" class="btn modal-close grey">Annulla</button>
				<a id="btnConfermaAction" class="btn red" href="#">Elimina</a>
			</div>
		</div>
	</div>

</body>
</html>