@using System.Configuration
@model PortaleRegione.DTO.Response.ProiettaResponse

@{
    Layout = null;
    var displayAtto = string.Format("{0} {1}", Model.EM.ATTI.TIPI_ATTO.Tipo_Atto, Model.EM.ATTI.NAtto);
    ViewBag.Title = string.Format("{0}", displayAtto);
}

<!DOCTYPE html>

<html>
<head>
    <title>PEM - Proietta</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    @Styles.Render("~/Content/css")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/logic")

    <script>
        baseUrl = '@Html.Raw(ConfigurationManager.AppSettings["URL_CLIENT"])';
        AggiornaPosizioneTemi(baseUrl);
        var cssTheme = "";
        var mode = getClientMode();
        if (mode == 2) {
            cssTheme = trattazione_theme;
        } else {
            cssTheme = gruppi_theme;
        }

        var cssId = 'client-mode-theme'; // you could encode the css path itself to generate id..
        if (!document.getElementById(cssId)) {
            var head = document.getElementsByTagName('head')[0];
            var link = document.createElement('link');
            link.id = cssId;
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = cssTheme;
            link.media = 'all';
            head.appendChild(link);
        }
    </script>
</head>
<body>
<div class="row">
    <div class="col s12 center">
        <h5>
            <b>
                <span>@ViewBag.Title</span>
            </b>
        </h5>
        <br/>
            @if (Model.prev > 0)
            {

                <a href="@Url.Action("ViewerProietta", "Emendamenti", new {id = Model.EM.UIDAtto, ordine = Model.prev})" class="btn chip hoverable blue white-text" style="margin-left: 20px; margin-top: 15px;">
                    <i class="icon material-icons left">chevron_left</i> Precedente
                </a>
            }
            @if (Model.next > 0)
            {
                <a href="@Url.Action("ViewerProietta", "Emendamenti", new {id = Model.EM.UIDAtto, ordine = Model.next})" class="btn chip hoverable blue white-text" style="margin-left: 20px; margin-top: 15px;">
                    <i class="icon material-icons">chevron_right</i> Prossimo
                </a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-action grey lighten-4 center">
                    <h6>
                        <b>
                            <span>@Html.Raw(Model.EM.gruppi_politici.nome_gruppo.ToUpper())</span>
                        </b>
                    </h6>
                </div>
                <div class="card-content">
                    @* NOTA PUBBLICA + GRUPPO + PROPONENTE *@
                    <div class="row">
                        <div class="col s6 left">
                            @if (!string.IsNullOrEmpty(Model.EM.NOTE_Griglia))
                            {
                                <p class="green-text" style="padding-top: 10px">
                                    <b>Nota ufficio dei lavori assembleari: @Model.EM.NOTE_Griglia</b>
                                </p>
                            }

                        </div>
                        <div class="col s6 right-align">
                            <label style="font-size: small !important">Proponente: </label>
                            <br/>
                            <b>@Model.EM.PersonaProponente.DisplayName</b>
                        </div>
                    </div>
                    @* TITOLO *@
                    <div class="row">
                        <div class="col s12 center">
                            <h4>
                                <b>
                                    <span>@Html.Raw(Model.EM.N_EM)</span>
                                </b>
                            </h4>
                        </div>
                    </div>
                    @* BODY *@
                    <div class="row">
                        <div class="col s12 center bodyEMClass">
                            @Html.Raw(Model.EM.BodyEM)
                        </div>
                    </div>
                    @* FIRME *@
                    <div class="row">
                        <div class="col s12">
                            @Html.Raw(Model.EM.Firme)

                            @if (!string.IsNullOrEmpty(Model.EM.DataDeposito))
                            {
                                var testoDeposito = "Emendamento depositato";
                                if (Model.EM.Firma_da_ufficio)
                                {
                                    testoDeposito += " d'ufficio";
                                }

                                <label class="green-text">@testoDeposito il @Html.Raw(Model.EM.DataDeposito)</label>
                            }

                            @if (!string.IsNullOrEmpty(Model.EM.Firme_dopo_deposito))
                            {
                                @Html.Raw(Model.EM.Firme_dopo_deposito)
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>