@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
<li class="menuItem_Home bold" style="margin-top: -8px">
    <a class="waves-effect" href="@Url.Action("Index", "Home")"><i class="material-icons">home</i>Home</a>
</li>

@if (AppSettingsConfiguration.EnablePEM)
{
    <li class="menuItem_PEM bold">
        <a class="waves-effect" href="@Url.Action("RiepilogoSedute", "PEM")"><i class="material-icons">event</i>PEM</a>
    </li>
}
@if (AppSettingsConfiguration.EnableDASI 
     && !User.IsInRole(((int)RuoliIntEnum.Amministratore_Giunta).ToString())
     && !User.IsInRole(((int)RuoliIntEnum.Assessore_Sottosegretario_Giunta).ToString())
     && !User.IsInRole(((int)RuoliIntEnum.Responsabile_Segreteria_Giunta).ToString())
     && !User.IsInRole(((int)RuoliIntEnum.Segreteria_Giunta_Regionale).ToString())
     && !User.IsInRole(((int)RuoliIntEnum.Presidente_Regione).ToString())
     && !User.IsInRole(((int)RuoliIntEnum.Utente).ToString()))
{
    <li class="menuItem_DASI bold">
        <a class="waves-effect" onclick="goToDASI(this)" data-url="@Url.Action("RiepilogoDASI", "DASI")"><i class="material-icons">event</i>DASI</a>
    </li>

    <script>
    function goToDASI(ctrl){
        var url = $(ctrl).data("url");
        console.log(url)
		set_Filtri_DASI({});
        go(url);
    }
    </script>
}

<li class="menuItem_Notifiche bold">
    <a class="waves-effect" href="@Url.Action("RiepilogoNotifiche", "Notifiche", new { is_inviate = false, archivio = false })">
        <i class="material-icons">email</i>Notifiche
        <div id="counterNotifiche" class="chip pink white-text right" style="margin-top: 8px; min-width: unset; display: none;"></div>
    </a>
</li>
<li class="menuItem_Stampe bold">
    <a class="waves-effect" href="@Url.Action("Index", "Stampe")"><i class="material-icons">print</i>Stampe</a>
</li>
<li class="menuItem_Trattazione bold">
    <a class="waves-effect blue-text" href="#!" onclick="AbilitaTrattazione(@Html.Raw((int)ClientModeEnum.TRATTAZIONE))"><i class="material-icons blue-text">settings_input_antenna</i>Entra in Aula</a>
</li>