@model PortaleRegione.DTO.Response.Paging

@{
    var sizeArray = new[] { 20, 50, 100, 250 };

    // Area Notifiche
    var archivio = HttpUtility.ParseQueryString(Request.Url.Query).Get("archivio");
    var is_inviate = HttpUtility.ParseQueryString(Request.Url.Query).Get("is_inviate");
    var area_notifiche = !string.IsNullOrEmpty(archivio) && !string.IsNullOrEmpty(is_inviate);

    var port = "";
    if (Request.Url.Port > 0)
    {
        port = string.Format(":{0}", Request.Url.Port);
    }

    var url = string.Format("{0}://{1}{2}{3}", Request.Url.Scheme, Request.Url.Host, port, Request.Url.AbsolutePath);

    var prev_url = Model.Has_Prev ? string.Format("{0}{1}", url, Model.Prev_Url.Query) : "#!";
    var next_url = Model.Has_Next ? string.Format("{0}{1}", url, Model.Next_Url.Query) : "#!";
    var first_url = string.Format("{0}{1}", url, Model.First_Url.Query);
    var last_url = string.Format("{0}{1}", url, Model.Last_Url.Query);
    var size_url = url + "?";

    if (!string.IsNullOrEmpty(archivio))
    {
        prev_url += string.Format("&archivio={0}", archivio);
        next_url += string.Format("&archivio={0}", archivio);
        first_url += string.Format("&archivio={0}", archivio);
        last_url += string.Format("&archivio={0}", archivio);
        size_url += string.Format("&archivio={0}", archivio);
    }
    if (!string.IsNullOrEmpty(is_inviate))
    {
        prev_url += string.Format("&is_inviate={0}", is_inviate);
        next_url += string.Format("&is_inviate={0}", is_inviate);
        first_url += string.Format("&is_inviate={0}", is_inviate);
        last_url += string.Format("&is_inviate={0}", is_inviate);
        size_url += string.Format("&is_inviate={0}", is_inviate);
    }

    <div class="row valign-wrapper">
        <div class="col l6 m6 s12">
            <ul class="pagination">
                @if (Model.Has_Prev)
                {
                    //Torna alla prima pagina
                    if (Model.Last_Page > 1)
                    {
                        if (area_notifiche)
                        {
                            <li class="waves-effect" style="margin-top: -4px;">
                                <a href="@first_url">
                                    <i class="material-icons">first_page</i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="waves-effect" style="margin-top: -4px;">
                                <a onclick="filtra(1)">
                                    <i class="material-icons tooltipped"
                                       data-position="top"
                                       data-tooltip="Prima pagina">
                                        first_page
                                    </i>
                                </a>
                            </li>
                        }
                    }

                    if (area_notifiche)
                    {
                        <li class="waves-effect" style="margin-top: -4px;">
                            <a href="@prev_url">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                    }
                    else
                    {
                        //Torna indietro
                        <li class="waves-effect" style="margin-top: -4px;">
                            <a onclick="filtra(@(Model.Page - 1))">
                                <i class="material-icons tooltipped"
                                   data-position="top"
                                   data-tooltip="Pagina precedente">
                                    chevron_left
                                </i>
                            </a>
                        </li>
                    }
                }
                @if (Model.Last_Page > 1)
                {
                    <li class="waves-effect">
                        <span class="badge tooltipped"
                              data-tooltip="Seleziona pagina"
                              data-position="top"
                              onclick="ShowHidePaginationTabs()">
                            Pagina @Model.Page di @Model.Last_Page
                        </span>
                    </li>
                }

                @if (Model.Has_Next)
                {
                    if (area_notifiche)
                    {
                        <li class="waves-effect" style="margin-top: -4px;">
                            <a href="@next_url">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="waves-effect" style="margin-top: -4px;">
                            <a onclick="filtra(@(Model.Page + 1))">
                                <i class="material-icons tooltipped"
                                   data-position="top"
                                   data-tooltip="Prossima pagina">
                                    chevron_right
                                </i>
                            </a>
                        </li>
                    }

                    if (Model.Last_Page > 1)
                    {
                        if (area_notifiche)
                        {
                            <li class="waves-effect" style="margin-top: -4px;">
                                <a href="@last_url">
                                    <i class="material-icons">last_page</i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="waves-effect" style="margin-top: -4px;">
                                <a onclick="filtra(@(Model.Last_Page))">
                                    <i class="material-icons tooltipped"
                                       data-position="top"
                                       data-tooltip="Ultima pagina">
                                        last_page
                                    </i>
                                </a>
                            </li>
                        }
                    }
                }

                <li>
                    <div class="chip deep-purple lighten-5" style="margin-top: -5px;">@Model.Total elementi trovati</div>
                    <input id="hdTotaleDocumenti" type="hidden" value="@Model.Total"/>
                </li>
            </ul>
        </div>
        <div class="col l6 m6 s12 right-align" style="margin-top: -5px;">
            <div class="chip deep-purple lighten-5 center" style="min-width: unset">
                Paginazione
                <a class='dropdown-trigger chip grey white-text' href='#' data-target='ddlPaginazione' style="font-size: small; margin-right: -12px; min-width: unset">@Model.Limit</a>
                <ul id='ddlPaginazione' class='dropdown-content' style="width: 100px !important">
                    @for (var i = 0; i < sizeArray.Length; i++)
                    {
                        <li>
                            @if (area_notifiche)
                            {
                                var sized_url = string.Format("{0}&size={1}", size_url, sizeArray[i]);
                                <a href=@sized_url>@sizeArray[i]</a>
                            }
                            else
                            {
                                <a onclick="filtra_Paginazione(@sizeArray[i])">@sizeArray[i]</a>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="pnlPaginationTabs" class="row">
        <div class="col s12">
            <ul class="tabs tabs-transparent">
                
                @{
                    var pages = new List<int>();
                    for (int i = 1; i <= Model.Last_Page; i++)
                    {
                        pages.Add(i);
                    }

                }

                @foreach (var tab in pages)
                {
                    if (Model.Page == tab)
                    {
                        <li class="tab">
                            <a class="active" onclick="filtra(@(tab))">@tab</a>
                        </li>
                    }
                    else
                    {
                        <li class="tab">
                            <a onclick="filtra(@(tab))">@tab</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}

<script>
    
    $(window).on('load',
        async function () {
            var visibility = getPaginationTabsVisibility();
            if (visibility == true)
            {
                $('#pnlPaginationTabs').show();
            }
            else
            {
                $('#pnlPaginationTabs').hide();
            }
        });

    function ShowHidePaginationTabs(){
        if ($('#pnlPaginationTabs').is(":visible")){
            setPaginationTabsVisibility(false);
            $('#pnlPaginationTabs').hide();
        }else{
            setPaginationTabsVisibility(true);
            $('#pnlPaginationTabs').show();
        }
    }
</script>