@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DashboardModel

@{
    ViewBag.Title = "Cruscotto portale";
}

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <h6>
                    <b>PROSSIME SEDUTE</b>
                </h6>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col s12">
                <ul class="collapsible">
                    @foreach (var seduta in Model.Sedute.Results)
                    {
                        <li class="active grey lighten-4">
                            <div class="collapsible-header black-text">
                                <i class="material-icons">event</i>
                                Seduta del @seduta.Data_seduta.ToString("dd/MM/yyyy HH:mm")
                                @if (seduta.Scadenza_presentazione.HasValue)
                                {
                                    <label style="position: absolute; right: 50px;"> Scadenza presentazione: @Convert.ToDateTime(seduta.Scadenza_presentazione).ToString("dd/MM/yyyy HH:mm")</label>
                                }
                            </div>
                            <div class="collapsible-body">
                                <div class="row" style="margin: 0 !important">
                                    <div class="col l6 s12">
                                        <div class="row" style="margin: 0 !important">
                                            <div class="col s12">
                                                <h6>
                                                    <b>PEM</b>
                                                </h6>
                                            </div>
                                        </div>
                                        <hr/>
                                        @{
                                            var pemList = Model.PEM.FirstOrDefault(a => a.Results.Any(item => item.UIDSeduta == seduta.UIDSeduta));
                                        }
                                        @if (pemList != null)
                                        {
                                            <ul class="collapsible" style="position: relative">
                                                @foreach (var attoPem in pemList.Results)
                                                {
                                                    var titolo_atto = string.Format("{0} {1}", attoPem.TIPI_ATTO.Tipo_Atto, attoPem.NAtto);
                                                    <li>
                                                        <div class="collapsible-header">
                                                            <i class="material-icons pink-text">textsms</i>
                                                            @titolo_atto
                                                            <div class="collapsabile-secondary-header">
                                                                <div class="chip">@(attoPem.Conteggio_EM + attoPem.Conteggio_SubEM) EM</div>
                                                            </div>
                                                        </div>
                                                        <div class="collapsible-body">
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <label>
                                                                        <b>Oggetto</b>
                                                                    </label>
                                                                    <br/>
                                                                    <p>@attoPem.Oggetto</p>
                                                                </div>
                                                                @if (attoPem.UIDAssessoreRiferimento.HasValue)
                                                                {
                                                                    <div class="col s12">
                                                                        <label>
                                                                            <b>Assessore di Riferimento</b>
                                                                        </label>
                                                                        <br/>
                                                                        <div class="chip" style="margin-left: 5px; min-width: unset;">
                                                                            <img src="http://intranet.consiglio.regione.lombardia.it/GC/foto/@attoPem.PersonaAssessore.foto" alt="@attoPem.PersonaAssessore.DisplayName">
                                                                            @attoPem.PersonaAssessore.DisplayName
                                                                        </div>
                                                                    </div>
                                                                }
                                                                <div class="col s12">
                                                                    <label>
                                                                        <b>Relatori</b>
                                                                    </label>
                                                                    <br/>
                                                                    @Html.Raw(Utility.GetRelatori(attoPem.Relatori))
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s6">
                                                                    <a class="btn-flat pink-text"
                                                                       href="@Url.Action("Download", "Atti", new {path = attoPem.Path_Testo_Atto})">
                                                                        <i class="material-icons left">download</i>
                                                                        Scarica
                                                                    </a>
                                                                </div>
                                                                <div class="col s6 right-align">
                                                                    @if (attoPem.Data_apertura.HasValue)
                                                                    {
                                                                        <a class="btn-flat blue-text"
                                                                           onclick="go('@Url.Action("RiepilogoEmendamentiInSeduta", "Emendamenti", new {id = attoPem.UIDAtto})')" title="Riepilogo emendamenti in aula">
                                                                            <i class="material-icons right">chevron_right</i>
                                                                            Riepilogo EM In Seduta
                                                                        </a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <div class="row" style="margin: 0 !important">
                                                <div class="col s12">
                                                    <div class="card-panel panel-warning center">
                                                        <span class="center">
                                                            Non ci sono atti al momento
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col l6 s12">
                                        <div class="row" style="margin: 0 !important">
                                            <div class="col s12">
                                                <h6>
                                                    <b>DASI</b>
                                                </h6>
                                            </div>
                                        </div>
                                        <hr/>
                                        @{
                                            var attoDasi = Model.DASI.FirstOrDefault(a => a.Data.Results.Any(item => item.UIDSeduta == seduta.UIDSeduta));
                                        }
                                        @if (attoDasi != null)
                                        {
                                            <ul class="collapsible" style="position: relative">
                                                @if (attoDasi.CountBarData.ITL > 0)
                                                {
                                                    <li>
                                                        <div class="collapsible-header">
                                                            <i class="material-icons pink-text">textsms</i>
                                                            @PortaleRegione.Common.Utility.GetText_TipoDASI((int) TipoAttoEnum.ITL)
                                                            <div class="collapsabile-secondary-header">
                                                                <div class="chip">@(attoDasi.CountBarData.ITL) Atti</div>
                                                            </div>
                                                        </div>
                                                        <div class="collapsible-body">
                                                            <div class="row">
                                                                <div class="col s12 right-align">
                                                                    <a class="btn-flat blue-text"
                                                                       onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new {id = seduta.UIDSeduta, tipo = (int) TipoAttoEnum.ITL})')" title="Riepilogo atti in seduta">
                                                                        <i class="material-icons right">chevron_right</i>
                                                                        Riepilogo Atti In Seduta
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <div class="row" style="margin: 0 !important">
                                                <div class="col s12">
                                                    <div class="card-panel panel-warning center">
                                                        <span class="center">
                                                            Non ci sono atti di sindacato ispettivo iscritti al momento
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>


        </div>
    </div>
</div>

@*<div id="slide-dashboard-DX" class="sidenav" style="overflow: auto !important">
    <div class="row">
        <h5>Notifiche</h5>
        <hr/>
        <div class="col s12" style="border-bottom: 1px solid grey">
            <div class="form-group">
                <p>
                    <b>EM 1</b>
                    <br/>
                    <label>
                        Soppressivo - Titolo PDL
                        <br/>
                        Entro il <i>27/11/2021 14:39</i>
                    </label>
                </p>
            </div>
            <div class="row valign-wrapper" style="margin-top: 20px">
                <div class="col s6">
                    PIZZUL Fabio (PD)
                </div>
                <div class="col s6 right-align">
                    <div class="btn chip blue white-text" style="min-width: unset" onclick="go('/emendamenti/view/72b37a2b-d9e9-40f9-8099-720a354ed9c9?notificaId=215122677')" title="Vedi EM">
                        <i class="icon material-icons">arrow_forward</i> Vedi EM
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12" style="border-bottom: 1px solid grey">
            <div class="form-group">
                <p>
                    <b>EM 2</b>
                    <br/>
                    <label>
                        Soppressivo - Titolo PDL
                        <br/>
                        Entro il <i>27/11/2021 14:39</i>
                    </label>
                </p>
            </div>
            <div class="row valign-wrapper" style="margin-top: 20px">
                <div class="col s6">
                    PIZZUL Fabio (PD)
                </div>
                <div class="col s6 right-align">
                    <div class="btn chip blue white-text" style="min-width: unset" onclick="go('/emendamenti/view/72b37a2b-d9e9-40f9-8099-720a354ed9c9?notificaId=215122677')" title="Vedi EM">
                        <i class="icon material-icons">arrow_forward</i> Vedi EM
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<script>
    $(document).ready(function() {
        set_Filtri_DASI({});
        set_Filtri_EM({});
        set_ListaArticoliEM([]);
        set_ListaCommiEM([]);
        set_ListaLettereEM([]);
        setListaAtti([]);

        $('#btnSearch').hide();
    });

    $(".secondary-content.blue-text.add").on("click",
        function() {
            var tipo = $(this).data('tipo-dasi');
            openFormDASI(tipo);
        });

    //function openDashboardNotification() {
    //    var elems = document.querySelector("#slide-dashboard-DX");
    //    var instances = M.Sidenav.init(elems,
    //        {
    //            edge: "right",
    //            draggable: true,
    //            onOpenStart: function() {
    //                // Menu laterale SX sotto a layer opaco
    //                $("#slide-out").css("z-index", 997);
    //            },
    //            onCloseEnd: function() {
    //                // Ripristino menu laterale SX
    //                $("#slide-out").css("z-index", 999);
    //            }
    //        });

    //    instances.open();
    //}
</script>