@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DashboardModel

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col s12">
        <h6>
            Benvenuto nel portale per la presentazione dematerializzata del Atti del Consiglio regionale della Lombardia
        </h6>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <h6>
                    <b>PROSSIME SEDUTE</b>
                </h6>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="carousel hide-on-small-only">

                @foreach (var seduta in Model.Sedute.Results)
                {
                    <div class="col s6 carousel-item">
                        <div class="card hoverable green lighten-4 black-text">
                            <div class="card-content">
                                <h5 class="card-title">
                                    <span>Seduta del @seduta.Data_seduta.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                </h5>
                                <div class="row valign-wrapper">
                                    <div class="col s10">
                                        @if (seduta.Scadenza_presentazione.HasValue)
                                        {
                                            <p>
                                                Scadenza presentazione: @Convert.ToDateTime(seduta.Scadenza_presentazione).ToString("dd/MM/yyyy HH:mm")
                                            </p>
                                        }
                                    </div>
                                    <div class="col s2">
                                        @if (!seduta.Data_apertura.HasValue)
                                        {
                                            <div class="chip grey" style="margin-left: -20px; min-width: unset">Chiusa</div>
                                        }
                                        else if (seduta.Data_apertura.Value > DateTime.Now)
                                        {
                                            <div class="chip grey" style="margin-left: -20px; min-width: unset">Chiusa</div>
                                        }
                                        else
                                        {
                                            <a class="btn-floating green" onclick="go('@Url.Action("RiepilogoAtti", "Atti", new {id = seduta.UIDSeduta})')" title="Riepilogo atti">
                                                <i class="material-icons">chevron_right</i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col l6 s12">
        <div class="row">
            <div class="col s12">
                <h6><b>PEM</b> - Atti iscritti alla seduta del 12/12/2021</h6>
            </div>
        </div>
        <hr/>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons pink-text">textsms</i>PDL 124</div>
                <div class="collapsible-body">
                    <div class="row valign-wrapper">
                        <div class="col s7">
                            <h6>Emendamenti presentati</h6>
                            <h5>
                                <b>23</b>
                            </h5>
                        </div>
                        <div class="col s5">
                            <a class="btn chip blue white-text" onclick="go('/emendamenti/7e02e09a-200b-40d7-b35c-904626640ab1')">
                                <i class="icon material-icons">chevron_right</i>Riepilogo EM
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons pink-text">textsms</i>
                    PDL 78
                </div>
                <div class="collapsible-body">
                    <div class="row valign-wrapper">
                        <div class="col s7">
                            <h6>Emendamenti presentati</h6>
                            <h5>
                                <b>23</b>
                            </h5>
                        </div>
                        <div class="col s5">
                            <a class="btn chip blue white-text" onclick="go('/emendamenti/7e02e09a-200b-40d7-b35c-904626640ab1')">
                                <i class="icon material-icons">chevron_right</i>Riepilogo EM
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col l6 s12">
        <div class="row">
            <div class="col s12">
                <h6>
                    <b>DASI</b> - Atti iscritti alla seduta del 12/12/2021
                </h6>
            </div>
        </div>
        <hr/>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle green">textsms</i>
                <span class="title">
                    <b>ITL</b>
                </span>
                <p>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text add" style="right: 60px;" data-tipo-dasi="@Html.Raw((int) TipoAttoEnum.ITL)">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi/riepilogodasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle blue">textsms</i>
                <span class="title">
                    <b>ITR</b>
                </span>
                <p>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text add" style="right: 60px;" data-tipo-dasi="@Html.Raw((int) TipoAttoEnum.ITR)">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi/riepilogodasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle orange">textsms</i>
                <span class="title">
                    <b>IQT</b>
                </span>
                <p>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text add" style="right: 60px;" data-tipo-dasi="@Html.Raw((int) TipoAttoEnum.IQT)">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi/riepilogodasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">textsms</i>
                <span class="title">
                    <b>MOZ</b>
                </span>
                <p>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text add" style="right: 60px;" data-tipo-dasi="@Html.Raw((int) TipoAttoEnum.MOZ)">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi/riepilogodasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">textsms</i>
                <span class="title">
                    <b>ODG</b>
                </span>
                <p>
                    Presentato: <b>2</b>
                </p>
                <a href="#!" class="secondary-content blue-text add" style="right: 60px;" data-tipo-dasi="@Html.Raw((int) TipoAttoEnum.ODG)">
                    <i class="material-icons">add</i>
                </a>
                <a href="#!" class="secondary-content" onclick="go('/dasi/riepilogodasi')">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>

        </ul>
    </div>
</div>

<div id="slide-dashboard-DX" class="sidenav" style="overflow: auto !important">
    <div class="row">
        <h5>Notifiche</h5>
        <hr/>
        <div class="col s12" style="border-bottom: 1px solid grey">
            <div class="form-group">
                <p>
                    <b>EM 1</b>
                    <br/>
                    <label>
                        Soppressivo - Titolo PDL
                        <br/>
                        Entro il <i>27/11/2021 14:39</i>
                    </label>
                </p>
            </div>
            <div class="row valign-wrapper" style="margin-top: 20px">
                <div class="col s6">
                    PIZZUL Fabio (PD)
                </div>
                <div class="col s6 right-align">
                    <div class="btn chip blue white-text" style="min-width: unset" onclick="go('/emendamenti/view/72b37a2b-d9e9-40f9-8099-720a354ed9c9?notificaId=215122677')" title="Vedi EM">
                        <i class="icon material-icons">arrow_forward</i> Vedi EM
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12" style="border-bottom: 1px solid grey">
            <div class="form-group">
                <p>
                    <b>EM 2</b>
                    <br/>
                    <label>
                        Soppressivo - Titolo PDL
                        <br/>
                        Entro il <i>27/11/2021 14:39</i>
                    </label>
                </p>
            </div>
            <div class="row valign-wrapper" style="margin-top: 20px">
                <div class="col s6">
                    PIZZUL Fabio (PD)
                </div>
                <div class="col s6 right-align">
                    <div class="btn chip blue white-text" style="min-width: unset" onclick="go('/emendamenti/view/72b37a2b-d9e9-40f9-8099-720a354ed9c9?notificaId=215122677')" title="Vedi EM">
                        <i class="icon material-icons">arrow_forward</i> Vedi EM
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("../DASI/_DASIForm");
}

<script>
    $(document).ready(function() {
        set_Filtri_EM({});
        set_ListaArticoliEM([]);
        set_ListaCommiEM([]);
        set_ListaLettereEM([]);
        setListaAtti([]);

        $('#btnSearch>i').html('notifications_active');
        $('#btnSearch').on("click",
            function() {
                openDashboardNotification();
            });
        initCarousel();
    });

    $(".secondary-content.blue-text.add").on("click",
        function() {
            var tipo = $(this).data('tipo-dasi');
            openFormDASI(tipo);
        });

    $(".carousel").on("mouseover",
        function() {
            stopRicaricaAuto();
        });
    $(".carousel").on("mouseleave",
        function() {
            playRicaricaAuto();
        });

    var interval = null;
    var initial_start = 30;
    var instanceCarousel;

    function initCarousel() {
        var elem = document.querySelector('.carousel');
        var options = {
            padding: 10,
            numVisible: 5,
            indicators: true
        };
        instanceCarousel = M.Carousel.init(elem, options);
        playRicaricaAuto();
    }

    function playRicaricaAuto() {
        interval = setInterval(function() {
                instanceCarousel.next();
            },
            8500);
    }

    function stopRicaricaAuto() {
        clearInterval(interval);
    }

    function openDashboardNotification() {
        var elems = document.querySelector("#slide-dashboard-DX");
        var instances = M.Sidenav.init(elems,
            {
                edge: "right",
                draggable: true,
                onOpenStart: function() {
                    // Menu laterale SX sotto a layer opaco
                    $("#slide-out").css("z-index", 997);
                },
                onCloseEnd: function() {
                    // Ripristino menu laterale SX
                    $("#slide-out").css("z-index", 999);
                }
            });

        instances.open();
    }
</script>