@using Newtonsoft.Json
@using PortaleRegione.Common
@using PortaleRegione.DTO.Domain
@using PortaleRegione.DTO.Enum
@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Model
@using Utility = PortaleRegione.Common.Utility
@model PortaleRegione.DTO.Model.DashboardModel

@{
    ViewBag.Title = "Home";
    var currentRole = RuoliIntEnum.Utente;
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var authCookie1 = Request.Cookies["PRCookies1"];
        var authCookie2 = Request.Cookies["PRCookies2"];
        var authCookie3 = Request.Cookies["PRCookies3"];
        if (authCookie1 != null && authCookie2 != null && authCookie3 != null)
        {
            if (!string.IsNullOrEmpty(authCookie1.Value) && !string.IsNullOrEmpty(authCookie2.Value) && !string.IsNullOrEmpty(authCookie3.Value))
            {
                var authenticationTicket1 = FormsAuthentication.Decrypt(authCookie1.Value);
                var authenticationTicket2 = FormsAuthentication.Decrypt(authCookie2.Value);
                var authenticationTicket3 = FormsAuthentication.Decrypt(authCookie3.Value);
                var data = JsonConvert.DeserializeObject<PersonaDto>(string.Format("{0}{1}{2}", authenticationTicket1.UserData, authenticationTicket2.UserData, authenticationTicket3.UserData));

                currentRole = data.CurrentRole;
            }
        }
    }

    var DASIEnabled = currentRole != RuoliIntEnum.Utente
                      && currentRole != RuoliIntEnum.Amministratore_Giunta
                      && currentRole != RuoliIntEnum.Assessore_Sottosegretario_Giunta
                      && currentRole != RuoliIntEnum.Responsabile_Segreteria_Giunta
                      && currentRole != RuoliIntEnum.Segreteria_Giunta_Regionale;
}

<div class="row">
    <div class="col @Html.Raw(DASIEnabled ? "s6" : "s12")">
        <div class="card">
            <div class="card-content black-text">
                <span class="card-title" style="font-weight: bold;">PEM</span>
                <p>Presenta un emendamento a un progetto di legge</p>
            </div>
            <div class="card-action">
                <a class="btn-flat blue-text"
                   onclick="go('@Url.Action("RiepilogoSedute", "PEM")')" title="Presenta un emendamento a un progetto di legge">
                    <i class="material-icons right">chevron_right</i>
                    Presenta
                </a>
            </div>
        </div>
    </div>
    @if (DASIEnabled)
    {
        <div class="col s6">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title" style="font-weight: bold;">DASI</span>
                    <p>Presenta un atto di indirizzo e sindacato ispettivo</p>
                </div>
                <div class="card-action">
                    <a class="btn-flat blue-text"
                       onclick="go('@Url.Action("RiepilogoDASI", "DASI")')" title="Presenta un atto di indirizzo e sindacato ispettivo">
                        <i class="material-icons right">chevron_right</i>
                        Presenta
                    </a>
                </div>
            </div>
        </div>
    }

</div>
<div class="row">
<div class="col s12">
<div class="row">
    <div class="col s12">
        <h5>
            <b>ATTI ISCRITTI ALLA PROSSIMA SEDUTA</b>
        </h5>
    </div>
</div>
<hr/>
<div class="row">
<div class="col s12">
<ul class="collapsible">
@foreach (var seduta in Model.Sedute.Results)
{
    var pemList = Model.PEM.FirstOrDefault(a => a.Results.Any(item => item.UIDSeduta == seduta.UIDSeduta));
    var attoDasi = Model.DASI.FirstOrDefault(a => a.Data.Results.Any(item => item.UIDSeduta == seduta.UIDSeduta));
    if (attoDasi == null)
    {
        attoDasi = new RiepilogoDASIModel();
    }

    <li class="active grey lighten-4">
    <div class="collapsible-header black-text">
        <i class="material-icons">event</i>
        Seduta del @seduta.Data_seduta.ToString("dd/MM/yyyy HH:mm")
    </div>
    <div class="collapsible-body">
    <div class="row" style="margin: 0 !important">
    <div class="col l6 s12">
        <div class="row" style="margin: 0 !important">
            <div class="col s12">
                <h6>
                    <b>Emendamenti ai progetti di legge</b>
                </h6>
            </div>
        </div>
        <hr/>

        @if (pemList != null)
        {
            <ul class="collapsible" style="position: relative">
                @foreach (var attoPem in pemList.Results)
                {
                    var titolo_atto = $"{Utility.GetText_Tipo(attoPem.IDTipoAtto)} {attoPem.NAtto}";
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons pink-text">textsms</i>
                            @titolo_atto
                            <div class="collapsabile-secondary-header">
                                @if (attoPem.Conteggio_EM + attoPem.Conteggio_SubEM > 0)
                                {
                                    <div class="chip">@(attoPem.Conteggio_EM + attoPem.Conteggio_SubEM) EM</div>
                                }
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <label>
                                        <b>Oggetto</b>
                                    </label>
                                    <br/>
                                    <p>@attoPem.Oggetto</p>
                                </div>
                                @if (attoPem.UIDAssessoreRiferimento.HasValue)
                                {
                                    <div class="col s12">
                                        <label>
                                            <b>Assessore di Riferimento</b>
                                        </label>
                                        <br/>
                                        <div class="chip" style="margin-left: 5px; min-width: unset;">
                                            <img src="http://intranet.consiglio.regione.lombardia.it/GC/foto/@attoPem.PersonaAssessore.foto" alt="@attoPem.PersonaAssessore.DisplayName">
                                            @attoPem.PersonaAssessore.DisplayName
                                        </div>
                                    </div>
                                }
                                @if (attoPem.Relatori.Any())
                                {
                                    <div class="col s12">
                                        <label>
                                            <b>Relatori</b>
                                        </label>
                                        <br/>
                                        @Html.Raw(PortaleRegione.Client.Helpers.Utility.GetRelatori(attoPem.Relatori))
                                    </div>
                                }

                            </div>
                            <div class="row">
                                <div class="col s6">
                                    @if (!string.IsNullOrEmpty(attoPem.Path_Testo_Atto))
                                    {
                                        <a class="btn-flat pink-text"
                                           href="@Url.Action("Download", "Atti", new {path = attoPem.Path_Testo_Atto})">
                                            <i class="material-icons left">download</i>
                                            Scarica
                                        </a>
                                    }

                                </div>
                            </div>
                            <div class="row">
                                @if (seduta.Scadenza_presentazione.HasValue && attoPem.IDTipoAtto == (int) TipoAttoEnum.PDL)
                                {
                                    <div class="col s6 left-align">
                                        <a class="btn-flat black-text">
                                            <i class="material-icons left">access_alarm</i>
                                            Scadenza EM @Convert.ToDateTime(seduta.Scadenza_presentazione).ToString("dd/MM/yyyy HH:mm")
                                        </a>
                                    </div>
                                }
                                @if (attoPem.Data_apertura.HasValue && attoPem.Conteggio_EM + attoPem.Conteggio_SubEM > 0)
                                {
                                    <div class="col s6 right-align">
                                        <a class="btn-flat blue-text"
                                           onclick="go('@Url.Action("RiepilogoEmendamentiInSeduta", "Emendamenti", new {id = attoPem.UIDAtto})')" title="Riepilogo emendamenti in aula">
                                            <i class="material-icons right">chevron_right</i>
                                            Riepilogo EM In Seduta
                                        </a>
                                    </div>
                                }
                            </div>

                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="row" style="margin: 0 !important">
                <div class="col s12">
                    <div class="card-panel panel-warning center">
                        <span class="center">
                            Non ci sono atti al momento
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col l6 s12">
        <div class="row" style="margin: 0 !important">
            <div class="col s12">
                <h6>
                    <b>Atti di indirizzo e sindacato ispettivo</b>
                </h6>
            </div>
        </div>
        <hr/>
        <ul class="collapsible" style="position: relative">

            @if (attoDasi.CountBarData.ITL > 0)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @PortaleRegione.Common.Utility.GetText_Tipo((int) TipoAttoEnum.ITL)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.ITL) Atti</div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn-flat blue-text"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new {id = seduta.UIDSeduta, tipo = (int) TipoAttoEnum.ITL})')" title="Riepilogo atti in seduta">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Atti In Seduta
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (attoDasi.CountBarData.ITR > 0)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @PortaleRegione.Common.Utility.GetText_Tipo((int) TipoAttoEnum.ITR)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.ITR) Atti</div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn-flat blue-text"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new {id = seduta.UIDSeduta, tipo = (int) TipoAttoEnum.ITR})')" title="Riepilogo atti in seduta">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Atti In Seduta
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (attoDasi.CountBarData.IQT > 0)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @PortaleRegione.Common.Utility.GetText_Tipo((int) TipoAttoEnum.IQT)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.IQT) Atti</div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn-flat blue-text"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new {id = seduta.UIDSeduta, tipo = (int) TipoAttoEnum.IQT})')" title="Riepilogo atti in seduta">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Atti In Seduta
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (attoDasi.CountBarData.MOZ > 0)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @PortaleRegione.Common.Utility.GetText_Tipo((int) TipoAttoEnum.MOZ)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.MOZ) Atti</div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn-flat blue-text"
                                   onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new {id = seduta.UIDSeduta, tipo = (int) TipoAttoEnum.MOZ})')" title="Riepilogo atti in seduta">
                                    <i class="material-icons right">chevron_right</i>
                                    Riepilogo Atti In Seduta
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            @if (attoDasi.CountBarData.ODG > 0 || seduta.DataScadenzaPresentazioneODG.HasValue)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons pink-text">textsms</i>
                        @PortaleRegione.Common.Utility.GetText_Tipo((int) TipoAttoEnum.ODG)
                        <div class="collapsabile-secondary-header">
                            <div class="chip">@(attoDasi.CountBarData.ODG) Atti</div>
                        </div>
                    </div>

                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s6 left-align">
                                @if (seduta.DataScadenzaPresentazioneODG.HasValue)
                                {
                                    <a class="btn-flat black-text">
                                        <i class="material-icons left">access_alarm</i>
                                        Scadenza ODG @Convert.ToDateTime(seduta.DataScadenzaPresentazioneODG).ToString("dd/MM/yyyy HH:mm")
                                    </a>
                                }
                            </div>
                            <div class="col s6 right-align">
                                @if (attoDasi.CountBarData.ODG > 0)
                                {
                                    <a class="btn-flat blue-text"
                                       onclick="go('@Url.Action("RiepilogoDASI_BySeduta", "DASI", new {id = seduta.UIDSeduta, tipo = (int) TipoAttoEnum.ODG})')" title="Riepilogo atti in seduta">
                                        <i class="material-icons right">chevron_right</i>
                                        Riepilogo Atti In Seduta
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </li>
            }
            
        </ul>
    </div>
    </div>
    </div>
    </li>
}
</ul>
</div>
</div>
</div>
</div>

<script>
    $(document).ready(function() {
        set_Filtri_DASI({});
        set_Filtri_EM({});
        set_ListaArticoliEM([]);
        set_ListaCommiEM([]);
        set_ListaLettereEM([]);
        setListaAtti([]);

        $('#btnSearch').hide();
    });
</script>