@using System.Configuration
@using System.Reflection
@using PortaleRegione.Client.Helpers
@model PortaleRegione.DTO.Model.AutenticazioneModel

@{
    Layout = null;

    ViewBag.Title = "Autenticazione";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Portale @Html.Raw(AppSettingsConfiguration.Title)</title>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    @Styles.Render("~/Content/css")
    <style>
        .row .col {
            float: none !important;
            margin-left: auto;
            margin-right: auto;
        }

        .versione {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;
            font-size: 14px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @Scripts.Render("~/bundles/lib")
</head>
<body>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="row">
    <div class="col l12 card" style="max-width: 500px">
        <div style="text-align: center;">
            <div class="row">
                <div class="col s12" style="padding-top: 40px">
                    <img src="@Html.Raw(AppSettingsConfiguration.Logo)" alt="@Html.Raw(AppSettingsConfiguration.Title) logo" style="width: 50px;"/>
                </div>
                <div class="col s12">
                    <h4>
                        <b>@Html.Raw(AppSettingsConfiguration.Title)</b>
                    </h4>
                </div>
                <div class="col s12">
                    <h6>@Html.Raw(AppSettingsConfiguration.NomePiattaforma)</h6>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Login", "Autenticazione", new {ReturnUrl = Context.Request["ReturnUrl"]}))
        {
            @Html.AntiForgeryToken()
            <div class="card-content">
                <div class="form-group">
                    @Html.LabelFor(s => s.LoginRequest.Username)
                    @Html.TextBoxFor(s => s.LoginRequest.Username, new {@class = "form-control", maxlength = 50 })
                    @Html.ValidationMessageFor(s => s.LoginRequest.Username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.LoginRequest.Password)
                    @Html.TextBoxFor(s => s.LoginRequest.Password, new {@class = "form-control", type = "password", maxlength = 50 })
                    @Html.ValidationMessageFor(s => s.LoginRequest.Password)
                </div>
            </div>
            <div class="card-action right-align">
                <div class="btn-flat green-text" onclick="login()">
                    Accedi
                </div>

                @{
                    if (!string.IsNullOrEmpty(Model.LoginRequest.MessaggioErrore))
                    {
                        <div class="center" style="padding-top: 20px">
                            <span class="field-validation-error">
                                @Model.LoginRequest.MessaggioErrore
                            </span>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>

<div class="versione">
    <div class="col s12 center">
        <b>versione @Model.versione</b>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded",
        function() {
            // INITIALIZE MATERIALIZE v1.0.0 - https://materializecss.com/
            M.AutoInit();
            setTimeout(function() {
                $('body').addClass('loaded');      
            }, 200);
        });

    function login() {
        setTimeout(function () {
            $('body').removeClass('loaded');
        }, 200);
        $('form').submit();
    }

    $("body").on("keyup",
        function(event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                $('form').submit();
            }
        });
</script>
</body>
</html>