@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Response.BaseResponse<PortaleRegione.DTO.Domain.StampaDto>

@{
    ViewBag.Title = "Riepilogo Stampe";
}

<div class="row">
    <div class="col s12">
        <h5>
            <b>@ViewBag.Title</b>
        </h5>
    </div>
</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="stampeTable" class="row">

    @if (!Model.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono stampe al momento
                    </span>
                </div>
            </div>
        </div>
    }
    else
    {
        <table>
            <thead>
            <tr>
                <th>Atto</th>
                <th>Data stampa</th>
                <th>Da</th>
                <th>A</th>
                <th>Stato</th>
                <th>Stato Invio</th>
                <th width="100">Scarica</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var stampa in Model.Results)
            {
                <tr>
                    <td>
                        @stampa.ATTI.TIPI_ATTO.Tipo_Atto @stampa.ATTI.NAtto
                        <a class="blue-text tooltipped" href="@Url.Action("RiepilogoEmendamenti", "Emendamenti", new {id = stampa.UIDAtto, mode = ClientModeEnum.GRUPPI})" data-position="bottom" data-tooltip="Vai all'atto">
                            <i class="material-icons">call_made</i>
                        </a>
                    </td>
                    <td>
                        @stampa.DataRichiesta.ToString("dd/MM/yyyy HH:mm")
                    </td>
                    @if (stampa.UIDEM.HasValue)
                    {
                        <td colspan="2">
                            <div class="chip center purple lighten-5" style="min-width: unset">
                                Stampa singola
                            </div>
                        </td>
                    }
                    else if (stampa.Da == 0 && stampa.A == 0)
                    {
                        <td colspan="2">
                            @switch ((OrdinamentoEnum) stampa.Ordine.Value)
                            {
                                case OrdinamentoEnum.Presentazione:
                                    <div class="chip center" style="min-width: unset">
                                        Fascicolo Presentazione
                                    </div>
                                    break;
                                case OrdinamentoEnum.Votazione:
                                    <div class="chip center" style="min-width: unset">
                                        Fascicolo Votazione
                                    </div>
                                    break;
                                case OrdinamentoEnum.Default:
                                    break;
                                default:
                                    throw new ArgumentOutOfRangeException();
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                            @stampa.Da
                        </td>
                        <td>
                            @stampa.A
                        </td>
                    }
                <td>
                    @if (string.IsNullOrEmpty(stampa.MessaggioErrore))
                    {
                        if (stampa.DataFineEsecuzione.HasValue)
                        {
                            <div class="chip center green white-text tooltipped" data-position="bottom" data-tooltip="Fine esecuzione: @stampa.DataFineEsecuzione.Value.ToString("dd/MM/yyyy HH:mm")" style="min-width: unset">
                                Completata
                            </div>
                        }
                        else if (stampa.DataInizioEsecuzione.HasValue)
                        {
                            if (stampa.DataFineEsecuzione.HasValue)
                            {
                                <div class="chip center green white-text tooltipped" data-position="bottom" data-tooltip="Fine esecuzione: @stampa.DataFineEsecuzione.Value.ToString("dd/MM/yyyy HH:mm")" style="min-width: unset">
                                    Completata
                                </div>
                            }
                            else
                            {
                                <div class="chip center amber white-text tooltipped" style="min-width: unset" data-position="bottom" data-tooltip="@stampa.Info">
                                    In lavorazione
                                </div>
                            }
                        }
                        else
                        {
                            <div class="chip center grey white-text" style="min-width: unset">
                                In attesa
                            </div>
                        }
                    }
                    else
                    {
                        <div class="chip center red white-text tooltipped" data-position="bottom" data-tooltip="Messaggio di errore: @stampa.MessaggioErrore" style="min-width: unset">
                            Errore
                        </div>
                    }

                </td>
                    <td>
                        @if (stampa.DataInvio.HasValue)
                        {
                            <div class="chip center blue white-text tooltipped" data-position="bottom" data-tooltip="Data invio: @stampa.DataInvio.Value.ToString("dd/MM/yyyy HH:mm")" style="min-width: unset">
                                Inviato
                            </div>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(stampa.PathFile))
                        {
                            <a class="btn-floating pink tooltipped" href="@Url.Action("DownloadStampa", "Stampe", new {id = stampa.UIDStampa})" data-position="bottom" data-tooltip="Scarica file">
                                <i class="material-icons">file_download</i>
                            </a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="slide-out-DX" class="sidenav">
    <ul style="margin: 0">
        <li>
            <a class="subheader">Ricerca</a>
        </li>
    </ul>
</div>