@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.CardInvitoModel

@{
    var archivioReq = HttpUtility.ParseQueryString(Request.Url.Query).Get("archivio");
    var archivio = Convert.ToBoolean(archivioReq);

    var titolo = string.Empty;
    var sub_titolo = string.Empty;

    var notifica = Model.Data;

    if (notifica.IsPem)
    {
        titolo = $"Seduta del {notifica.EM.ATTI.SEDUTE.Data_seduta:dd/MM/yyyy}";
        var isSubEM = notifica.EM.Rif_UIDEM.HasValue;
        var progressivo = notifica.EM.Progressivo.Value;
        var title = "TEMP";
        if (isSubEM)
        {
            progressivo = notifica.EM.SubProgressivo.Value;
            title = "SUBEM";
        }

        var displayRiferimentoTemporaneo = string.Empty;
        if (notifica.EM.STATI_EM.IDStato >= (int)StatiEnum.Depositato)
        {
            displayRiferimentoTemporaneo = $"(ex. {title} {progressivo})";
        }

        sub_titolo = $" - {Utility.GetText_Tipo(notifica.EM.ATTI.IDTipoAtto)} {notifica.EM.ATTI.NAtto} - <b>{notifica.EM.N_EM} {displayRiferimentoTemporaneo}</b>";
    }
    else if (notifica.IsDasi)
    {
        titolo = $"{Utility.GetText_Tipo(notifica.ATTO_DASI.Tipo)} {notifica.ATTO_DASI.NAtto}";
        if ((!string.IsNullOrEmpty(notifica.Messaggio) && notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA) || notifica.IDTipo == (int)TipoNotificaEnum.RITIRO)
        {
            titolo = notifica.Messaggio;
        }
    }
}

<div class="collapsible-header" onclick="GetDestinatariNotifica('@notifica.UIDNotifica')">
    <table>
        <tr style="border: unset">
            <td style="border: unset" width="5">
                <p>
                    <label>
                        <input type="checkbox"/>
                    </label>
                </p>
            </td>
            <td style="border: unset" width="5">
                @if (notifica.IsPem)
                {
                    <div class="chip blue-text white" style="border: 1px solid #7EADF3; min-width: unset;">PEM</div>
                }
                else if (notifica.IsDasi)
                {
                    <div class="chip red-text white" style="border: 1px solid #F4433C; min-width: unset;">DASI</div>
                }
            </td>
            <td style="border: unset">
                <h5>
                    <b>@titolo</b>@Html.Raw(sub_titolo)
                </h5>
            </td>
            <td style="border: unset; text-align: right; width: 10px">
                @{
                    var firmato_da_me = false;
                    if (notifica.IsPem)
                    {
                        firmato_da_me = notifica.EM.Firmato_Da_Me && notifica.Valida;
                    }
                    else if (notifica.IsDasi)
                    {
                        firmato_da_me = notifica.ATTO_DASI.Firmato_Da_Me && notifica.Valida;
                    }
                }
                @if (notifica.IDTipo != (int)TipoNotificaEnum.RITIRO)
                {
                    if (User.IsInRole(RuoliExt.Consigliere_Regionale) ||
                        User.IsInRole(RuoliExt.Assessore_Sottosegretario_Giunta))
                    {
                        var tooltip_descr = "";

                        if (firmato_da_me)
                        {
                            tooltip_descr = "Firmato";
                            if (notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                            {
                                tooltip_descr = "Firma accettata";
                            }
                            <i class="icon material-icons green-text tooltipped" data-tooltip="@tooltip_descr">check</i>
                        }
                        else
                        {
                            tooltip_descr = "Richiesta firma";
                            if (notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                            {
                                tooltip_descr = "In attesa di approvazione del proponente dell'atto";
                            }
                            <i class="icon material-icons blue-text tooltipped" data-tooltip="@tooltip_descr">query_builder</i>
                        }
                    }
                }
            </td>
        </tr>
    </table>

</div>
<div class="collapsible-body">
    @if (notifica.UTENTI_NoCons.UID_persona != Model.User.UID_persona)
    {
        <div class="row">
            <div class="col l6 s12">
                <h5>Mittente</h5>
                <hr/>

                @{
                    var mittente_visualizzato = notifica.UTENTI_NoCons.DisplayName_GruppoCode;
                    var mittente_foto = notifica.UTENTI_NoCons.foto;
                    var mittente_sub = "";

                    if (notifica.IsPem)
                    {
                        if (notifica.EM.UIDPersonaProponente != notifica.Mittente && notifica.RuoloMittente != RuoliIntEnum.Consigliere_Regionale)
                        {
                            mittente_visualizzato = $"{notifica.EM.PersonaProponente.DisplayName} ({notifica.EM.gruppi_politici.codice_gruppo})";
                            mittente_foto = notifica.EM.PersonaProponente.foto;
                            mittente_sub = notifica.UTENTI_NoCons.DisplayName;
                        }
                    }else if (notifica.IsDasi)
                    {
                        if (notifica.ATTO_DASI.UIDPersonaProponente != notifica.Mittente && notifica.RuoloMittente != RuoliIntEnum.Consigliere_Regionale)
                        {
                            mittente_visualizzato = $"{notifica.ATTO_DASI.PersonaProponente.DisplayName} ({notifica.ATTO_DASI.gruppi_politici.codice_gruppo})";
                            mittente_sub = notifica.UTENTI_NoCons.DisplayName;
                            mittente_foto = notifica.ATTO_DASI.PersonaProponente.foto;
                        }
                    }
                }

                <div class="chip" style="min-width: unset">
                    <img src="http://intranet.consiglio.regione.lombardia.it/GC/foto/@mittente_foto">
                    @mittente_visualizzato
                </div>
                @if (!string.IsNullOrEmpty(mittente_sub))
                {
                    <br/>
                    <i>Inviato da @mittente_sub</i>
                }
            </div>
            <div class="col l6 s12">
                <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
                    <div class="col s12">
                        @Html.Partial("_CardInvito_Destinatari", notifica.UIDNotifica)
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
        <div class="col l6 s12">
            <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
                <div class="col s12">
                    <h5>
                        @if (notifica.IDTipo == (int)TipoNotificaEnum.INVITO)
                        {
                            @Html.Raw("Invito a firmare")
                        }
                        else if (notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                        {
                            @Html.Raw("Proposta di firma")
                        }
                        else if (notifica.IDTipo == (int)TipoNotificaEnum.RITIRO)
                        {
                            @Html.Raw("Proposta di ritiro firma")
                        }
                    </h5>
                    <hr/>
                    @if (notifica.IsPem)
                    {
                        <div class="card">
                            <div class="card-content">
                                <div class="form-group">
                                    <label>Metadati: </label>
                                    <h6>@Utility.MetaDatiEM_Label(notifica.EM)</h6>
                                    @if (notifica.EM.ATTI.SEDUTE.Scadenza_presentazione.HasValue)
                                    {
                                        <label>
                                            <b>Scadenza Presentazione EM:</b> @notifica.EM.ATTI.SEDUTE.Scadenza_presentazione.Value.ToString("dd/MM/yyyy HH:mm")
                                        </label>
                                    }
                                </div>
                            </div>
                            <div class="card-action right-align">

                                @if (!archivio)
                                {
                                    <a class="btn-floating white red-text tooltipped" data-tooltip="Archivia notifica" onclick="ArchiviaNotifica(this, '@notifica.UIDNotifica')">
                                        <i class="material-icons">close</i>
                                    </a>
                                }

                                <a class="btn-floating white black-text tooltipped" data-tooltip="Vedi emendamento" onclick="go('@Url.Action("ViewEmendamento", "Emendamenti", new { id = notifica.UIDEM, notificaId = notifica.UIDNotifica })')">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>

                                @if (notifica.EM.Firmabile && notifica.IDTipo == (int)TipoNotificaEnum.INVITO)
                                {
                                    <a class="btn-floating white green-text tooltipped" data-tooltip="Firma" onclick="RevealFirmaDeposito('@notifica.EM.UIDEM', @Html.Raw((int)ActionEnum.FIRMA))">
                                        <i class="material-icons">gavel</i>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                    else if (notifica.IsDasi)
                    {
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">
                                    Oggetto
                                </span>
                                <p>@notifica.ATTO_DASI.Oggetto</p>
                            </div>
                            <div class="card-action right-align">
                                @if (!archivio)
                                {
                                    <a class="btn-floating white red-text tooltipped" data-tooltip="Archivia notifica" onclick="ArchiviaNotifica(this, '@notifica.UIDNotifica')">
                                        <i class="material-icons">close</i>
                                    </a>
                                }
                                <a class="btn-floating white black-text tooltipped" data-tooltip="Vedi atto"
                                   onclick="go('@Url.Action("ViewAtto", "DASI", new { id = notifica.ATTO_DASI.UIDAtto })')">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>

                                @if (notifica.ATTO_DASI.Firmabile && notifica.IDTipo == (int)TipoNotificaEnum.INVITO)
                                {
                                    <a class="btn-floating white green-text tooltipped" data-tooltip="Firma" onclick="RevealFirmaDepositoDASI('@notifica.ATTO_DASI.UIDAtto', @Html.Raw((int)ActionEnum.FIRMA))">
                                        <i class="material-icons">gavel</i>
                                    </a>
                                }

                                @if (!notifica.Chiuso
                                     && !notifica.Valida
                                     && Model.User.UID_persona == notifica.ATTO_DASI.UIDPersonaProponente
                                     && notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                                {
                                    <a class="btn-floating white green-text tooltipped" data-tooltip="Accetta proposta" onclick="AccettaPropostaFirmaAttoDASI('@notifica.UIDNotifica')">
                                        <i class="material-icons">check</i>
                                    </a>
                                }
                                else if (!notifica.Chiuso
                                         && notifica.Valida
                                         && Model.User.UID_persona == notifica.ATTO_DASI.UIDPersonaProponente
                                         && notifica.IDTipo == (int)TipoNotificaEnum.RITIRO)
                                {
                                    <a class="btn-floating white green-text tooltipped" data-tooltip="Accetta ritiro" onclick="AccettaRitiroFirmaAttoDASI('@notifica.UIDNotifica')">
                                        <i class="material-icons">check</i>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (notifica.UTENTI_NoCons.UID_persona == Model.User.UID_persona)
        {
            <div class="col l6 s12">
                <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
                    <div class="col s12">
                        @Html.Partial("_CardInvito_Destinatari", notifica.UIDNotifica)
                    </div>
                </div>
            </div>
        }
    </div>
</div>