@model PortaleRegione.Client.Models.AttiViewModel

@{
    ViewBag.Title = string.Format("Riepilogo Atti Iscritti alla Seduta del {0:dd/MM/yyyy}. Scadenza Presentazione EM: {1}", Model.Seduta.Data_seduta, Model.Seduta.Scadenza_presentazione.Value.ToString("dd/MM/yyyy HH:mm"));
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col s12">
        <a class="btn-floating waves-effect waves-light grey header-back" href="@Url.Action("RiepilogoSedute", "PEM")">
            <i class="material-icons">arrow_back</i>
        </a>
        <div class="row valign-wrapper">
            <div class="col s12">
                <h5>
                    <b>@ViewBag.Title</b>
                </h5>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Data.Paging);
}

<div id="attiTable" class="row">

    @if (!Model.Data.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono atti al momento
                    </span>
                </div>
            </div>
        </div>
    }

    @foreach (var atto in Model.Data.Results)
    {
        var titolo_atto = string.Format("{0} {1}", atto.TIPI_ATTO.Tipo_Atto, atto.NAtto);

        var statoAtto = "";
        var coloreStatoAtto = "";
        if (atto.Data_chiusura.HasValue)
        {
            if (atto.Data_chiusura.Value < DateTime.Now)
            {
                statoAtto = "Chiuso";
                coloreStatoAtto = "grey";
            }
        }
        if (string.IsNullOrEmpty(statoAtto))
        {
            if (!atto.Data_apertura.HasValue)
            {
                statoAtto = "Chiuso";
                coloreStatoAtto = "grey";
            }
            else if (atto.Data_apertura.Value < DateTime.Now)
            {
                statoAtto = "Aperto";
                coloreStatoAtto = "green";
            }
            else
            {
                var span = atto.Data_apertura.Value - DateTime.Now;
                var totalMinutes = Math.Round(span.TotalMinutes, MidpointRounding.AwayFromZero);

                if (totalMinutes <= 60)
                {
                    statoAtto = string.Format("Mancano {0} minuti all'apertura", totalMinutes);
                }
                else
                {
                    statoAtto = string.Format("Apertura prevista: {0:dd/MM/yyyy HH:mm}", atto.Data_apertura.Value);
                }

                coloreStatoAtto = "green";
            }
        }

        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row" style="margin: 0; margin-bottom: 0 !important">
                            <div class="col s8">
                                <h5><b>@titolo_atto</b></h5>
                                <h6 class="active">
                                    <i>@Html.Raw(atto.Oggetto)</i>
                                </h6>
                            </div>
                            <div class="col s4 right-align">
                                @if (!string.IsNullOrEmpty(statoAtto))
                                {
                                    <div class="chip white @coloreStatoAtto-text" style="min-width: unset; border: 1px solid @coloreStatoAtto">@statoAtto</div>
                                }
                            </div>
                        </div>
                        <div class="row valign-wrapper" style="margin-bottom: unset !important; margin-left: unset !important; margin-right: unset !important;">
                            <div class="col s4">
                                @if (!string.IsNullOrEmpty(atto.Path_Testo_Atto))
                                {
                                    <a class="btn-flat pink-text"
                                       href="@Url.Action("Download", "Atti", new {path = atto.Path_Testo_Atto})" title="Scarica documento">
                                        <i class="material-icons right pink-text">cloud_download</i>
                                        SCARICA DOCUMENTO
                                    </a>
                                }
                                
                            </div>
                            <div class="col s7 right-align">
                                <h6 class="black-text">
                                    @atto.Conteggio_EM EM / @atto.Conteggio_SubEM SUBEM
                                </h6>
                            </div>
                            <div class="col s1 right-align">
                                @if (atto.Data_apertura.HasValue)
                                {
                                    <a class="btn-floating green" onclick="go('@Url.Action("RiepilogoEmendamenti", "Emendamenti", new {id = atto.UIDAtto})')" title="Riepilogo emendamenti">
                                        <i class="material-icons" style="line-height: unset">chevron_right</i>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        setListaEmendamenti([]);
        setSelezionaTutti(false);
        set_Filtri_EM({});
        set_ListaArticoliEM([]);
        set_ListaCommiEM([]);
        set_ListaLettereEM([]);
    </script>
}