@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
@model PortaleRegione.Client.Models.AttiViewModel

@{
    ViewBag.Title = string.Format("Riepilogo Atti Iscritti alla Seduta del {0:dd/MM/yyyy}.", Model.Seduta.Data_seduta);
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col s12">
        <a class="btn-floating waves-effect waves-light grey darken-3 header-back" href="@Url.Action("RiepilogoSedute", "PEM")">
            <i class="material-icons">arrow_back</i>
        </a>
        <div class="row valign-wrapper">
            <div class="col s12">
                <h4>
                    <b>@ViewBag.Title</b>
                </h4>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Data.Paging);
}

<div id="attiTable" class="row">

    @if (!Model.Data.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono atti al momento
                    </span>
                </div>
            </div>
        </div>
    }

    @foreach (var atto in Model.Data.Results)
    {
        var titolo_atto = $"{Utility.GetText_Tipo(atto.IDTipoAtto)} {atto.NAtto}";

        var statoAtto = "";
        var coloreStatoAtto = "";
        if (atto.Data_chiusura.HasValue)
        {
            if (atto.Data_chiusura.Value < DateTime.Now)
            {
                statoAtto = "Chiuso";
                coloreStatoAtto = "grey-text";
            }
        }
        if (string.IsNullOrEmpty(statoAtto))
        {
            if (!atto.Data_apertura.HasValue)
            {
                statoAtto = "Chiuso";
                coloreStatoAtto = "grey-text";
            }
            else if (atto.Data_apertura.Value < DateTime.Now)
            {
                statoAtto = "Aperto";
                coloreStatoAtto = "green-text";
            }
            else
            {
                var span = atto.Data_apertura.Value - DateTime.Now;
                var totalMinutes = Math.Round(span.TotalMinutes, MidpointRounding.AwayFromZero);

                if (totalMinutes <= 60)
                {
                    statoAtto = $"Mancano {totalMinutes} minuti all'apertura";
                }
                else
                {
                    statoAtto = $"Apertura prevista: {atto.Data_apertura.Value:dd/MM/yyyy HH:mm}";
                }

                coloreStatoAtto = "green-text";
            }
        }

        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row" style="margin: 0; margin-bottom: 0 !important">
                            <div class="col s8">
                                <h5>
                                    <b>@titolo_atto</b>
                                    @if (!string.IsNullOrEmpty(atto.Path_Testo_Atto))
                                    {
                                        <a class="btn-flat pink-text hide-on-large-only"
                                           href="@Url.Action("Download", "Atti", new { path = atto.Path_Testo_Atto })" title="Scarica documento">
                                            Scarica documento
                                        </a>
                                    }
                                </h5>
                            </div>
                            <div class="col s4 right-align">
                                @if (!string.IsNullOrEmpty(statoAtto))
                                {
                                    <h6 class="@coloreStatoAtto"><b>@statoAtto</b></h6>
                                }
                            </div>
                        </div>
                        <div class="row" style="margin: 0; margin-bottom: 0 !important">
                            <div class="col s12">
                                <h6 class="active">
                                    <i>@Html.Raw(atto.Oggetto)</i>
                                </h6>
                            </div>
                        </div>
                        <div class="row valign-wrapper" style="margin-bottom: unset !important; margin-left: unset !important; margin-right: unset !important;">
                            <div class="col s4">
                                @if (!string.IsNullOrEmpty(atto.Path_Testo_Atto))
                                {
                                    <button type="button" role="button" class="btn-flat pink-text hide-on-med-and-down"
                                       href="@Url.Action("Download", "Atti", new {path = atto.Path_Testo_Atto})" title="Scarica documento">
                                        SCARICA TESTO
                                    </button>
                                }

                            </div>
                            @if (atto.IDTipoAtto == (int) TipoAttoEnum.PDL)
                            {
                                <div class="col s6 right-align">
                                    <h6 class="black-text">
                                        @atto.Conteggio_EM EM / @atto.Conteggio_SubEM SUBEM
                                    </h6>
                                </div>
                                <div class="col s2 right-align">
                                    @if (atto.Data_apertura.HasValue)
                                    {
                                        <button type="button" role="button" class="btn-floating white black-text" onclick="go('@Url.Action("RiepilogoEmendamenti", "Emendamenti", new {id = atto.UIDAtto})')" title="Riepilogo emendamenti">
                                            <i class="material-icons" style="line-height: unset">chevron_right</i>
                                        </button>
                                    }
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        setListaEmendamenti([]);
        setSelezionaTutti(false);
        set_Filtri_EM({});
        set_ListaArticoliEM([]);
        set_ListaCommiEM([]);
        set_ListaLettereEM([]);
    </script>
}