@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@model PortaleRegione.Client.Models.DASIViewModel

@{
    ViewBag.Title = "Atti Sindacato Ispettivo";
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col s1">
        <a class="btn-floating waves-effect waves-light grey header-back" href="@Url.Action("RiepilogoSedute", "Sedute")">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
    <div class="col s3">
        <h5>
            <b>@ViewBag.Title</b>
        </h5>
    </div>
    <div class="col s8">
        <div class="row">
            <div class="col s12 right-align">
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.ITR)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.ITR)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.ITR
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.IQT)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.IQT)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.IQT
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.ITL)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.ITL)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.ITL
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.MOZ
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_U)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_U)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.MOZ_U
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_A)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_A)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.MOZ_A
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_C)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_C)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.MOZ_C
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_S)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_S)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.MOZ_S
                    </span>
                </div>
                <div class="chip @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.ODG)" style="min-width: unset">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.ODG)
                    <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                        @Model.ODG
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="highlight responsive-table">
    <thead>
    <tr>
        <th style="width: 60px">Tipo</th>
        <th>Oggetto</th>
        <th>Soggetto</th>
        <th>Testo</th>
        <th>Stato</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var atto in Model.Data.Results)
    {
        <tr>
            <td>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI(atto.IDTipoAtto)" data-tooltip="@Utility.GetTooltip_TipoDASI(atto.IDTipoAtto)">
                    @Utility.GetText_TipoDASI(atto.IDTipoAtto)
                </div>
            </td>
            <td>@atto.Oggetto</td>
            <td>@atto.PersonaProponente.DisplayName</td>
            <td>@atto.Testo</td>
            <td>
                <div class="@Utility.GetCSS_StatoDASI(atto.Stato)">
                    @Utility.GetText_StatoDASI(atto.Stato)
                </div>
            </td>
            <td class="center">
                @if (atto.Stato == (int)StatiAttoEnum.BOZZA)
                {
                    <a class="blue-text tooltipped" style="margin: 2px" data-position="left" data-tooltip="Modifica">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="red-text tooltipped" style="margin: 2px" data-position="left" data-tooltip="Elimina">
                        <i class="material-icons">delete</i>
                    </a>
                }
                else
                {
                    <a class="green-text tooltipped" style="margin: 2px" data-position="left" data-tooltip="Visualizza">
                        <i class="material-icons">visibility</i>
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="fixed-action-btn">
    <a id="btnCreaDASI" class="btn-floating btn-large blue darken-1">
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="modalDASI" class="modal">
    <div class="modal-content">
        <h4 id="modalDASI_Title">Nuovo Atto</h4>
        <i class="material-icons modal-close" style="position: absolute;top: 20px;right: 25px;">close</i>
        <div class="row">
            <div class="col s12 center">
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.ITR)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.ITR)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.ITR)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.IQT)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.IQT)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.IQT)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.ITL)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.ITL)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.ITL)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.MOZ)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_U)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.MOZ_U)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_U)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_A)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.MOZ_A)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_A)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_C)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.MOZ_C)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_C)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.MOZ_S)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.MOZ_S)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ_S)
                </div>
                <div class="chip tooltipped @Utility.GetCSS_TipoDASI((int)TipoAttoEnum.ODG)" style="min-width: unset" data-tooltip="@Utility.GetTooltip_TipoDASI((int)TipoAttoEnum.ODG)">
                    @Utility.GetText_TipoDASI((int)TipoAttoEnum.ODG)
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Salva</a>
    </div>
</div>


<script>
    $('#btnCreaDASI').on("click", function() {
        OpenDasiModal();
    });

    function OpenDasiModal() {
        $('#modalDASI_Title').text("Nuovo Atto");
        $('#modalDASI').modal("open");
    }

    var trigger_command = false;
    $("body").on("keyup",
        function (event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 17 && trigger_command == false) {
                // Trigger the button element with a click
                trigger_command = true;
                M.toast({ html: "Hotkeys attivato", classes: 'rounded', displayLength: 1000 });
            }else if (event.keyCode === 17 && trigger_command == true) {
                // Trigger the button element with a click
                trigger_command = false;
                M.toast({ html: "Hotkeys disattivato", classes: 'rounded', displayLength: 1000 });
            }else if (trigger_command == true) {
                if (event.keyCode == 78) {
                    OpenDasiModal();
                }
            }
        });
</script>