@model System.Collections.Generic.List<PortaleRegione.DTO.Domain.SessioniDto>

@{
    ViewBag.Title = "Sessioni";
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col s12">
        <h4>
            <b>@ViewBag.Title</b>
        </h4>
    </div>
</div>

<div id="contentTable" class="row">
    <ul class="collection">
        @foreach (var sessione in Model)
        {
			<li class="collection-item">
                Utente: <b>@sessione.Persona.DisplayName</b>; Ingresso il: 
						<b>@sessione.DataIngresso.ToString("dd/MM/yyyy HH:mm")</b>; Uscita il: 
						<b>@((sessione.DataUscita.HasValue) ? sessione.DataUscita.Value.ToString("dd/MM/yyyy HH:mm") : "--")</b>;
                        Stato: <b>@sessione.Stato</b>; Chiusura corretta: <b>@(sessione.ChiusuraCorretta ? "Si": "No")</b>
			</li>
        }
    </ul>

    @if (!Model.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono sessioni.
                    </span>
                </div>
            </div>
        </div>
    }
</div>