@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Response.BaseResponse<PortaleRegione.DTO.Domain.StampaDto>

@{
    ViewBag.Title = "Riepilogo Stampe";
}

<script>
    $(document).ready(function () {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col s8">
        <h4>
            <b>@ViewBag.Title</b>
        </h4>
    </div>
    <div class="col s4">
        <div class="progress">
            <div class="determinate" style="width: 100%"></div>
        </div>
        <p>Ricarica automatica in <strong id="seconds_trigger"></strong> sec <i class="icon material-icons red-text tooltipped" data-tooltip="Spegni ricarica automatica" onclick="stopRicaricaAuto()">pause</i><i class="icon material-icons blue-text tooltipped" data-tooltip="Start ricarica automatica" onclick="playRicaricaAuto()">play_arrow</i></p>
    </div>
</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<div id="stampeTable" class="row">

    @if (!Model.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono stampe al momento
                    </span>
                </div>
            </div>
        </div>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th width="5"></th>
                    <th width="20">ID</th>
                    <th>Utente</th>
                    <th>Atto</th>
                    <th>Data stampa</th>
                    <th>Da</th>
                    <th>A</th>
                    <th>Stato</th>
                    <th>Stato Invio</th>
                    <th width="100">Scarica</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            @foreach (var stampa in Model.Results)
            {
                <tr>
                    @if (!stampa.DASI)
                    {
                        <td>
                            <div class="chip blue-text white" style="min-width: unset; border: 1px solid #7EADF3 ">PEM</div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="chip red-text white" style="min-width: unset; border: 1px solid #F4433C">DASI</div>
                        </td>
                    }
                    <td>
                        <i class="IDSTAMPA icon material-icons tooltipped" data-position="bottom" data-tooltip="@stampa.UIDStampa" onclick="copy_to_clipboard('@stampa.UIDStampa')">fingerprint</i>
                        <input id="fingerprint_@stampa.UIDStampa" value="@stampa.UIDStampa" style="opacity: .01; height: 0; z-index: -1" />
                    </td>
                    <td>
                        @if (stampa.Richiedente != null)
                        {
                            <b>@stampa.Richiedente.DisplayName</b>
                        }
                    </td>

                    @if (!stampa.DASI)
                    {
                        <td>
                            @if (stampa.ATTI != null)
                            {
                                @stampa.ATTI.TIPI_ATTO.Tipo_Atto @stampa.ATTI.NAtto
                                <a class="blue-text tooltipped" onclick="go('@Url.Action("RiepilogoEmendamenti", "Emendamenti", new { id = stampa.UIDAtto, mode = (int)ClientModeEnum.GRUPPI })')" data-position="bottom" data-tooltip="Vai all'atto">
                                    <i class="material-icons">call_made</i>
                                </a>
                            }
                        </td>
                        <td>
                            @stampa.DataRichiesta.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        if (stampa.UIDEM.HasValue)
                        {
                            <td colspan="2">
                                <div class="chip center purple lighten-5" style="min-width: unset">
                                    Stampa singola
                                </div>
                            </td>
                        }
                        else if (stampa.Da == 0 && stampa.A == 0)
                        {
                            <td colspan="2">
                                @switch ((OrdinamentoEnum)stampa.Ordine.Value)
                                {
                                    case OrdinamentoEnum.Presentazione:
                                        <div class="chip center" style="min-width: unset">
                                            Fascicolo Presentazione
                                        </div>
                                        break;
                                    case OrdinamentoEnum.Votazione:
                                        <div class="chip center" style="min-width: unset">
                                            Fascicolo Votazione
                                        </div>
                                        break;
                                    case OrdinamentoEnum.Default:
                                        break;
                                    default:
                                        throw new ArgumentOutOfRangeException();
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                @stampa.Da
                            </td>
                            <td>
                                @stampa.A
                            </td>
                        }
                    }
                    else
                    {

                        <td>
                        </td>
                        <td>
                            @stampa.DataRichiesta.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        if (stampa.UIDAtto.HasValue)
                        {
                            <td colspan="2">
                                <div class="chip center purple lighten-5" style="min-width: unset">
                                    Stampa singola
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                @stampa.Da
                            </td>
                            <td>
                                @stampa.A
                            </td>
                        }
                    }

                    <td>
                        @{
                            var abilitaReset = false;
                        }
                        @if (string.IsNullOrEmpty(stampa.MessaggioErrore))
                        {
                            if (stampa.DataFineEsecuzione.HasValue)
                            {
                                <div class="chip center green white-text tooltipped" data-position="bottom" data-tooltip="Fine esecuzione: @stampa.DataFineEsecuzione.Value.ToString("dd/MM/yyyy HH:mm")" style="min-width: unset">
                                    Completata
                                </div>
                            }
                            else if (stampa.DataInizioEsecuzione.HasValue)
                            {
                                if (stampa.DataFineEsecuzione.HasValue)
                                {
                                    <div class="chip center green white-text tooltipped" data-position="bottom" data-tooltip="Fine esecuzione: @stampa.DataFineEsecuzione.Value.ToString("dd/MM/yyyy HH:mm")" style="min-width: unset">
                                        Completata
                                    </div>
                                }
                                else
                                {
                                    abilitaReset = true;

                                    <div class="chip center amber white-text tooltipped" style="min-width: unset" data-position="bottom" data-tooltip="@stampa.Info">
                                        In lavorazione
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="chip center grey white-text" style="min-width: unset">
                                    In attesa
                                </div>
                            }
                        }
                        else
                        {
                            abilitaReset = true;

                            <div class="chip center red white-text tooltipped" data-position="bottom" data-tooltip="Messaggio di errore: @stampa.MessaggioErrore" style="min-width: unset">
                                Errore
                            </div>
                        }

                        @if (abilitaReset && stampa.Lock)
                        {
                            <a class="btn-floating pink tooltipped" data-position="bottom" data-tooltip="Ristampa" onclick="ResetStampa('@stampa.UIDStampa', '@Url.Action("Index")')">
                                <i class="material-icons">settings_backup_restore</i>
                            </a>
                        }
                        else
                        {
                            if (stampa.Tentativi >= 2)
                            {
                                <span class="new badge" data-badge-caption="tentativi">@stampa.Tentativi</span>
                            }
                        }

                    </td>
                    <td>
                        @if (stampa.DataInvio.HasValue)
                        {
                            <div class="chip center blue white-text tooltipped" data-position="bottom" data-tooltip="Data invio: @stampa.DataInvio.Value.ToString("dd/MM/yyyy HH:mm")" style="min-width: unset">
                                Inviato
                            </div>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(stampa.PathFile))
                        {
                            <a class="btn-floating pink tooltipped" href="@Url.Action("DownloadStampa", "Stampe", new {id = stampa.UIDStampa})" data-position="bottom" data-tooltip="Scarica file">
                                <i class="material-icons">file_download</i>
                            </a>
                        }
                    </td>
                    <td>
                        <i class="icon material-icons red-text tooltipped" data-tooltip="Elimina stampa" style="cursor: pointer" onclick="EliminaStampa(this, '@Html.Raw(stampa.UIDStampa)')">close</i>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>

@{
    Html.RenderPartial("_PaginationBar", Model.Paging);
}

<script>
    var url = '@Url.Action("Index", "Stampe")';
    var currentPage = @Html.Raw(Model.Paging.Page);
    var currentSize = @Html.Raw(Model.Paging.Limit);

    function filtra_Paginazione(size) {
        go(url + "?page=" + currentPage + "&size=" + size);
    }

    function filtra(page) {
        go(url + "?page=" + page + "&size=" + currentSize);
    }

    var interval = null;
    var initial_start = 30;
    $(document).ready(function() {
        playRicaricaAuto();
    });

    function stopRicaricaAuto() {
        $($(".progress").parent().find("i.red-text")).hide();
        $($(".progress").parent().find("i.blue-text")).show();
        clearInterval(interval);
    }

    function playRicaricaAuto() {
        $("#seconds_trigger").html(initial_start);
        $($(".progress").parent().find("i.red-text")).show();
        $($(".progress").parent().find("i.blue-text")).hide();
        interval = setInterval(function () {
            var seconds = $("#seconds_trigger").html();
            var percentage = (parseInt(seconds - 1) / parseInt(initial_start)) * 100;
            $(".progress>.determinate").attr("style", "width: " + percentage + "%;");
            $("#seconds_trigger").html(parseInt(seconds) - 1);

            if (parseInt(seconds) - 1 == 0) {
                clearInterval(interval);
                var redirectUrl = url + "?page=" + currentPage + "&size=" + currentSize;
                go(redirectUrl);
            }
        }, 1000);
    }

    function EliminaStampa(ctrl, stampaUId) {
        $(ctrl).parent().parent().attr("style", "opacity: .3");
        $(ctrl).hide();
        var url = '@Url.Action("EliminaStampa", "Stampe")?id=' + stampaUId;
        console.log(url)
        $.ajax({
            url: url,
            type: "GET"
        }).done(function(result) {

            M.toast({ html: 'Stampa eliminata <i class="icon material-icons yellow-text" onclick="location.reload()" style="margin-left:20px">sync</i>', classes: 'rounded', displayLength: 5000});

        }).fail(function(err) {
            console.log("error", err);
            Error(err);
        });
    }

    function copy_to_clipboard(id) {
        /* Get the text field */
        var copyText = document.getElementById("fingerprint_" + id);

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        M.toast({ html: 'Id stampa copiato negli appunti', classes: 'rounded' })
    }
</script>