@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.CardInvitoModel

@{
    var archivioReq = HttpUtility.ParseQueryString(Request.Url.Query).Get("archivio");
    var archivio = Convert.ToBoolean(archivioReq);

    var titolo = string.Empty;
    var sub_titolo = string.Empty;

    var notifica = Model.Data;

    if (notifica.IsPem)
    {
        titolo = $"Seduta del {notifica.EM.ATTI.SEDUTE.Data_seduta:dd/MM/yyyy}";
        var isSubEM = notifica.EM.Rif_UIDEM.HasValue;
        var progressivo = notifica.EM.Progressivo.Value;
        var title = "TEMP";
        if (isSubEM)
        {
            progressivo = notifica.EM.SubProgressivo.Value;
            title = "SUBEM";
        }

        var displayRiferimentoTemporaneo = string.Empty;
        if (notifica.EM.STATI_EM.IDStato >= (int)StatiEnum.Depositato)
        {
            displayRiferimentoTemporaneo = $"(ex. {title} {progressivo})";
        }

        sub_titolo = $" - {Utility.GetText_Tipo(notifica.EM.ATTI.IDTipoAtto)} {notifica.EM.ATTI.NAtto} - <b>{notifica.EM.N_EM} {displayRiferimentoTemporaneo}</b>";
    }
    else if (notifica.IsDasi)
    {
        titolo = $"{Utility.GetText_Tipo(notifica.ATTO_DASI.Tipo)} {notifica.ATTO_DASI.NAtto}";
        if (!string.IsNullOrEmpty(notifica.Messaggio) && notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA || notifica.IDTipo == (int)TipoNotificaEnum.RITIRO)
        {
            titolo = notifica.Messaggio;
        }
    }
}

<div class="collapsible-header" onclick="GetDestinatariNotifica('@notifica.UIDNotifica')">
    <table>
        <tr style="border: unset">
            <td style="border: unset" width="5">
                <p>
                    <label>
                        <input type="checkbox" />
                    </label>
                </p>
            </td>
            <td style="border: unset" width="5">
                @if (notifica.IsPem)
                {
                    <div class="chip blue-text white" style="border: 1px solid #7EADF3; min-width: unset;">PEM</div>
                }
                else if (notifica.IsDasi)
                {
                    <div class="chip red-text white" style="border: 1px solid #F4433C; min-width: unset;">DASI</div>
                }
            </td>
            <td style="border: unset">
                <label>
                    <b>@titolo</b>@Html.Raw(sub_titolo)
                </label>
            </td>
            <td style="border: unset; text-align: right; width: 10px">
                @{
                    var firmato_da_me = false;
                    if (notifica.IsPem)
                    {
                        firmato_da_me = notifica.EM.Firmato_Da_Me && notifica.Valida;
                    }
                    else if (notifica.IsDasi)
                    {
                        firmato_da_me = notifica.ATTO_DASI.Firmato_Da_Me && notifica.Valida;
                    }
                }
                @if (notifica.IDTipo != (int)TipoNotificaEnum.RITIRO)
                {
                    if (User.IsInRole(RuoliExt.Consigliere_Regionale) ||
                        User.IsInRole(RuoliExt.Assessore_Sottosegretario_Giunta))
                    {
                        var tooltip_descr = "";

                        if (firmato_da_me)
                        {
                            tooltip_descr = "Firmato";
                            if (notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                            {
                                tooltip_descr = "Firma accettata";
                            }
                            <i class="icon material-icons green-text tooltipped" data-tooltip="@tooltip_descr">check</i>
                        }
                        else
                        {
                            tooltip_descr = "Richiesta firma";
                            if (notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                            {
                                tooltip_descr = "In attesa di approvazione del proponente dell'atto";
                            }
                            <i class="icon material-icons blue-text tooltipped" data-tooltip="@tooltip_descr">query_builder</i>
                        }
                    }
                }
            </td>
        </tr>
    </table>

</div>
<div class="collapsible-body">
    <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
        <div class="col s6">
            <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
                @if (notifica.UTENTI_NoCons.UID_persona != Model.User.UID_persona)
                {
                    <div class="col s12">
                        <h5>Mittente</h5>
                        <hr />
                        <div class="chip" style="min-width: unset">
                            <img src="http://intranet.consiglio.regione.lombardia.it/GC/foto/@notifica.UTENTI_NoCons.foto" alt="@notifica.UTENTI_NoCons.DisplayName">
                            @notifica.UTENTI_NoCons.DisplayName_GruppoCode
                        </div>
                    </div>
                }

                <div class="col s12">
                    <h5>
                        @if (notifica.IDTipo == (int)TipoNotificaEnum.INVITO)
                        {
                            @Html.Raw("Invito a firmare")
                        }
                        else if (notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                        {
                            @Html.Raw("Proposta di firma")
                        }
                        else if (notifica.IDTipo == (int)TipoNotificaEnum.RITIRO)
                        {
                            @Html.Raw("Proposta di ritiro firma")
                        }
                    </h5>
                    @if (notifica.IsPem)
                    {
                        <div class="form-group">
                            <p>
                                <b>@notifica.EM.N_EM</b>
                            </p>
                            <h6>@Utility.MetaDatiEM_Label(notifica.EM)</h6>
                            @if (notifica.EM.ATTI.SEDUTE.Scadenza_presentazione.HasValue)
                            {
                                <label>
                                    <b>Scadenza Presentazione EM:</b> @notifica.EM.ATTI.SEDUTE.Scadenza_presentazione.Value.ToString("dd/MM/yyyy HH:mm")
                                </label>
                            }
                        </div>
                        <div class="form-group" style="margin-top: 20px">
                            @if (notifica.EM.Firmabile && notifica.IDTipo == (int)TipoNotificaEnum.INVITO)
                            {
                                <a class="btn-flat green-text" onclick="RevealFirmaDeposito('@notifica.EM.UIDEM', @Html.Raw((int) ActionEnum.FIRMA))">
                                    <i class="material-icons right green-text">gavel</i>
                                    FIRMA
                                </a>
                            }

                            <a class="btn-flat blue-text" onclick="go('@Url.Action("ViewEmendamento", "Emendamenti", new {id = notifica.UIDEM, notificaId = notifica.UIDNotifica})')">
                                Vedi EM
                            </a>
                            @if (!archivio)
                            {
                                <a class="btn-flat red-text" onclick="ArchiviaNotifica(this, '@notifica.UIDNotifica')">
                                    Archivia notifica
                                </a>
                            }
                        </div>
                    }
                    else if (notifica.IsDasi)
                    {
                        <div class="form-group">
                            <p>
                                <b>@titolo</b>
                            </p>
                            <p>
                                @if (string.IsNullOrEmpty(notifica.ATTO_DASI.Oggetto_Modificato))
                                {
                                    @notifica.ATTO_DASI.Oggetto
                                }
                                else
                                {
                                    @notifica.ATTO_DASI.Oggetto_Modificato
                                }
                            </p>
                        </div>
                        <div class="form-group" style="margin-top: 20px">
                            @if (notifica.ATTO_DASI.Firmabile && notifica.IDTipo == (int)TipoNotificaEnum.INVITO)
                            {
                                <a class="btn-flat green-text" onclick="RevealFirmaDepositoDASI('@notifica.ATTO_DASI.UIDAtto', @Html.Raw((int) ActionEnum.FIRMA))">
                                    <i class="material-icons right green-text">gavel</i>
                                    FIRMA
                                </a>
                            }

                            <a class="btn-flat blue-text" onclick="go('@Url.Action("ViewAtto", "DASI", new {id = notifica.ATTO_DASI.UIDAtto})')">
                                Vedi Atto
                            </a>
                            @if (!archivio)
                            {
                                <a class="btn-flat red-text" onclick="ArchiviaNotifica(this, '@notifica.UIDNotifica')">
                                    Archivia notifica
                                </a>
                            }
                        </div>

                        if (!notifica.Chiuso
                        && !notifica.Valida
                             && Model.User.UID_persona == notifica.ATTO_DASI.UIDPersonaPrimaFirma
                             && notifica.IDTipo == (int)TipoNotificaEnum.RICHIESTA)
                        {
                            <div class="form-group">
                                <a class="btn-flat green-text" onclick="AccettaPropostaFirmaAttoDASI(@notifica.UIDNotifica)">
                                    Accetta proposta
                                </a>
                            </div>
                        }
                        else if (!notifica.Chiuso
                                 && notifica.Valida
                                 && Model.User.UID_persona == notifica.ATTO_DASI.UIDPersonaPrimaFirma
                                 && notifica.IDTipo == (int)TipoNotificaEnum.RITIRO)
                        {
                            <div class="form-group">
                                <a class="btn-flat red-text" onclick="AccettaRitiroFirmaAttoDASI(@notifica.UIDNotifica)">
                                    Accetta ritiro
                                </a>
                            </div>
                        }
                    }


                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row" style="margin-bottom: unset !important; margin-top: unset !important;">
                <div class="col s12">
                    @Html.Partial("_CardInvito_Destinatari", notifica.UIDNotifica)
                </div>
            </div>
        </div>
    </div>
</div>