@using PortaleRegione.Client.Helpers
@model PortaleRegione.DTO.Model.RiepilogoNotificheModel
@{
    ViewBag.Title = "Riepilogo notifiche";
}

<script>
    $(document).ready(function () {
        $('#btnSearch').hide();
    });
</script>

<div class="row" style="margin-bottom: unset !important">
    <div class="col s12">
        <button type="button" role="button" class="btn-floating waves-effect waves-light grey darken-3 header-back" href="javascript:history.go(-1)">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="row valign-wrapper">
            <div class="col s12">
                <h4>
                    <b>@ViewBag.Title</b>
                </h4>
            </div>
        </div>
    </div>
</div>
<hr/>

@{
    var inviateReq = HttpUtility.ParseQueryString(Request.Url.Query).Get("is_inviate");
    var is_inviate = false;
    if (!string.IsNullOrEmpty(inviateReq))
    {
        is_inviate = Convert.ToBoolean(inviateReq);
    }
}

<ul id="RiepilogoNotificheTabs" class="tabs tabs-fixed-width">
    <li class="tab col s3">
        <button type="button" role="button" class="@(!is_inviate ? "active" : "")" onclick="go('@Url.Action("RiepilogoNotifiche", "Notifiche", new {is_inviate = false, archivio = false})')">
            <i class="icon material-icons">move_to_inbox</i> Ricevute
        </button>
    </li>
    <li class="tab col s3">
        <button type="button" role="button" class="@(is_inviate ? "active" : "")" onclick="go('@Url.Action("RiepilogoNotifiche", "Notifiche", new {is_inviate = true, archivio = false})')">
            <i class="icon material-icons">send</i> Inviate
        </button>
    </li>
</ul>


@{
    Html.RenderPartial("_PaginationBar", Model.Data.Paging);
}

@if (!is_inviate)
{
    @Html.Partial("RiepilogoNotificheRicevute", Model)
}
else if (is_inviate)
{
    @Html.Partial("RiepilogoNotificheInviate", Model)
}

<script>

    function ArchiviaNotifica(ctrl, id_notifica){
        swal("Sei sicuro di voler archiviare la notifica?",
            {
                buttons: {
                    cancel: "Annulla",
                    confirm: {
                        className: "red white-text",
                        title: "Archivia",
                        value: true
                    }
                }
            }).then((value) => {
            if (value == true) {
                var url = '@Url.Action("ArchiviaNotifica", "Notifiche")';
                var notifiche = [];
                notifiche.push(id_notifica);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: JSON.stringify(notifiche),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function(result) {

                    location.reload();

                }).fail(function(err) {
                    console.log("error", err);
                    Error(err);
                });
            }
        });
    }

    function RevealFirmaDeposito(id, action) {
	var text = "";
	var button = "";
	if (action == 3) {
		text = "Inserisci il PIN per firmare";
		button = "Firma";
	} else if (action == 4) {
		text = "Inserisci il PIN per presentare";
		button = "Presenta";
	}

	swal(text,
		{
			content: {
				element: "input",
				attributes: { placeholder: "******", className: "password" }
			},
			icon: "info",
			buttons: { cancel: "Annulla", confirm: button }
		})
		.then((value) => {
			if (value == null || value == "")
				return;

			$.ajax({
				url: baseUrl + "/emendamenti/azioni?id=" + id + "&azione=" + action + "&pin=" + value,
				method: "GET"
			}).done(function (data) {
				if (data.message) {
					var typeMessage = "error";
					var str = data.message;
					var pos = str.indexOf("OK");
					if (pos > 0) {
						typeMessage = "success";
					}
					swal({
						title: "Esito " + button,
						text: data.message,
						icon: typeMessage,
						button: "OK"
					}).then(() => {
                        location.reload();
					});
				} else {
					location.reload();
				}
			}).fail(function (err) {
				console.log("error", err);
				Error(err);
			});
		});
}

	function RevealFirmaDepositoDASI(id, action) {

		var text = "";
		var button = "";
		if (action == 3) {
			text = "Inserisci il PIN per firmare";
			button = "Firma";
		} else if (action == 4) {
			text = "Inserisci il PIN per presentare";
			button = "Presenta";
		}

		swal(text,
			{
				content: {
					element: "input",
					attributes: { placeholder: "******", className: "password" }
				},
				icon: "info",
				buttons: { cancel: "Annulla", confirm: button }
			})
			.then((value) => {
				if (value == null || value == "")
					return;

				$.ajax({
					url: baseUrl + "/dasi/azioni?id=" + id + "&azione=" + action + "&pin=" + value,
					method: "GET"
				}).done(function (data) {
					console.log('esito', data.message)
					if (data.message) {
						var typeMessage = "error";
						var message = data.message;
						var str = data.message;
						var pos = str.indexOf("OK");
						if (pos > 0) {
							typeMessage = "success";
						}
						pos = str.indexOf("?!?");
						if (pos > 0) {
							typeMessage = "info";
							message = "Proposta di firma inviata al proponente";
						}

						swal({
							title: "Esito " + button,
							text: message,
							icon: typeMessage,
							button: "OK"
						}).then(() => {
							if (data.message.includes("OK") || data.message.includes("?!?")) {
								location.reload();
							}
						});
					}
				}).fail(function (err) {
					console.log("error", err);
					Error(err);
				});
			});
	}

</script>