@using PortaleRegione.DTO.Model
@model PortaleRegione.DTO.Model.RiepilogoNotificheModel

@{
    var archivioReq = HttpUtility.ParseQueryString(Request.Url.Query).Get("archivio");
    var archivio = Convert.ToBoolean(archivioReq);
}
<div id="RiepilogoNotificheInviateTabs" class="row center-align">
    <div class="col s6">
        <button type="button" role="button" class="btn-flat @(!archivio ? "green-text" : "") chip" style="width: 100%" onclick="go('@Url.Action("RiepilogoNotifiche", "Notifiche", new {is_inviate = true, archivio = false})')">Attive</button>
    </div>
    <div class="col s6">
        <button type="button" role="button" class="btn-flat @(archivio ? "green-text" : "")" style="width: 100%" onclick="go('@Url.Action("RiepilogoNotifiche", "Notifiche", new {is_inviate = true, archivio = true})')">Archiviate</button>
    </div>
</div>

<div id="notificheInviateTable" class="row">
    @if (!Model.Data.Results.Any())
    {
        <div class="row">
            <div class="col s12">
                <div class="card-panel panel-warning center">
                    <span class="center">
                        Non ci sono notifiche inviate al momento
                    </span>
                </div>
            </div>
        </div>
    }
    else
    {
        <ul class="collapsible">
            @foreach (var notifica in Model.Data.Results)
            {
                <li>
                    @Html.Partial("_CardInvito", new CardInvitoModel
                    {
                        Data = notifica,
                        User = Model.CurrentUser,
                        Ricevute = false
                    })
                </li>
            }
        </ul>
    }
</div>