@using PortaleRegione.DTO.Enum
<div id="btnComandiMassivi" class="fixed-action-btn" style="display: none">
    <a class="btn-floating btn-large pink tooltipped" data-tooltip="Comandi massivi" data-position="left">
        <i class="large material-icons">playlist_add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating btn-large approvato tooltipped" onclick="IscriviASedutaMassivoDASI()" data-position="left" data-tooltip="Iscrivi alla seduta">
                <i class="material-icons">assignment_turned_in</i> Assegna a seduta
            </a>
        </li>
        
        <li>
            <a class="btn-floating btn-large tooltipped depositato" data-position="left" data-tooltip="Depositato" onclick="CambioStatoMassivoDASI(@((int) StatiAttoEnum.PRESENTATO), '@StatiAttoEnum.PRESENTATO')">
                <i class="material-icons">lock</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large tooltipped trattazione" data-position="left" data-tooltip="In Trattazione" onclick="CambioStatoMassivoDASI(@((int) StatiAttoEnum.IN_TRATTAZIONE), '@StatiAttoEnum.IN_TRATTAZIONE')">
                <i class="material-icons">settings_input_antenna</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large tooltipped chiuso" data-position="left" data-tooltip="Chiuso" onclick="CambioStatoMassivoDASI(@((int) StatiAttoEnum.COMPLETATO), '@StatiAttoEnum.COMPLETATO')">
                <i class="material-icons">storage</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large grey tooltipped" onclick="resetGridSelection()" data-position="left" data-tooltip="Annulla">
                <i class="material-icons">undo</i>
            </a>
        </li>
    </ul>
</div>

<script>
	$(document).ready(function () {
		$('.fixed-action-btn').floatingActionButton({
			hoverEnabled: false
		});
	});

    function ModificaMetaDASI(tipo) {
        openFormDASI(tipo, true);
    }

    function AbilitaComandiMassivi_DASI(uidAtto) {
        var selezionaTutti = getSelezionaTutti_DASI();
        if (uidAtto) {
            var chk = $("#chk_Atto_" + uidAtto);
            if (chk[0].checked) {
                if (selezionaTutti) {
                    removeAtto(uidAtto); //listaEsclusiva
                } else {
                    addAtto(uidAtto); //listaInsclusiva
                }
            } else {
                if (selezionaTutti) {
                    addAtto(uidAtto); //listaEsclusiva
                } else {
                    removeAtto(uidAtto); //listaInsclusiva
                }
            }
        }

        var lchk = getListaAtti();

        if (lchk.length > 0 || $("#checkAll")[0].checked || selezionaTutti) {
            $("#btnComandiMassivi").show();
            $("#pnlNuovoCartaceoDASI").hide();
        } else {
            $("#btnComandiMassivi").hide();
            $("#pnlNuovoCartaceoDASI").show();
        }
    }

    $("#checkAll").click(function() {
        setSelezionaTutti_DASI(this.checked);
        setListaAtti([]);
        $('input[id^="chk_Atto_"]').not(this).prop('checked', this.checked);
        AbilitaComandiMassivi_DASI(null);
    });

    function resetGridSelection() {
        $("#checkAll").prop("checked", false);
        $('input[id^="chk_Atto_"]').not(this).prop("checked", false);
        setSelezionaTutti_DASI(false);
        setListaAtti([]);
        AbilitaComandiMassivi_DASI(null);
    }
</script>