@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
<div id="btnComandiMassivi" class="fixed-action-btn" style="display: none">
    <a class="btn-floating btn-large pink tooltipped" data-tooltip="Comandi massivi" data-position="left">
        <i class="large material-icons">playlist_add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating approvato tooltipped" onclick="IscriviASedutaMassivoDASI()" data-position="left" data-tooltip="Iscrivi alla seduta">
                <i class="material-icons">assignment_turned_in</i> Assegna a seduta
            </a>
        </li>
        
        <li>
            <a class="btn-floating tooltipped depositato" data-position="left" data-tooltip="Presentato" onclick="CambioStatoMassivoDASI(@((int) StatiAttoEnum.PRESENTATO), '@StatiAttoEnum.PRESENTATO')">
                <i class="material-icons">lock</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped trattazione" data-position="left" data-tooltip="In Trattazione" onclick="CambioStatoMassivoDASI(@((int) StatiAttoEnum.IN_TRATTAZIONE), '@StatiAttoEnum.IN_TRATTAZIONE')">
                <i class="material-icons">settings_input_antenna</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped chiuso" data-position="left" data-tooltip="Chiuso" onclick="CambioStatoMassivoDASI(@((int) StatiAttoEnum.CHIUSO), '@StatiAttoEnum.CHIUSO')">
                <i class="material-icons">storage</i>
            </a>
        </li>
        <li>
            <a class="btn-floating grey tooltipped" onclick="resetGridSelection()" data-position="left" data-tooltip="Annulla">
                <i class="material-icons">undo</i>
            </a>
        </li>
    </ul>
</div>

<div id="pnlNuovoDASI" class="fixed-action-btn" style="display: block">
    <a id="btnNuovoDASI" class="btn-floating btn-large blue darken-1">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating  @Html.Raw(TipoAttoCSSConst.ITL)" href="@Url.Action("NuovoCartaceo", new {tipo = (int) TipoAttoEnum.ITL})">@Utility.GetText_TipoDASI((int)TipoAttoEnum.ITL)</a>
        </li>
    </ul>
</div>


<script>

    function ModificaMetaDASI(tipo) {
        openFormDASI(tipo, true);
    }

    function AbilitaComandiMassivi_DASI(uidAtto) {
        if (uidAtto) {
            var chk = $("#chk_Atto_" + uidAtto);
            var selezionaTutti = getSelezionaTutti_DASI();
            console.log("SEL.TUTTI", selezionaTutti);
            if (chk[0].checked) {
                if (selezionaTutti) {
                    removeAtto(uidAtto); //listaEsclusiva
                } else {
                    addAtto(uidAtto); //listaInsclusiva
                }
            } else {
                if (selezionaTutti) {
                    addAtto(uidAtto); //listaEsclusiva
                } else {
                    removeAtto(uidAtto); //listaInsclusiva
                }
            }
        }

        var lchk = getListaAtti();

        if (lchk.length > 0 || $("#checkAll")[0].checked) {
            $("#btnComandiMassivi").show();
            
        } else {
            $("#btnComandiMassivi").hide();
        }

        $("#pnlNuovoDASI").hide();
    }

    $("#checkAll").click(function() {
        setSelezionaTutti_DASI(this.checked);
        setListaAtti([]);
        $('input[id^="chk_Atto_"]').not(this).prop('checked', this.checked);
        AbilitaComandiMassivi_DASI(null);
    });

    function resetGridSelection() {
        $("#checkAll").prop("checked", false);
        $('input[id^="chk_Atto_"]').not(this).prop("checked", false);
        setSelezionaTutti_DASI(false);
        setListaAtti([]);
        AbilitaComandiMassivi_DASI(null);
    }
</script>