@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Domain
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
    var require_my_sign = Convert.ToBoolean(HttpUtility.ParseQueryString(Request.Url.Query).Get("require_my_sign"));
}

<div class="row valign-wrapper">
    <div class="col l6 s6">
        <label>
            <input type="checkbox" id="checkAll" onclick="checkAllFunc(this)"/>
            <span for="checkAll">
                Seleziona tutti
            </span>
        </label>

        @if (!Model.CurrentUser.IsSegreteriaAssemblea)
        {
            <br />
            <label>
                <input type="checkbox" id="expandAll" />
                <span for="expandAll">
                    Espandi tutti
                </span>
            </label>
        }

        @if (Model.CurrentUser.IsConsigliereRegionale && Model.ClientMode == ClientModeEnum.GRUPPI)
        {
            <br />
            <label>
                <input type="checkbox" id="checkAllMy" onchange="filtraDASI_RichiestaFirma(this.checked)" @Html.Raw(require_my_sign ? "checked=\"checked\"" : "") />
                <span for="checkAllMy">Visualizza tutti gli ATTI in bozza per i quali è richiesta la mia firma</span>
            </label>
        }
    </div>
    <div class="col l6 s6 right-align">

        <button type="button" role="button" class="btn-floating white black-text tooltipped" onclick="ConfirmStampa()" data-tooltip="Stampa" data-position="left">
            <i class="icon material-icons" style="margin-left: -1px!important;">print</i>
        </button>
        @{
            var text = "";
            var icon = "";
            var new_view = (int)ViewModeEnum.GRID;

            if (Model.ViewMode == ViewModeEnum.PREVIEW)
            {
                text = "Visualizza Atti in griglia";
                icon = "developer_board";
            }
            else if (Model.ViewMode == ViewModeEnum.GRID)
            {
                new_view = (int)ViewModeEnum.PREVIEW;
                text = "Visualizza Atti in preview";
                icon = "desktop_windows";
            }

            var statoFromCache = HttpContext.Current.Cache.Get($"{CacheHelper.STATO_DASI}_{Model.CurrentUser.UID_persona.ToString()}");
            var tipoFromCache = HttpContext.Current.Cache.Get($"{CacheHelper.TIPO_DASI}_{Model.CurrentUser.UID_persona.ToString()}");

            var url = Url.Action("RiepilogoDASI", "DASI", new { view = new_view, stato = statoFromCache, tipo = tipoFromCache });
            if (Model.ClientMode == ClientModeEnum.TRATTAZIONE)
            {
                var uidSeduta = Model.Data.Filters.First(item => item.PropertyId == nameof(AttoDASIDto.UIDSeduta)).Value;
                url = Url.Action("RiepilogoDASI_BySeduta", "DASI", new { id = uidSeduta, tipo = Model.Tipo, view = new_view });
            }

        }
        <button type="button" role="button" class="btn-floating white black-text tooltipped" onclick="gotoPreviewMode()" data-tooltip="@text" data-position="left">
            <i class="icon material-icons" style="margin-left: -1px!important;">@icon</i>
        </button>
    </div>
</div>

<script>

    function filtraDASI_RichiestaFirma(enable) {
        var url = '@Url.Action("RiepilogoDASI", "DASI", new { view = Model.ViewMode, stato = Model.Stato, tipo = Model.Tipo })';
        if (enable) {
            go(url + '&require_my_sign=true');
        } else {
            go(url + '&require_my_sign=false');
        }
    }

    function gotoPreviewMode() {
        var newMode = @Html.Raw(new_view);
        $('#inputFilterView').val(newMode);
        filtra();
    }
    
	function checkAllFunc(ctrl) {
		var isChecked = $(ctrl).prop('checked');
		setSelezionaTutti_DASI(isChecked);
		setListaAtti([]);
		$('input[id^="chk_Atto_"]').not($(ctrl)).prop('checked', isChecked);
		AbilitaComandiMassivi_DASI(null);
	}
</script>