@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
<div id="btnComandiMassivi" class="fixed-action-btn" style="display: none">
    <a class="btn-floating btn-large pink">
        <i class="large material-icons">playlist_add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating tooltipped green white-text" data-position="left" data-tooltip="Firma" onclick="FirmaMassivo_DASI()">
                <i class="material-icons">gavel</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped depositato" data-position="left" data-tooltip="Presenta" onclick="CambioStatoMassivo_DASI(@((int) StatiAttoEnum.PRESENTATO))">
                <i class="material-icons">lock</i>
            </a>
        </li>
        <li>
            <a class="btn-floating tooltipped ritirato" data-position="left" data-tooltip="Ritira" onclick="CambioStatoMassivo_DASI(@((int) StatiAttoEnum.RITIRATO))">
                <i class="material-icons">delete</i>
            </a>
        </li>
        <li>
            <a class="btn-floating grey tooltipped" onclick="resetGridSelection()" data-position="left" data-tooltip="Annulla">
                <i class="material-icons">undo</i>
            </a>
        </li>
    </ul>
</div>
<div id="pnlNuovoDASI" class="fixed-action-btn" style="display: block">
    <a id="btnNuovoDASI" class="btn-floating btn-large blue darken-1">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating  @Html.Raw(TipoAttoCSSConst.ITL)" href="@Url.Action("Nuovo", new {tipo = TipoAttoEnum.ITL })">@Utility.GetText_TipoDASI((int)TipoAttoEnum.ITL)</a></li>
        <li><a class="btn-floating  @Html.Raw(TipoAttoCSSConst.ITR)" href="@Url.Action("Nuovo", new {tipo = TipoAttoEnum.ITR })">@Utility.GetText_TipoDASI((int)TipoAttoEnum.ITR)</a></li>
        <li><a class="btn-floating  @Html.Raw(TipoAttoCSSConst.IQT)" href="@Url.Action("Nuovo", new {tipo = TipoAttoEnum.IQT })">@Utility.GetText_TipoDASI((int)TipoAttoEnum.IQT)</a></li>
        <li><a class="btn-floating  @Html.Raw(TipoAttoCSSConst.MOZ)" href="@Url.Action("Nuovo", new {tipo = TipoAttoEnum.MOZ })">@Utility.GetText_TipoDASI((int)TipoAttoEnum.MOZ)</a></li>
        <li><a class="btn-floating  @Html.Raw(TipoAttoCSSConst.ODG)" href="@Url.Action("Nuovo", new {tipo = TipoAttoEnum.ODG })">@Utility.GetText_TipoDASI((int)TipoAttoEnum.ODG)</a></li>
    </ul>
</div>


<script>
    
    function FirmaMassivo_DASI() {
        var listaAtti = getListaAtti();
        console.log("Firma massivo", listaAtti);
    }

    function AbilitaComandiMassivi_DASI(uidAtto) {
        if (uidAtto) {
            var chk = $("#chk_Atto_" + uidAtto);
            var selezionaTutti = getSelezionaTutti_DASI();
            if (chk[0].checked) {
                if (selezionaTutti) {
                    removeAtto(uidAtto); //listaEsclusiva
                } else {
                    addAtto(uidAtto); //listaInsclusiva
                }
            } else {
                if (selezionaTutti) {
                    addAtto(uidAtto); //listaEsclusiva
                } else {
                    removeAtto(uidAtto); //listaInsclusiva
                }
            }
        }

        var lchk = getListaAtti();
        var check_all = false;
        if ($("#checkAll").length > 0) {
            check_all = $("#checkAll")[0].checked;
        }
        if (lchk.length > 0 || check_all) {
            $("#btnComandiMassivi").show();
            $("#pnlNuovoDASI").hide();
        } else {
            $("#btnComandiMassivi").hide();
            $("#pnlNuovoDASI").show();
        }
    }

    $("#checkAll").click(function() {
        setSelezionaTutti_DASI(this.checked);
        setListaAtti([]);
        $('input[id^="chk_Atto_"]').not(this).prop('checked', this.checked);
        AbilitaComandiMassivi_DASI(null);
    });

    function resetGridSelection() {
        $("#checkAll").prop("checked", false);
        $('input[id^="chk_Atto_"]').not(this).prop("checked", false);
        setSelezionaTutti_DASI(false);
        setListaAtti([]);
        AbilitaComandiMassivi_DASI(null);
    }
</script>