@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
<div id="btnComandiMassivi" class="fixed-action-btn" style="display: none">
    <button type="button" role="button" class="btn-floating btn-large pink tooltipped" data-tooltip="Comandi massivi"
            data-position="left">
        <i class="large material-icons">playlist_add</i>
    </button>
    <ul>

        <li>
            <button type="button" role="button" class="btn-floating btn-large black white-text tooltipped"
                    onclick="RimuoviMassivoDASI()" data-position="left"
                    data-tooltip="Rimuovi iscrizione alla seduta, urgenza, abbinamento">
                <i class="material-icons">remove</i> Rimuovi
            </button>
        </li>

        <li>
            <button type="button" role="button" class="btn-floating btn-large black white-text tooltipped"
                    onclick="IscriviASedutaMassivoDASI()" data-position="left" data-tooltip="Iscrivi alla seduta">
                <i class="material-icons">assignment_turned_in</i> Assegna a seduta
            </button>
        </li>

        <li>
            <button type="button" role="button" class="btn-floating btn-large black white-text tooltipped"
                    data-position="left" data-tooltip="Depositato"
                    onclick="aprireModalProgressoCambioStatoMassivoDASI(@((int)StatiAttoEnum.PRESENTATO));">
                <i class="material-icons">lock</i>
            </button>
        </li>
        <li>
            <button type="button" role="button" class="btn-floating btn-large black white-text tooltipped"
                    data-position="left" data-tooltip="In Trattazione"
                    onclick="aprireModalProgressoCambioStatoMassivoDASI(@((int)StatiAttoEnum.IN_TRATTAZIONE));">
                <i class="material-icons">settings_input_antenna</i>
            </button>
        </li>
        <li>
            <button type="button" role="button" class="btn-floating btn-large black white-text tooltipped"
                    data-position="left" data-tooltip="Chiuso"
                    onclick="aprireModalProgressoCambioStatoMassivoDASI(@((int)StatiAttoEnum.COMPLETATO));">
                <i class="material-icons">storage</i>
            </button>
        </li>
        <li>
            <button type="button" role="button" class="btn-floating btn-large black white-text tooltipped"
                    data-position="left" data-tooltip="Modifica massiva dati" onclick="openModificaMassiva()">
                <i class="material-icons">content_copy</i>
            </button>
        </li>
        <li>
            <button type="button" role="button" class="btn-floating btn-large black white-text tooltipped"
                    onclick="resetGridSelection()" data-position="left" data-tooltip="Annulla">
                <i class="material-icons">undo</i>
            </button>
        </li>
    </ul>
</div>

<div id="modalModificaMassiva" class="modal">
    <div class="modal-content">
        <h4>Modifica massiva dati</h4>
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons">format_list_bulleted</i>Lista atti selezionati
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 l4 hide-on-med-and-down">
                        </div>
                        <div class="col s12 l4 hide-on-med-and-down">

                        </div>
                        <div class="col s12 l4 right-align">
                            <button id="btnAutocompletamentoDCR" class="btn-flat blue-text waves-effect waves-green">
                                Auto DCR
                            </button>
                            <button id="btnAutocompletamentoDCCR" class="btn-flat blue-text waves-effect waves-green">
                                Auto DCCR
                            </button>
                        </div>
                    </div>
                    <ul class="collection" id="listaMassivaAtti">
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">tune</i>Dati modificabili massivamente</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="input-field col s8">
                            <select id="Atto_Stato" name="Atto.Stato">
                                <option value="" disabled selected>Seleziona stato</option>
                                <option
                                    value="@Html.Raw((int)StatiAttoEnum.PRESENTATO)">@Utility.GetText_StatoDASI((int)StatiAttoEnum.PRESENTATO)</option>
                                <option
                                    value="@Html.Raw((int)StatiAttoEnum.IN_TRATTAZIONE)">@Utility.GetText_StatoDASI((int)StatiAttoEnum.IN_TRATTAZIONE)</option>
                                <option
                                    value="@Html.Raw((int)StatiAttoEnum.COMPLETATO)">@Utility.GetText_StatoDASI((int)StatiAttoEnum.COMPLETATO)</option>
                            </select>
                            <label for="Atto_Stato">Stato</label>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Atto.Stato.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input type="date" class="form-control" name="Atto.DataAnnunzio"/>
                            <label>Data annunzio</label>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Atto.DataAnnunzio.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <select id="Atto_TipoChiusuraIter" name="Atto.TipoChiusuraIter">
                                <option value="" disabled selected>Seleziona</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.APPROVATO)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.APPROVATO)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.COMUNICAZIONE_ASSEMBLEA)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.COMUNICAZIONE_ASSEMBLEA)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.TRATTAZIONE_ASSEMBLEA)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.TRATTAZIONE_ASSEMBLEA)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.RESPINTO)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.RESPINTO)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.RITIRATO)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.RITIRATO)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.INAMMISSIBILE)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.INAMMISSIBILE)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.DECADUTO)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.DECADUTO)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.DECADENZA_PER_FINE_LEGISLATURA)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.DECADENZA_PER_FINE_LEGISLATURA)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.DECADENZA_PER_FINE_MANDATO_CONSIGLIERE)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.DECADENZA_PER_FINE_MANDATO_CONSIGLIERE)</option>
                                <option
                                    value="@Html.Raw((int)TipoChiusuraIterEnum.CHIUSURA_PER_MOTIVI_DIVERSI)">@Utility.GetText_ChiusuraIterDASI((int)TipoChiusuraIterEnum.CHIUSURA_PER_MOTIVI_DIVERSI)</option>
                            </select>
                            <label for="Atto_TipoChiusuraIter">Tipo chiusura iter</label>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Atto.TipoChiusuraIter.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input type="date" class="form-control" name="Atto.DataChiusuraIter"/>
                            <label>Data chiusura iter</label>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Atto.DataChiusuraIter.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <select id="Atto_TipoVotazione" name="Atto.TipoVotazione">
                                <option value="" disabled selected>Seleziona</option>
                                <option
                                    value="@Html.Raw((int)TipoVotazioneIterEnum.PALESE_ALZATA_DI_MANO)">@Utility.GetText_TipoVotazioneDASI((int)TipoVotazioneIterEnum.PALESE_ALZATA_DI_MANO)</option>
                                <option
                                    value="@Html.Raw((int)TipoVotazioneIterEnum.APPELLO_NOMINALE)">@Utility.GetText_TipoVotazioneDASI((int)TipoVotazioneIterEnum.APPELLO_NOMINALE)</option>
                                <option
                                    value="@Html.Raw((int)TipoVotazioneIterEnum.SCRUTINIO_SEGRETO)">@Utility.GetText_TipoVotazioneDASI((int)TipoVotazioneIterEnum.SCRUTINIO_SEGRETO)</option>
                            </select>
                            <label for="Atto_TipoVotazione">Tipo votazione</label>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Atto.TipoVotazione.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input type="date" class="form-control" name="Atto.DataComunicazioneAssemblea"/>
                            <label>Data comunicazione assemblea</label>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in"
                                           name="Atto.DataComunicazioneAssemblea.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <p>
                                <label>
                                    <input name="Atto.Emendato" type="checkbox" value="true"/>
                                    <span>Emendato</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Atto.Emendato.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <p>
                                <label>
                                    <input name="Atto.Pubblicato" type="checkbox" value="true"/>
                                    <span>Pubblicato</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s4 center">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Atto.Pubblicato.Check"/>
                                    <span>Abilitato / Disabilitato</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col s12 right-align">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annulla</a>
                <a id="btnSalvaModificaMassiva" class="blue-text waves-effect waves-green btn-flat">Salva</a>
            </div>
        </div>
    </div>
</div>

<div id="modalProgressoMassivo" class="modal" style="max-width: 600px;">
    <div class="modal-content">
        <h4>Elaborazione in corso...</h4>
        <p id="progressoDescrizioneOperazione">Operazione massiva in corso</p>
        
        <!-- Progress bar principale -->
        <div class="progress-container" style="margin: 20px 0;">
            <div class="progress">
                <div id="progressBarPrincipale" class="determinate" style="width: 0"></div>
            </div>
            <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                <span id="progressoPagineText">Pagina 0 di 0</span>
                <span id="progressoPercentuale">0%</span>
            </div>
        </div>

        <!-- Informazioni dettagliate -->
        <div class="card-panel blue lighten-5">
            <p><strong>Totale atti:</strong> <span id="infoTotaleAtti"></span></p>
            <p><strong>Atti elaborati:</strong> <span id="infoAttiElaborati">0</span></p>
            <p><strong>Tempo stimato rimasto:</strong> <span id="infoTempoStimato">Calcolando...</span></p>
        </div>

        <!-- Log operazioni -->
        <div class="card-panel grey lighten-4" style="max-height: 200px; overflow-y: auto;">
            <h6>Log operazioni:</h6>
            <div id="logOperazioni">
                <p class="grey-text">Inizializzazione...</p>
            </div>
        </div>

        <!-- Controlli -->
        <div class="modal-footer" style="position: unset !important;">
            <button id="btnInterrompiOperazione" type="button" class="btn red" disabled>
                <i class="material-icons left">stop</i>Interrompi
            </button>
            <button id="btnChiudiProgresso" type="button" class="btn grey modal-close" style="display: none;" onclick="setTimeout(function () {location.reload(); }, 1500);">
                Chiudi
            </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton({
            hoverEnabled: true
        });
    });

    var selectedUid = [];

    function openModificaMassiva() {
        waiting(true);

        // Seleziona tutti i checkbox che hanno un ID che inizia con "chk_Atto_"
        const selectedCheckboxes = document.querySelectorAll('input[type="checkbox"][id^="chk_Atto_"]:checked');

        // Pulisci la lista esistente
        const listaMassivaAtti = document.getElementById('listaMassivaAtti');
        listaMassivaAtti.innerHTML = '';

        // Crea un array per tracciare gli atti già aggiunti
        const addedItems = new Set();

        // Itera sui checkbox selezionati
        selectedCheckboxes.forEach(checkbox => {
            // Trova la riga padre del checkbox
            const row = checkbox.closest('tr');
            const displayColumn = row.querySelector('td:nth-child(2) .chip');

            if (displayColumn) {
                const displayText = displayColumn.getAttribute('data-text');
                const displayId = displayColumn.getAttribute('data-id');

                const oggettoTrovato = risultatiTabella.find(item => item.UIDAtto === displayId);
                // Aggiungi l'elemento alla lista solo se non è già stato aggiunto
                if (!addedItems.has(displayId)) {
                    const listItem = document.createElement('li');
                    listItem.className = 'collection-item';

                    // Crea gli input per Protocollo, DCR e DCCR
                    listItem.innerHTML = `
					<span><b>${displayText}</b></span>
					<div class="row">
						<div class="input-field col s3">
							<input type="text" id="protocollo_${displayId}" name="Protocollo_${displayId}" placeholder="Protocollo" value="${oggettoTrovato.Protocollo}">
							<label for="protocollo_${displayId}" class="active">Protocollo</label>
						</div>
						<div class="input-field col s3">
							<input type="text" id="dcr_${displayId}" name="DCR_${displayId}" placeholder="DCR" value="${oggettoTrovato.DCR}">
							<label for="dcr_${displayId}" class="active">DCR</label>
						</div>
                        <div class="input-field col s3">
							<input type="text" id="dccr_speciale_${displayId}" name="DCCR_Speciale_${displayId}" placeholder="Comm. Speciale" value="${oggettoTrovato.DCCR_Speciale}" maxlength="2">
							<label for="dccr_speciale_${displayId}" class="active">Comm. Speciale</label>
						</div>
						<div class="input-field col s3">
							<input type="text" id="dccr_${displayId}" name="DCCR_${displayId}" placeholder="DCCR" value="${oggettoTrovato.DCCR}">
							<label for="dccr_${displayId}" class="active">DCCR</label>
						</div>
					</div>
				`;

                    // Aggiungi l'elemento alla lista
                    listaMassivaAtti.appendChild(listItem);
                    addedItems.add(displayId);

                    // Aggiungi l'UID alla lista degli elementi selezionati
                    selectedUid.push(displayId);
                }
            }
        });

        waiting(false);
        $("#modalModificaMassiva").modal("open");
    }

    document.getElementById('btnAutocompletamentoDCR').addEventListener('click', function () {
        $("#modalModificaMassiva").modal("close");

        swal({
            text: "Inserisci il numero iniziale della DCR per poter procedere con l'auto-incremento?",
            content: {
                element: "input",
                attributes: {
                    placeholder: "Numero iniziale DCR",
                    type: "text"
                }
            },
            icon: "info",
            buttons: ["Annulla", "Procedi"]
        }).then((value) => {
            if (value) {
                console.log("Numero inserito:", value);

                // Converti il valore iniziale in numero
                let currentValue = parseInt(value, 10);

                selectedUid.forEach(uid => {
                    let dcrInput = document.getElementById(`dcr_${uid}`);
                    let dcrValue = parseInt(dcrInput.value, 10);

                    if (isNaN(dcrValue) || dcrValue === 0) {
                        // Assegna il valore incrementato
                        dcrInput.value = currentValue;
                        console.log(`Assegnato ${currentValue} all'input dcr_${uid}`);
                        // Incrementa il valore per il prossimo input
                        currentValue++;
                    }
                });
            } else {
                console.log("Operazione annullata");
            }

            $("#modalModificaMassiva").modal("open");
        });
    });

    document.getElementById('btnAutocompletamentoDCCR').addEventListener('click', function () {
        $("#modalModificaMassiva").modal("close");

        swal({
            text: "Inserisci il numero iniziale della DCCR per poter procedere con l'auto-incremento?",
            content: {
                element: "input",
                attributes: {
                    placeholder: "Numero iniziale DCCR",
                    type: "text"
                }
            },
            icon: "info",
            buttons: ["Annulla", "Procedi"]
        }).then((value) => {
            if (value) {
                console.log("Numero inserito:", value);

                // Converti il valore iniziale in numero
                let currentValue = parseInt(value, 10);

                selectedUid.forEach(uid => {
                    let dcrInput = document.getElementById(`dccr_${uid}`);
                    let dcrValue = parseInt(dcrInput.value, 10);

                    if (isNaN(dcrValue) || dcrValue === 0) {
                        // Assegna il valore incrementato
                        dcrInput.value = currentValue;
                        console.log(`Assegnato ${currentValue} all'input dccr_${uid}`);
                        // Incrementa il valore per il prossimo input
                        currentValue++;
                    }
                });
            } else {
                console.log("Operazione annullata");
            }

            $("#modalModificaMassiva").modal("open");
        });
    });

    document.getElementById('btnSalvaModificaMassiva').addEventListener('click', function () {
        swal({
            title: "Salvataggio massivo",
            text: "Sei sicuro di voler aggiornare massivamente i campi selezionati?",
            icon: "info",
            buttons: ["Annulla", "Procedi"]
        }).then(async (answer) => {
            if (answer) {
                waiting(true);
                var request = {};
                request.Lista = [];
                selectedUid.forEach(uid => {
                    let protocollo = document.getElementById(`protocollo_${uid}`).value;
                    let dcr = document.getElementById(`dcr_${uid}`).value;
                    let dccr = document.getElementById(`dccr_${uid}`).value;
                    let dccr_speciale = document.getElementById(`dccr_speciale_${uid}`).value;

                    // Crea un oggetto per ogni atto
                    let attoData = {
                        uid: uid,
                        protocollo: protocollo,
                        dcr: dcr,
                        dccr: dccr,
                        dccr_speciale: dccr_speciale,
                    };

                    // Aggiungi l'oggetto alla lista di dati da inviare
                    request.Lista.push(attoData);
                });

                let datiDaInviare = {};

                // Raccogli sia il valore del checkbox che il valore del campo associato
                datiDaInviare.statoCheck = document.querySelector("input[name='Atto.Stato.Check']").checked;
                datiDaInviare.stato = document.querySelector("select[name='Atto.Stato']").value;

                datiDaInviare.dataAnnunzioCheck = document.querySelector("input[name='Atto.DataAnnunzio.Check']").checked;
                datiDaInviare.dataAnnunzio = document.querySelector("input[name='Atto.DataAnnunzio']").value;

                datiDaInviare.tipoChiusuraIterCheck = document.querySelector("input[name='Atto.TipoChiusuraIter.Check']").checked;
                datiDaInviare.tipoChiusuraIter = document.querySelector("select[name='Atto.TipoChiusuraIter']").value;

                datiDaInviare.dataChiusuraIterCheck = document.querySelector("input[name='Atto.DataChiusuraIter.Check']").checked;
                datiDaInviare.dataChiusuraIter = document.querySelector("input[name='Atto.DataChiusuraIter']").value;

                datiDaInviare.tipoVotazioneCheck = document.querySelector("input[name='Atto.TipoVotazione.Check']").checked;
                datiDaInviare.tipoVotazione = document.querySelector("select[name='Atto.TipoVotazione']").value;

                datiDaInviare.dataComunicazioneAssembleaCheck = document.querySelector("input[name='Atto.DataComunicazioneAssemblea.Check']").checked;
                datiDaInviare.dataComunicazioneAssemblea = document.querySelector("input[name='Atto.DataComunicazioneAssemblea']").value;

                datiDaInviare.emendatoCheck = document.querySelector("input[name='Atto.Emendato.Check']").checked;
                datiDaInviare.emendato = document.querySelector("input[name='Atto.Emendato']").checked;

                datiDaInviare.pubblicatoCheck = document.querySelector("input[name='Atto.Pubblicato.Check']").checked;
                datiDaInviare.pubblicato = document.querySelector("input[name='Atto.Pubblicato']").checked;

                request.Dati = datiDaInviare;

                var url = '@Url.Action("Salva_ComandoMassivo", "DASI")';

                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(request)
                });

                if (!response.ok) {
                    waiting(false);
                    throw new Error('Network response was not ok');
                }

                try {
                    const errorData = await response.json();
                    if (errorData !== "OK") {
                        waiting(false);
                        ErrorAlert(errorData.message);
                        return;
                    }

                } catch (error) {
                    // ignored
                }

                M.toast({
                    html: `<span>Salva dati massivi completato con successo</span>`,
                    classes: 'rounded',
                    displayLength: 5000
                });

                setTimeout(function () {
                    location.reload();
                }, 5000);
            }
        });


        waiting(false);
    });

    function ModificaMetaDASI(tipo) {
        openFormDASI(tipo, true);
    }

    function AbilitaComandiMassivi_DASI(uidAtto) {
        var selezionaTutti = getSelezionaTutti_DASI();
        if (uidAtto) {
            var chk = $("#chk_Atto_" + uidAtto);
            if (chk[0].checked) {
                if (selezionaTutti) {
                    removeAtto(uidAtto); //listaEsclusiva
                } else {
                    addAtto(uidAtto); //listaInsclusiva
                }
            } else {
                if (selezionaTutti) {
                    addAtto(uidAtto); //listaEsclusiva
                } else {
                    removeAtto(uidAtto); //listaInsclusiva
                }
            }
        }

        var lchk = getListaAtti();

        if (lchk.length > 0 || $("#checkAll")[0].checked || selezionaTutti) {
            $("#btnComandiMassivi").show();
        } else {
            $("#btnComandiMassivi").hide();
        }
    }

    $("#checkAll").click(function () {
        setSelezionaTutti_DASI(this.checked);
        setListaAtti([]);
        $('input[id^="chk_Atto_"]').not(this).prop('checked', this.checked);
        AbilitaComandiMassivi_DASI(null);
    });

    function resetGridSelection() {
        $("#checkAll").prop("checked", false);
        $('input[id^="chk_Atto_"]').not(this).prop("checked", false);
        setSelezionaTutti_DASI(false);
        setListaAtti([]);
        AbilitaComandiMassivi_DASI(null);
    }

    function RimuoviMassivoDASI() {
        swal({
            title: "Comando massivo di rimozione",
            text: "Scegli cosa vuoi rimuovere.",
            buttons: {
                cancel: "Annulla",
                iscrizione_seduta: {
                    className: "blue black-text",
                    text: "Iscrizione",
                    value: "iscrizione in seduta"
                },
                urgenza: {
                    className: "red black-text",
                    text: "Urgenza",
                    value: "urgenza"
                },
                abbinamento: {
                    className: "pink black-text",
                    text: "Abb.",
                    value: "abbinamento"
                }
            },
            icon: "info"
        }).then(function (value) {
            swal({
                title: "Comando di rimozione",
                text: "Hai selezionato: Rimuovi " + value,
                icon: "warning",
                buttons: ["Annulla", "Rimuovi"],
                dangerMode: true
            }).then(async function (confirm_value) {
                if (confirm_value) {
                    // Seleziona tutti i checkbox che hanno un ID che inizia con "chk_Atto_"
                    const selectedCheckboxes = document.querySelectorAll('input[type="checkbox"][id^="chk_Atto_"]:checked');

                    // Crea un array per tracciare gli atti già aggiunti
                    const addedItems = new Set();

                    // Itera sui checkbox selezionati
                    selectedCheckboxes.forEach(checkbox => {
                        // Trova la riga padre del checkbox
                        const row = checkbox.closest('tr');
                        const displayColumn = row.querySelector('td:nth-child(2) .chip');

                        if (displayColumn) {
                            const displayId = displayColumn.getAttribute('data-id');

                            if (!addedItems.has(displayId)) {
                                addedItems.add(displayId);
                            }
                        }
                    });
                    var comando = @Html.Raw((int)ComandoRimuoviMassivoEnum.Nessuno);
                    if (value == "iscrizione in seduta") {
                        comando = @Html.Raw((int)ComandoRimuoviMassivoEnum.Iscrizione);
                    } else if (value == "urgenza") {
                        comando = @Html.Raw((int)ComandoRimuoviMassivoEnum.Urgenza);
                    } else if (value == "abbinamento") {
                        comando = @Html.Raw((int)ComandoRimuoviMassivoEnum.Abbinamento);
                    }

                    var request = {
                        Lista: Array.from(addedItems),
                        Comando: comando
                    };

                    var url = '@Url.Action("Rimuovi_ComandoMassivo", "DASI")';

                    const response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(request)
                    });

                    if (!response.ok) {
                        waiting(false);
                        throw new Error('Network response was not ok');
                    }

                    try {
                        const errorData = await response.json();
                        if (errorData !== "OK") {
                            waiting(false);
                            ErrorAlert(errorData.message);
                            return;
                        }
                    } catch (error) {
                        // ignored
                    }

                    M.toast({
                        html: `<span>Comando rimozione massiva completato con successo</span>`,
                        classes: 'rounded',
                        displayLength: 5000
                    });

                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                }
            });
        });
    }

    async function aprireModalProgressoCambioStatoMassivoDASI(stato){
        var totaleRisultati = $(".pagination").data("totale-risultati");
        var numSelezionatiGriglia = $(".pagination").data("risultati-pagina");

        swal({
            title: "Conferma azione",
            text: "Sei sicuro di voler eseguire l'azione di cambio massivo stato?",
            icon: "info",
            buttons: {
                cancel: "Annulla",
                tutti: {
                    text: `Tutti (${totaleRisultati} atti)`,
                    value: "tutti",
                    className: "amber"
                },
                griglia: {
                    text: `Griglia (${numSelezionatiGriglia} atti)`,
                    value: "griglia",
                    className: "blue"
                }
            }
        }).then(async (value) => {
            if (value === "griglia") {
                // Flusso normale - solo atti selezionati in griglia
                await CambioStatoMassivoDASI(stato);
            } else if (value === "tutti") {
                // Nuovo flusso - tutti gli atti con progress modal
                var totalePagine = $(".pagination").data("totale-pagine");
                await aprireModalProgresso(1, stato, totalePagine, totaleRisultati);
            }
        });
    }
    
    async function aprireModalProgresso(operation, single_parameter, totalePagine, totaleRisultati) {
        // Reset variabili
        operazioneInterrotta = false;
        tempoInizioOperazione = new Date();
        contatorePagineElaborate = 0;

        // Imposta i valori nella modal
        document.getElementById('infoTotaleAtti').textContent = totaleRisultati;
        document.getElementById('infoAttiElaborati').textContent = '0';
        document.getElementById('progressoPagineText').textContent = `Pagina 0 di ${totalePagine}`;
        document.getElementById('progressoPercentuale').textContent = '0%';
        document.getElementById('progressBarPrincipale').style.width = '0%';

        // Reset log
        document.getElementById('logOperazioni').innerHTML = '<p class="grey-text">Inizializzazione...</p>';

        // Configura i bottoni
        document.getElementById('btnInterrompiOperazione').disabled = false;
        document.getElementById('btnChiudiProgresso').style.display = 'none';

        // Event listeners
        document.getElementById('btnInterrompiOperazione').onclick = function() {
            operazioneInterrotta = true;
            this.disabled = true;
            this.innerHTML = '<i class="material-icons left">hourglass_empty</i>Interruzione...';
            aggiungiLogEntry('Richiesta interruzione operazione...', 'orange-text');
            document.getElementById('btnChiudiProgresso').style.display = 'inline-block';
        };

        // Apre la modal
        $('#modalProgressoMassivo').modal({
            dismissible: false,
            onCloseEnd: function() {
                operazioneInterrotta = true;
            }
        });
        $('#modalProgressoMassivo').modal('open');

        // Inizia l'elaborazione
        await avviaElaborazioneMassiva(operation ,single_parameter, totalePagine);
    }

    async function avviaElaborazioneMassiva(operation, single_parameter, totalePagine) {
        aggiungiLogEntry('Inizio elaborazione massiva...', 'blue-text');

        let attiElaboratiTotali = 0;
        const risultatiPerPagina = $(".pagination").data("risultati-pagina");

        try {
            for (let paginaCorrente = 1; paginaCorrente <= totalePagine; paginaCorrente++) {
                if (operazioneInterrotta) {
                    aggiungiLogEntry('Operazione interrotta dall\'utente', 'red-text');
                    break;
                }

                aggiungiLogEntry(`Elaborazione pagina ${paginaCorrente} di ${totalePagine}...`);

                // Aggiorna progress bar
                const percentualeProgresso = Math.round((contatorePagineElaborate / totalePagine) * 100);
                aggiornareProgressBar(paginaCorrente, totalePagine, percentualeProgresso, attiElaboratiTotali);

                try {
                    // Ottiene i GUID per la pagina corrente
                    const guidsPerPagina = await inviaDatiChipsSoloIds(paginaCorrente, risultatiPerPagina);

                    if (guidsPerPagina && guidsPerPagina.length > 0) {
                        // Esegue l'operazione di cambio stato per questa pagina
                        if (operation == 1) //Cambio Stato
                        {
                            await CambioStatoMassivoDASISoloIds(single_parameter, guidsPerPagina);
                        }else if (operation == 2){
                            await IscrizioneASedutaMassivoDASISoloIds(single_parameter, guidsPerPagina);
                        }

                        attiElaboratiTotali += guidsPerPagina.length;
                        aggiungiLogEntry(`Pagina ${paginaCorrente} completata: ${guidsPerPagina.length} atti elaborati`, 'green-text');
                    } else {
                        aggiungiLogEntry(`Pagina ${paginaCorrente}: nessun atto trovato`, 'orange-text');
                    }

                    contatorePagineElaborate++;

                    // Timeout tra le chiamate per dare respiro all'API
                    if (paginaCorrente < totalePagine && !operazioneInterrotta) {
                        await sleep(2000); // 1 secondo di pausa
                    }

                } catch (error) {
                    aggiungiLogEntry(`Errore pagina ${paginaCorrente}: ${error.message}`, 'red-text');
                    // Continua con la pagina successiva invece di fermare tutto
                }
            }

            // Operazione completata
            if (!operazioneInterrotta) {
                const percentualeFinale = 100;
                aggiornareProgressBar(totalePagine, totalePagine, percentualeFinale, attiElaboratiTotali);
                aggiungiLogEntry(`Operazione completata! ${attiElaboratiTotali} atti elaborati`, 'green-text text-darken-2');

                // Configura i bottoni per la chiusura
                document.getElementById('btnInterrompiOperazione').style.display = 'none';
                document.getElementById('btnChiudiProgresso').style.display = 'inline-block';
                document.getElementById('btnChiudiProgresso').onclick = function() {
                    $('#modalProgressoMassivo').modal('close');
                    location.reload(); // Ricarica la pagina per aggiornare i dati
                };
            }

        } catch (error) {
            aggiungiLogEntry(`Errore critico: ${error.message}`, 'red-text');
            document.getElementById('btnInterrompiOperazione').style.display = 'none';
            document.getElementById('btnChiudiProgresso').style.display = 'inline-block';
        }
    }

    function aggiornareProgressBar(paginaCorrente, totalePagine, percentuale, attiElaborati) {
        document.getElementById('progressBarPrincipale').style.width = percentuale + '%';
        document.getElementById('progressoPagineText').textContent = `Pagina ${paginaCorrente} di ${totalePagine}`;
        document.getElementById('progressoPercentuale').textContent = percentuale + '%';
        document.getElementById('infoAttiElaborati').textContent = attiElaborati;

        // Calcola tempo stimato
        if (tempoInizioOperazione && contatorePagineElaborate > 0) {
            const tempoTrascorso = (new Date() - tempoInizioOperazione) / 1000; // in secondi
            const tempoPerPagina = tempoTrascorso / contatorePagineElaborate;
            const pagineRimaste = totalePagine - contatorePagineElaborate;
            const tempoStimato = Math.round(tempoPerPagina * pagineRimaste);

            document.getElementById('infoTempoStimato').textContent =
                tempoStimato > 60 ? `${Math.round(tempoStimato / 60)} minuti` : `${tempoStimato} secondi`;
        }
    }

    function aggiungiLogEntry(messaggio, classe = '') {
        const logContainer = document.getElementById('logOperazioni');
        const timestamp = new Date().toLocaleTimeString();
        const logEntry = document.createElement('p');
        logEntry.className = classe;
        logEntry.innerHTML = `<small>${timestamp}</small> - ${messaggio}`;

        // Inserisce il nuovo log all'inizio invece che alla fine
        logContainer.insertBefore(logEntry, logContainer.firstChild);

        // Mantiene solo gli ultimi 50 log per evitare accumulo eccessivo
        while (logContainer.children.length > 50) {
            logContainer.removeChild(logContainer.lastChild);
        }
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
</script>