@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

<div class="col s12">
    <div class="chip hoverable @Html.Raw(TipoAttoCSSConst.ITL)" style="min-width: unset" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new {tipo = (int) TipoAttoEnum.ITL})')">
        ITL (@Model.CountBarData.ITL)
    </div>
    <div class="chip hoverable @Html.Raw(TipoAttoCSSConst.ITR)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new {tipo = (int) TipoAttoEnum.ITR})')">
        ITR (@Model.CountBarData.ITR)
    </div>
    <div class="chip hoverable @Html.Raw(TipoAttoCSSConst.IQT)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new {tipo = (int) TipoAttoEnum.IQT})')">
        IQT (@Model.CountBarData.IQT)
    </div>
    <div class="chip hoverable @Html.Raw(TipoAttoCSSConst.MOZ)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new {tipo = (int) TipoAttoEnum.MOZ})')">
        MOZ (@Model.CountBarData.MOZ)
    </div>
    <div class="chip hoverable @Html.Raw(TipoAttoCSSConst.ODG)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new {tipo = (int) TipoAttoEnum.ODG})')">
        ODG (@Model.CountBarData.ODG)
    </div>
    <div class="chip hoverable @Html.Raw(TipoAttoCSSConst.TUTTI)" onclick="go('@Url.Action("RiepilogoDASI", "DASI")')">
        Tutti (@Model.CountBarData.TUTTI)
    </div>
</div>