@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

<div class="col s12">
    <div class="chip hoverable @Html.Raw(TipoAttoCSSConst.ITL)" style="min-width: unset" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new {tipo = (int) TipoAttoEnum.ITL})')">
        ITL (@Model.CountBarData.ITL)
    </div>
    <div class="chip badgeDISABLED">
        ITR (@Model.CountBarData.ITR)
    </div>
    <div class="chip badgeDISABLED">
        IQT (@Model.CountBarData.IQT)
    </div>
    <div class="chip badgeDISABLED">
        MOZ (@Model.CountBarData.MOZ)
    </div>
    <div class="chip badgeDISABLED">
        ODG (@Model.CountBarData.ODG)
    </div>
    <div class="chip @Html.Raw(TipoAttoCSSConst.TUTTI)">
        Tutti (@Model.CountBarData.TUTTI)
    </div>
</div>