@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DASIFormModel

@{
    var placeholder_allegato_generico_text = string.Empty;
    placeholder_allegato_generico_text = !string.IsNullOrEmpty(Model.Atto.PATH_AllegatoGenerico) ? "Sostituisci documento" : "Inserisci documento";

    bool _readonly = Model.Atto.IDStato == (int) StatiAttoEnum.PRESENTATO;
}
<div class="form-group">
    @Html.LabelFor(s => s.Atto.PATH_AllegatoGenerico)
</div>
<div class="file-field input-field">
    <div class="btn">
        <span>SFOGLIA</span>
        <input type="file" name="DocAllegatoGenerico" accept="application/pdf" @Html.Raw(_readonly ? "disabled=\"disabled\"" : "")>
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="@placeholder_allegato_generico_text" @Html.Raw(_readonly ? "disabled=\"disabled\"" : "")>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Atto.PATH_AllegatoGenerico))
{
    <div class="form-group pnl-doc">
        <div class="chip">@Path.GetFileName(Model.Atto.PATH_AllegatoGenerico)</div>
    </div>
}