@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
    Html.RenderPartial("_PaginationBar", Model.Data.Paging);
    Html.RenderPartial("_Command_RiepilogoDASI", Model);
}

@if (!Model.Data.Results.Any())
{
    <div class="row">
        <div class="col s12">
            <div class="card-panel panel-warning center">
                <span class="center">
                    @{
                        var require_my_sign = Convert.ToBoolean(HttpUtility.ParseQueryString(Request.Url.Query).Get("require_my_sign"));
                        if (require_my_sign)
                        {
                            <p>Non ci sono atti dove è richiesta la tua firma</p>
                        }
                        else
                        {
                            <p>Non ci sono atti al momento</p>
                        }
                    }
                </span>
            </div>
        </div>
    </div>
}
else
{
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th width="5" class="center">
                </th>
                <th width="150">Atto</th>
                <th>Tipo</th>
                <th>Oggetto</th>
                @*<th>Soggetto</th>*@
                <th width="150">Firmatari</th>
                <th width="150">Stato</th>
                @if (Model.ClientMode == ClientModeEnum.GRUPPI)
                {
                    <th width="10">Seduta</th>
                }
                <th width="100"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Data.Results)
            {
                <tr>
                    <td>

                        <p>
                            <label>
                                <input type="checkbox" id="chk_Atto_@item.UIDAtto" onclick="AbilitaComandiMassivi_DASI('@item.UIDAtto');" />
                                <span></span>
                            </label>
                        </p>
                    </td>
                    <td>
                        @{
                            var title = $"{PortaleRegione.Common.Utility.GetText_TipoDASI(item.Tipo)} ";
                            title += item.NAtto;
                        }
                        
                        <div id="atto_@item.UIDAtto" class="chip @Html.Raw(Utility.GetCSS_TipoDASI(item.Tipo))" data-nome-atto="@title">
                            @Html.Raw(title)
                        </div>
                    </td>
                    <td>
                        <span class="@Utility.GetText_TipoRispostaCommissioneCSSTooltipDASI(item)" data-tooltip="@Utility.GetText_TipoRispostaCommissioneTooltipDASI(item)">
                            @PortaleRegione.Common.Utility.GetText_TipoRispostaDASI(item.IDTipo_Risposta)
                        </span>
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Oggetto_Modificato))
                        {
                            @Html.Raw(item.Oggetto)
                        }
                        else
                        {
                            @Html.Raw(item.Oggetto_Modificato)
                        }
                    </td>
                    <td>
                        @{
                            var codice_gruppo = item.gruppi_politici.codice_gruppo;

                            var proponente = $"{item.PersonaProponente.DisplayName} ({codice_gruppo})";
                        }
                        @if (!item.Firmato_Dal_Proponente)
                        {
                            <span class="grey-text tooltipped" data-tooltip="Il Proponente non ha ancora firmato">
                                @Html.Raw(proponente)
                            </span>
                        }
                        else
                        {
                            <b>
                                @Html.Raw(proponente)
                            </b>
                        }

                        @if (item.ConteggioFirme > 1)
                        {
                            <br />
                            <a class='chip tooltipped blue white-text' data-position='left' data-tooltip='@item.Firme' style="min-width: unset">
                                + @Html.Raw(item.ConteggioFirme - 1) <i class='icon material-icons right' style="margin-left: unset">group</i>
                            </a>
                        }
                    </td>
                    <td>
                        <span id="lblStato_@item.UIDAtto" class="@Html.Raw(Utility.GetCSS_StatoDASI(item.IDStato))">
                            @Html.Raw(PortaleRegione.Common.Utility.GetText_StatoDASI(item.IDStato))
                        </span>
                        <a class='dropdown-trigger' href='#' data-target='dropdown_@item.UIDAtto'>
                            <i class="icon material-icons">refresh</i>
                        </a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown_@item.UIDAtto' class='dropdown-content' style="max-width: 300px">
                            <li>
                                <a class="@Html.Raw(Utility.GetCSS_StatoDASI((int) StatiAttoEnum.PRESENTATO))" onclick="CambioStatoDASI('@Html.Raw(item.UIDAtto)', @((int) StatiAttoEnum.PRESENTATO))">
                                    <i class="material-icons">check</i> @Html.Raw(PortaleRegione.Common.Utility.GetText_StatoDASI((int)StatiAttoEnum.PRESENTATO))
                                </a>
                            </li>
                            <li>
                                <a class="@Html.Raw(Utility.GetCSS_StatoDASI((int) StatiAttoEnum.IN_TRATTAZIONE))" onclick="CambioStatoDASI('@Html.Raw(item.UIDAtto)', @((int) StatiAttoEnum.IN_TRATTAZIONE))">
                                    <i class="material-icons">check</i> @Html.Raw(PortaleRegione.Common.Utility.GetText_StatoDASI((int)StatiAttoEnum.IN_TRATTAZIONE))
                                </a>
                            </li>
                            <li>
                                <a class="@Html.Raw(Utility.GetCSS_StatoDASI((int) StatiAttoEnum.CHIUSO))" onclick="CambioStatoDASI('@Html.Raw(item.UIDAtto)', @((int) StatiAttoEnum.CHIUSO))">
                                    <i class="material-icons">check</i> @Html.Raw(PortaleRegione.Common.Utility.GetText_StatoDASI((int)StatiAttoEnum.CHIUSO))
                                </a>
                            </li>
                        </ul>
                    </td>
                    @if (Model.ClientMode == ClientModeEnum.GRUPPI)
                    {
                <td class="center">
                    @if (item.IDStato != (int)StatiAttoEnum.BOZZA && item.UIDSeduta.HasValue)
                    {
                        var textSeduta = $"Seduta del {item.Seduta.Data_seduta.Value:dd/MM/yyyy}";
                        var textTooltipSeduta = textSeduta + $"<br>Iscritto dal {item.DataIscrizioneSeduta.Value:dd/MM/yyyy HH:mm:ss}";
                        var tooltipSeduta = textTooltipSeduta + "<br><br><i>Premi per rimuovere</i>";
                    <div class="tooltipped" data-tooltip="@tooltipSeduta" onclick="RimuoviSedutaDASI('@item.UIDAtto','@Html.Raw(title)')">
                        @Html.Raw($"{item.Seduta.Data_seduta.Value:dd/MM/yyyy}")
                        <i class="material-icons green-text rimuovi-seduta">wifi_tethering</i>
                    </div>
                    }
                    else
                    {
                        <div class="tooltipped" data-tooltip="Iscrivi ad una seduta attiva" onclick="IscriviSedutaDASI('@item.UIDAtto', '@Html.Raw(title)')">
                            <i class="material-icons grey-text">wifi_tethering</i>
                        </div>
                    }
                </td>
                    }
                    <td class="center">
                        <a class="blue-text tooltipped" data-tooltip="Modifica" onclick="openMetaDatiDASI('@item.UIDAtto')">
                            <i class="icon material-icons">edit</i>
                        </a>
                        <a class="black-text tooltipped" data-tooltip="Visualizza" onclick="go('@Url.Action("ViewAtto", "DASI", new {id = item.UIDAtto})')">
                            <i class="icon material-icons">chevron_right</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}