@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
    Html.RenderPartial("_PaginationBar", Model.Data.Paging);
    Html.RenderPartial("_Command_RiepilogoDASI", Model);
}

@if (!Model.Data.Results.Any())
{
    <div class="row">
        <div class="col s12">
            <div class="card-panel panel-warning center">
                <span class="center">
                    @{
                        var require_my_sign = Convert.ToBoolean(HttpUtility.ParseQueryString(Request.Url.Query).Get("require_my_sign"));
                        if (require_my_sign)
                        {
                            <p>Non ci sono atti dove è richiesta la tua firma</p>
                        }
                        else
                        {
                            <p>Non ci sono atti al momento</p>
                        }
                    }
                </span>
            </div>
        </div>
    </div>
}
else
{
    <table class="responsive-table highlight">
        <thead>
        <tr>
            <th class="center">
            </th>
            <th>Atto</th>
            <th>Tipo</th>
            <th>Oggetto</th>
            @*<th>Soggetto</th>*@
            <th>Firmatari</th>
            <th>Stato</th>
            @if (Model.ClientMode == ClientModeEnum.GRUPPI)
            {
                <th>Seduta</th>
            }
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Data.Results)
        {
            <tr>
                <td style="width: 1%;">

                    <p>
                        <label>
                            <input type="checkbox" id="chk_Atto_@item.UIDAtto" onclick="AbilitaComandiMassivi_DASI('@item.UIDAtto');"/>
                            <span></span>
                        </label>
                    </p>
                </td>
                <td style="width: 3%;">
                    @{
                        var title = $"{Utility.GetText_TipoDASI(item.Tipo)} ";
                        title += item.NAtto;
                    }

                    <div id="atto_@item.UIDAtto" class="chip hoverable @Html.Raw(PortaleRegione.Client.Helpers.Utility.GetCSS_TipoDASI(item.Tipo))" data-nome-atto="@title" onclick="go('@Url.Action("ViewAtto", "DASI", new {id = item.UIDAtto})')">
                        @Html.Raw(title)
                    </div>
                </td>
                <td style="width: 8%;">
                    <span class="@PortaleRegione.Client.Helpers.Utility.GetText_TipoRispostaCommissioneCSSTooltipDASI(item)" data-tooltip="@PortaleRegione.Client.Helpers.Utility.GetText_TipoRispostaCommissioneTooltipDASI(item)">
                        @Utility.GetText_TipoRispostaDASI(item.IDTipo_Risposta)
                    </span>
                </td>
                <td style="width: 18%;">
                    @if (string.IsNullOrEmpty(item.Oggetto_Modificato))
                    {
                        @Html.Raw(item.Oggetto)
                    }
                    else
                    {
                        @Html.Raw(item.Oggetto_Modificato)
                    }
                </td>
                <td style="width: 10%;">
                    @{
                        var codice_gruppo = item.gruppi_politici.codice_gruppo;

                        var proponente = $"{item.PersonaProponente.DisplayName} ({codice_gruppo})";
                    }
                    @if (!item.Firmato_Dal_Proponente)
                    {
                        <span class="grey-text tooltipped" data-tooltip="Il Proponente non ha ancora firmato">
                            @Html.Raw(proponente)
                        </span>
                    }
                    else
                    {
                        <b>
                            @Html.Raw(proponente)
                        </b>
                    }

                    @if (item.ConteggioFirme > 1)
                    {
                        <br/>
                        <a class='chip tooltipped blue white-text' data-position='left' data-tooltip='@item.Firme' style="min-width: unset">
                            + @Html.Raw(item.ConteggioFirme - 1) <i class='icon material-icons right' style="margin-left: unset">group</i>
                        </a>
                    }
                </td>
                <td style="width: 6%;">
                    <span id="lblStato_@item.UIDAtto" class="@Html.Raw(PortaleRegione.Client.Helpers.Utility.GetCSS_StatoDASI(item.IDStato))">
                        @Html.Raw(Utility.GetText_StatoDASI(item.IDStato))
                    </span>
                    <a class='dropdown-trigger' href='#' data-target='dropdown_@item.UIDAtto'>
                        <i class="icon material-icons">refresh</i>
                    </a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown_@item.UIDAtto' class='dropdown-content' style="max-width: 300px">
                        <li>
                            <a class="@Html.Raw(PortaleRegione.Client.Helpers.Utility.GetCSS_StatoDASI((int) StatiAttoEnum.PRESENTATO))" onclick="CambioStatoDASI('@Html.Raw(item.UIDAtto)', @((int) StatiAttoEnum.PRESENTATO))">
                                <i class="material-icons">lock</i> @Html.Raw(Utility.GetText_StatoDASI((int) StatiAttoEnum.PRESENTATO))
                            </a>
                        </li>
                        <li>
                            <a class="@Html.Raw(PortaleRegione.Client.Helpers.Utility.GetCSS_StatoDASI((int) StatiAttoEnum.IN_TRATTAZIONE))" onclick="CambioStatoDASI('@Html.Raw(item.UIDAtto)', @((int) StatiAttoEnum.IN_TRATTAZIONE))">
                                <i class="material-icons">settings_input_antenna</i> @Html.Raw(Utility.GetText_StatoDASI((int) StatiAttoEnum.IN_TRATTAZIONE))
                            </a>
                        </li>
                        <li>
                            <a class="@Html.Raw(PortaleRegione.Client.Helpers.Utility.GetCSS_StatoDASI((int) StatiAttoEnum.CHIUSO))" onclick="CambioStatoDASI('@Html.Raw(item.UIDAtto)', @((int) StatiAttoEnum.CHIUSO))">
                                <i class="material-icons">storage</i> @Html.Raw(Utility.GetText_StatoDASI((int) StatiAttoEnum.CHIUSO))
                            </a>
                        </li>
                    </ul>
                </td>
                @if (Model.ClientMode == ClientModeEnum.GRUPPI)
                {
            <td style="width: 9%;">
                @{
                    var textSeduta = string.Empty;
                    var tooltipSeduta = string.Empty;

                    if (item.UIDSeduta.HasValue)
                    {
                        textSeduta = $"Seduta del {item.Seduta.Data_seduta.Value:dd/MM/yyyy}";
                        tooltipSeduta = $"Iscritto dal {item.DataIscrizioneSeduta.Value:dd/MM/yyyy HH:mm:ss}";
                        <div class="chip hoverable badgeSeduta tooltipped" data-tooltip="@tooltipSeduta" onclick="RimuoviSedutaDASI('@item.UIDAtto', '@Html.Raw(title)')">
                            @textSeduta
                            <i class="material-icons tiny red-text tooltipped" data-tooltip="Rimuovi">close</i>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(item.DataRichiestaIscrizioneSeduta) && item.IDStato == (int)StatiAttoEnum.PRESENTATO)
                    {
                        textSeduta = $"Seduta del {item.DataRichiestaIscrizioneSeduta}";
                        tooltipSeduta = "Richiesta in attesa di elaborazione";

                        <div class="chip hoverable badgeDISABLED tooltipped" data-tooltip="@tooltipSeduta" onclick="IscriviSedutaDASI('@item.UIDAtto', '@Html.Raw(title)')">
                            @textSeduta
                            <i class="material-icons tiny green-text tooltipped" data-tooltip="Iscrivi">check</i>
                        </div>
                    }
                    else if (string.IsNullOrEmpty(item.DataRichiestaIscrizioneSeduta) && item.IDStato == (int)StatiAttoEnum.PRESENTATO)
                    {
                        textSeduta = "Richiesta non avanzata";
                        tooltipSeduta = "Richiesta non ancora avanzata dal richiedente";
                        <div class="chip hoverable badgeSedutaSenzaRichiesta tooltipped" data-tooltip="@tooltipSeduta" onclick="IscriviSedutaDASI('@item.UIDAtto', '@Html.Raw(title)')">
                            @textSeduta
                            <i class="material-icons tiny tooltipped" data-tooltip="Iscrivi">keyboard_return</i>
                        </div>
                    }
                }

            </td>
                }
                <td class="center" style="width: 5%;">
                    <a class="blue-text tooltipped" data-tooltip="Vai alla banca dati in internet" href="https://www.consiglio.regione.lombardia.it/wps/portal/crl/home/leggi-e-banche-dati/Atti-di-indirizzo-e-controllo/Dettaglio-atto-di-indirizzo-e-controllo?tipoatto=ITL&numeroatto=@item.NAtto.Split('_')[0]&idlegislatura=32" target="_blank">
                        <i class="icon material-icons">remove_red_eye</i>
                    </a>
                    <a class="blue-text tooltipped" data-tooltip="Modifica" onclick="openMetaDatiDASI('@item.UIDAtto')">
                        <i class="icon material-icons">edit</i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}