@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.InvitoPanelModel

<div id="modalDASINotificaA" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 id="attoProponenteDisplayName"></h5>
        @using (Html.BeginForm("EseguiAzione", "DASI", FormMethod.Post, new { id = "formNotificaA" }))
        {
            @Html.AntiForgeryToken()

            var isSegreteria = HttpContext.Current.User.IsInRole(RuoliExt.Responsabile_Segreteria_Politica) ||
                               HttpContext.Current.User.IsInRole(RuoliExt.Segreteria_Politica) ||
                               HttpContext.Current.User.IsInRole(RuoliExt.Responsabile_Segreteria_Giunta) ||
                               HttpContext.Current.User.IsInRole(RuoliExt.Segreteria_Giunta_Regionale) ||
                               HttpContext.Current.User.IsInRole(RuoliExt.Amministratore_PEM);

            var displayPin = isSegreteria ? "none" : "block";

            <div class="form-group" style="display: @displayPin">
                <label>Pin:</label>
                <input id="txtPinNotificheInviti" class="password" />
            </div>
            <div class="row">
                <div class="col s12">
                    <label class="black-text" style="margin-left: 20px">
                        <input name="rdDestinatari" type="radio" checked value="@((int) TipoDestinatarioNotificaEnum.CONSIGLIERI))" onclick="LoadDestinatari(@((int) TipoDestinatarioNotificaEnum.CONSIGLIERI))"/>
                        <span>Consiglieri</span>
                    </label>
                    @if (!isSegreteria)
                    {
                        <label class="black-text" style="margin-left: 20px">
                            <input name="rdDestinatari" type="radio" value="@((int) TipoDestinatarioNotificaEnum.GRUPPI))" onclick="LoadDestinatari(@((int) TipoDestinatarioNotificaEnum.GRUPPI))"/>
                            <span>Gruppi</span>
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label>Destinatari:</label>
                <div id="autocompleteInvitati" class="chips chips-autocomplete"></div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn modal-close grey">Annulla</button>
        <a id="btnConfermaNotificaA" class="btn blue">Invita</a>
    </div>
</div>


<script>
    var chipInstanceNotificaA = null;

    async function LoadDestinatari(tipo) {
        var personeInDB = await GetPersonePerInviti(tipo);

        var persone = [];
        for (let [key, value] of Object.entries(personeInDB)) {
            persone.push({
                tag: value,
                id: key
            });
        }

        var data_preload = [];
        var elems = document.querySelector("#autocompleteInvitati");

        var autocompleteDataOptions = {
            data: persone,
            limit: 10,
            minLength: 1
        };
        if (chipInstanceNotificaA != null) {
            chipInstanceNotificaA.destroy();
        }
        chipInstanceNotificaA = M.Chips.init(elems,
            {
                autocompleteOptions: autocompleteDataOptions,
                data: data_preload
            });
    }

    async function NotificaA(attoUId, tipo) {

        waiting(true);
        await LoadDestinatari(attoUId, tipo);
        $("#modalDASINotificaA").modal("open");
        waiting(false);

        $("#btnConfermaNotificaA").on("click",
            function() {
                setTimeout(function() {
                        $('body').removeClass('loaded');
                        $("#modalDASINotificaA").modal("close");
                    },
                    200);
                $("#formNotificaA").submit();
            });
    }

    $("#formNotificaA").submit(function(e) {
        e.preventDefault();
    }).validate({
        submitHandler: function (form) {

            var listaAtti = getListaAtti();
            if ('@Model.UIDAtto' != '@Guid.Empty') {
                listaAtti.push('@Model.UIDAtto');
            }

            var destinatari = chipInstanceNotificaA.getData();
            if (destinatari.length == 0) {
                ErrorAlert("Seleziona almeno un destinatario");
                return;
            }

            var listaDestinatari = [];
            $.each(destinatari,
                function(index, item) {
                    listaDestinatari.push(item.id);
                });
            var obj = {};
            obj.Pin = $('#txtPinNotificheInviti').val();
            obj.Azione = @((int)ActionEnum.INVITA);
            obj.Lista = listaAtti.length > 0 ? listaAtti : [];
            obj.ListaDestinatari = listaDestinatari;

            $.ajax({
                url: baseUrl + "/dasi/azioni-massive",
                type: "POST",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function(data) {
                if (data.message) {
                    swal({
                        title: "Esito Inviti",
                        text: data.message,
                        icon: "info",
                        button: "OK"
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    go(data);
                }
            }).fail(function(err) {
                console.log("error", err);
                ErrorAlert(err.message);
            });

            return false; //This doesn't prevent the form from submitting.
        }
    });
</script>