@using System.Linq;
@using PortaleRegione.DTO.Domain
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
	var _disabled = Model.ClientMode == ClientModeEnum.TRATTAZIONE;
}
<div id="slide-dasi-DX" class="sidenav sidenav-search" style="overflow: auto !important">
	<ul class="collapsible">
        <li class="active">
            <div class="collapsible-header teal white-text"><i class="material-icons">search</i>Ricerca</div>
            <div class="collapsible-body">
                @using (Html.BeginForm("Filtri_Riepilogo", "DASI", FormMethod.Post, new { id = "formFiltraDASI" }))
                {
                    @Html.AntiForgeryToken()
                    var sedutaFilter = Model.Data.Filters.FirstOrDefault(item => item.PropertyId == nameof(AttoDASIDto.UIDSeduta));
                    var uidSeduta = sedutaFilter != null ? sedutaFilter.Value : Guid.Empty;
                    var tipoFilter = Model.Data.Filters.FirstOrDefault(item => item.PropertyId == nameof(AttoDASIDto.Tipo));
                    var tipo = tipoFilter != null ? Convert.ToInt16(tipoFilter.Value) : (int)Model.Tipo;

                    <input id="inputFilterReset" type="hidden" name="reset" value="0" />
                    <input id="inputFilterSeduta" type="hidden" name="UIDSeduta" value="@uidSeduta" />
                    <input type="hidden" name="Tipo" value="@tipo" />
                    <input id="inputFilterView" type="hidden" name="view" value="@((int)Model.ViewMode)" />
                    <input id="inputFilterPage" type="hidden" name="page" value="@Model.Data.Paging.Page" />
                    <input id="inputFilterSize" type="hidden" name="size" value="@Model.Data.Paging.Limit" />
                    <input type="hidden" id="hdMode" name="mode" value="@((int)Model.ClientMode)" />

                    <div class="row">
                        @if (!_disabled)
                        {
                            <div class="input-field col s3">
                                <select id="qTipo" name="filtro_tipo" onchange="filter_dasi_tipo_OnChange()">
                                </select>
                                <label for="qTipo">Tipo</label>
                            </div>
                            <div id="pnl_tipo_mozione_urgente" class="input-field col s9" style="display: none;">
                                <label>
                                    <input type="checkbox" id="qTipo_Mozione_Urgente" name="filtro_mozione_urgente" onchange="filter_dasi_tipo_mozione_urgente_OnChange()">
                                    <span for="qTipo_Mozione_Urgente">Solo urgenti</span>
                                </label>
                            </div>
                            <div id="pnl_provvedimenti_odg" class="input-field col s9" style="display: none;">
                                <select multiple id="filter_provvedimenti" name="filtro_provvedimenti" onchange="filter_dasi_provvedimenti_OnChange()"></select>
                                <label>Provvedimenti</label>
                            </div>
                        }
                    </div>
                    <div class="row">
	                    @if (!_disabled)
	                    {
		                    <div class="input-field col s4">
			                    <select id="qStato" name="filtro_stato" onchange="filter_dasi_stato_OnChange()">
			                    </select>
			                    <label for="qStato">Stato</label>
		                    </div>
	                    }
	                    <div class="input-field col s4">
		                    <select id="qTipoRisposta" name="filtro_tipo_risposta" onchange="filter_dasi_tipo_risposta_OnChange()">
			                    <option value="" selected="selected">--</option>
			                    <option value="@((int)TipoRispostaEnum.ORALE)">Orale</option>
			                    <option value="@((int)TipoRispostaEnum.SCRITTA)">Scritto</option>
			                    <option value="@((int)TipoRispostaEnum.COMMISSIONE)">In Commissione</option>
		                    </select>
		                    <label for="qTipoRisposta">Tipo Risposta</label>
	                    </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input placeholder="--" id="qNAtto" name="filtro_natto" type="text" onchange="filter_dasi_natto_OnChange()">
                            <label for="qNAtto">Numero</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="--" id="qNAtto2" name="filtro_natto2" type="text" onchange="filter_dasi_natto2_OnChange()">
                            <label for="qNAtto2">Al Numero <i>(opzionale)</i></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <input type="date" id="qDataPresentazioneDA" name="filtro_da" class="form-control" onchange="filter_dasi_da_OnChange()" />
                            <label for="qDataPresentazioneDA">Data Presentazione</label>
                        </div>
                        <div class="input-field col s3">
                            <input type="date" id="qDataPresentazioneA" name="filtro_a" class="form-control" onchange="filter_dasi_a_OnChange()" />
                            <label for="qDataPresentazioneA">Alla Data Presentazione <i>(opzionale)</i></label>
                        </div>
                    </div>
                    <div class="row">
	                    @if (!_disabled)
	                    {
		                    <div class="input-field col s3">
			                    <input type="date" id="qDataSeduta" name="filtro_data_seduta" class="form-control" onchange="filter_dasi_data_seduta_OnChange()"/>
			                    <label for="qDataSeduta">Data seduta</label>
		                    </div>
		                    <div class="input-field col s3">
			                    <input type="date" id="qDataIscrizioneSeduta" name="filtro_data_iscrizione_seduta" class="form-control" onchange="filter_dasi_data_iscrizione_seduta_OnChange()"/>
			                    <label for="qDataIscrizioneSeduta">Data iscrizione seduta</label>
		                    </div>
	                    }
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select multiple id="filter_proponente" name="filtro_proponente" onchange="filter_dasi_proponenti_OnChange()"></select>
                            <label>Proponenti</label>
                        </div>
                    </div>
                    <div class="row">
	                    @if (!_disabled)
	                    {
		                    <div class="input-field col s3">
			                    <select id="qLegislatura" name="filtro_legislatura" class="form-control" onchange="filter_dasi_legislatura_OnChange()" @Html.Raw(_disabled ? "disabled=\"disabled\"" : "")></select>
			                    <label for="qLegislatura">Legislatura</label>
		                    </div>
	                    }
	                    <div class="input-field col s12">
		                    <input placeholder="--" id="qOggetto" name="filtro_oggetto" type="text" onchange="filter_dasi_oggetto_OnChange()">
		                    <label for="qOggetto">Oggetto e Testo</label>
	                    </div>
	                    <div class="input-field col s12 center" style="padding-top: 30px">
		                    <button type="button" role="button" class="btn-flat blue-text" style="min-width: unset !important" onclick="filtra(1)">
			                    Filtra
		                    </button>
		                    <button id="btnResetPannelloFiltri" type="button" role="button" class="btn-flat grey-text" style="min-width: unset !important">
			                    Reset
		                    </button>
	                    </div>
                    </div>
                }

            </div>
        </li>
	</ul>
</div>

<script>
	$(window).on('load',
		function () {
			/*$('#btnSearch>i').html('more_vert');*/

			$('#btnExportXLSConsiglieri').on("click", function () {
				var url = $('#btnExportXLSConsiglieri').data("href");
				$.ajax({
					url: url,
					type: "GET",
					beforeSend: function () {
						console.log("RICHIESTA INVIATA CONSIGLIERI");
						waiting(true, "Elaborazione in corso..");
					},
					success: function (response, status, xhr) {
						console.log(response)
						var a = document.createElement("a");
						a.href = response;
						document.body.appendChild(a);
						a.click();
					},
					error: function (xhr, status, error) {
						console.error("Errore nella richiesta: " + status + ". Motivo: " + error);
						waiting(false);
					},
					complete: function () {
						console.log("OK");
						waiting(false);
					},
					cache: false,
					contentType: false,
					processData: false
				});
			});

			$('#btnExportZip').on("click", function () {
				var url = $('#btnExportZip').data("href");
				$.ajax({
					url: url,
					type: "GET",
					beforeSend: function () {
						console.log("RICHIESTA INVIATA");
						waiting(true, "Elaborazione in corso..");
					},
					success: function (response, status, xhr) {
						console.log(response)
						var a = document.createElement("a");
						a.href = response;
						document.body.appendChild(a);
						a.click();
					},
					error: function (xhr, status, error) {
						console.error("Errore nella richiesta: " + status + ". Motivo: " + error);
						waiting(false);
					},
					complete: function () {
						console.log("OK");
						waiting(false);
					},
					cache: false,
					contentType: false,
					processData: false
				});
			});
		});

	$('#btnResetPannelloFiltri').on("click", async function () {
		waiting(true);
		set_Filtri_DASI({});
		$('#inputFilterPage').val(1);
		$('#inputFilterReset').val(1);

		Filtri_DASI_CaricaNAtto("qNAtto");
		Filtri_DASI_CaricaNAtto2("qNAtto2");
		Filtri_DASI_CaricaDataPresentazioneDA("qDataPresentazioneDA");
		Filtri_DASI_CaricaDataPresentazioneA("qDataPresentazioneA");
		Filtri_DASI_CaricaDataSeduta("qDataSeduta");
		Filtri_DASI_CaricaOggetto("qOggetto");
		Filtri_DASI_CaricaTipoRisposta("qTipoRisposta");
		await Filtri_DASI_CaricaStato("qStato");
		await Filtri_DASI_CaricaTipo("qTipo");
		await Filtri_DASI_CaricaLegislature("qLegislatura");
		await SetupFiltriProponentiDASI();

		$('#qSoggettoDestinatarioDasi option').each(function (index, opt) {
			if ($(opt).is(":checked")) {
				$(opt).attr("selected", false);
			}
		});

		waiting(false);
		$('#formFiltraDASI').submit();
	});

	function filtra() {
		setTimeout(function () {
			$('body').removeClass('loaded');
		},
			200);
		$('#formFiltraDASI').submit();
	}

	function filtra(page) {
		$('#inputFilterPage').val(page);
		setTimeout(function () {
			$('body').removeClass('loaded');
		},
			200);
		$('#formFiltraDASI').submit();
	}

	function filtra_Paginazione(size) {
		$('#inputFilterPage').val(1);
		$('#inputFilterSize').val(size);
		setTimeout(function () {
			$('body').removeClass('loaded');
		},
			200);
		$('#formFiltraDASI').submit();
	}

	function filtra_View(view) {
		$('#inputFilterView').val(view);
		setTimeout(function () {
			$('body').removeClass('loaded');
		},
			200);
		$('#formFiltraDASI').submit();
	}

	function openDasiSearch() {
		var elems = document.querySelector("#slide-dasi-DX");
		var instances = M.Sidenav.init(elems,
			{
				edge: "right",
				draggable: true,
				onOpenStart: function () {
					// Menu laterale SX sotto a layer opaco
					$("#slide-out").css("z-index", 997);
				},
				onCloseEnd: function () {
					// Ripristino menu laterale SX
					$("#slide-out").css("z-index", 999);
				}
			});

		instances.open();
	}
</script>