@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DASIFormModel

    @if (Model.Atto.Tipo == (int)TipoAttoEnum.ITL)
    {
        <div class="input-field">
            <select id='Atto_TipoRisposta'>
                <option value="@Html.Raw((int) TipoRispostaEnum.ORALE)" @Html.Raw(Model.Atto.IDTipo_Risposta == (int)TipoRispostaEnum.ORALE ? "selected=\"selected\"" : "")>Orale</option>
                <option value="@Html.Raw((int) TipoRispostaEnum.SCRITTO)" @Html.Raw(Model.Atto.IDTipo_Risposta == (int)TipoRispostaEnum.SCRITTO ? "selected=\"selected\"" : "")>Scritto</option>
                <option value="@Html.Raw((int) TipoRispostaEnum.COMMISSIONE)" @Html.Raw(Model.Atto.IDTipo_Risposta == (int)TipoRispostaEnum.COMMISSIONE ? "selected=\"selected\"" : "")>Commissione</option>
            </select>
            <label for="Atto_TipoRisposta">Tipo Risposta</label>
        </div>
    }
    else if (Model.Atto.Tipo == (int)TipoAttoEnum.ITR)
    {
        <div class="input-field">
            <select id='Atto_TipoRisposta'>
                <option value="@Html.Raw((int) TipoRispostaEnum.SCRITTO)" @Html.Raw(Model.Atto.IDTipo_Risposta == (int)TipoRispostaEnum.SCRITTO ? "selected=\"selected\"" : "")>Scritto</option>
                <option value="@Html.Raw((int) TipoRispostaEnum.COMMISSIONE)" @Html.Raw(Model.Atto.IDTipo_Risposta == (int)TipoRispostaEnum.COMMISSIONE ? "selected=\"selected\"" : "")>Commissione</option>
            </select>
            <label for="Atto_TipoRisposta">Tipo Risposta</label>
        </div>
    }
    else if (Model.Atto.Tipo == (int)TipoAttoEnum.IQT)
    {
        <div class="input-field">
            <select id='Atto_TipoRisposta' disabled="disabled">
                <option value="@Html.Raw((int) TipoRispostaEnum.IMMEDIATA)" selected="selected">Immediata</option>
            </select>
            <label for="Atto_TipoRisposta">Tipo Risposta</label>
        </div>
    }
     @{
         var displayCommissioni = Model.Atto.IDTipo_Risposta == (int)TipoRispostaEnum.COMMISSIONE ? "display: block;" : "display: none;";
     }

<div class="input-field" style="padding-top: 10px; @displayCommissioni" id="pnlCommissioni">
        <select id="Atto_Commissioni">
            <option value="">Seleziona commissione</option>
            @foreach (var commissione in Model.CommissioniAttive)
            {
                var commissioneSelezionata = Model.Atto.Commissioni.FirstOrDefault(item => item.id_organo == commissione.id_organo);
                <option value="@commissione.id_organo" @Html.Raw(commissioneSelezionata == null ? "" : "selected")>@commissione.nome_organo</option>
            }
        </select>
    </div>
