@using PortaleRegione.Common
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DASIFormModel

@if (Model.Atto.Tipo == (int)TipoAttoEnum.MOZ)
{
    <div class="row">
        <div class="col s12 form-group">
            <label>Tipo Mozione: </label>
            <select id="Atto_TipoMOZ">
                <option value="@((int)TipoMOZEnum.ORDINARIA)" selected="selected">[VUOTO]</option>
                <option value="@((int)TipoMOZEnum.CENSURA)">@Utility.GetText_TipoMOZDASI((int)TipoMOZEnum.CENSURA)</option>
                <option value="@((int)TipoMOZEnum.SFIDUCIA)">@Utility.GetText_TipoMOZDASI((int)TipoMOZEnum.SFIDUCIA)</option>
            </select>
        </div>
    </div>
}
