@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Domain.AttoDASIDto

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-action grey lighten-4 center">
                <div class="chip @Utility.GetCSS_StatoDASI(Model.IDStato) white-text" style="position: absolute;right: 10px;top: 18px;min-width: unset">@Utility.GetText_StatoDASI(Model.IDStato)</div>
                <h6>
                    <b>
                        <span>@Html.Raw(Model.gruppi_politici.nome_gruppo)</span>
                    </b>
                </h6>
            </div>
            @if (Model.Firmabile || Model.Depositabile || Model.Eliminabile || Model.Ritirabile || Model.Modificabile)
            {
                <div class="card-action grey lighten-4 center" style="border-top: unset">
                    <div class="row" style="margin: 0 !important">
                        <div class="col s12" style="margin-top: 5px">
                            @if (Model.Firmabile)
                            {
                                <div class="btn chip hoverable green center white-text" onclick="RevealFirmaDepositoDASI('@Model.UIDAtto', @Html.Raw((int) ActionEnum.FIRMA))">
                                    <i class="icon material-icons">gavel</i> Firma
                                </div>
                            }
                            @if (Model.Depositabile)
                            {
                                <div class="btn chip hoverable purple center white-text" onclick="RevealFirmaDepositoDASI('@Model.UIDAtto', @Html.Raw((int) ActionEnum.DEPOSITA))">
                                    <i class="icon material-icons">lock</i> Deposita
                                </div>
                            }
                            @if (Model.Modificabile)
                            {
                                <div class="btn chip hoverable blue center white-text" onclick="go('@Url.Action("Modifica", new {id = Model.UIDAtto})')">
                                    <i class="icon material-icons">edit</i> Modifica
                                </div>
                            }
                            
                            @if (Model.Eliminabile)
                            {
                                <div class="btn chip hoverable red center white-text" onclick="ConfirmActionDASI('@Model.UIDAtto', '', @Html.Raw((int) ActionEnum.ELIMINA))">
                                    <i class="icon material-icons">delete</i> Elimina
                                </div>
                            }
                            @if (Model.Ritirabile)
                            {
                                <div class="btn chip hoverable brown lighten-3 center" onclick="ConfirmActionDASI('@Model.UIDAtto', '', @Html.Raw((int) ActionEnum.RITIRA))">
                                    <i class="icon material-icons">settings_backup_restore</i> Ritira
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="card-content">
                @* NOTA PUBBLICA + GRUPPO + PROPONENTE *@
                <div class="row">
                    <div class="col s6 left">
                        @if (Model.UIDPersonaModifica.HasValue)
                        {
                            <label style="font-size: small !important">Ultima modifica: </label>
                            <br />
                            <b>[@Model.DataModifica.Value.ToString("dd/MM/yyyy HH:mm")] @Model.PersonaModifica.DisplayName</b>
                        }
                        @if (!string.IsNullOrEmpty(Model.Note_Pubbliche))
                        {
                            <div class="green-text">
                                <p style="padding-top: 10px">
                                    <b>Nota ufficio dei lavori assembleari: </b>
                                    @Html.Raw(Model.Note_Pubbliche)
                                </p>
                            </div>
                        }
                    </div>
                    <div class="col s6 right-align">
                        <label style="font-size: small !important">Proponente: </label>
                        <br />
                        <b>@Model.PersonaProponente.DisplayName</b>
                    </div>
                </div>
                @* BODY *@
                <div class="row">
                    <div class="col s12 center bodyEMClass">
                        @Html.Raw(Model.BodyAtto)
                    </div>
                </div>
                @* FIRME *@
                <div class="row">
                    <div class="col s12">
                        @Html.Raw(Model.Firme)

                        @if (!string.IsNullOrEmpty(Model.DataDeposito_crypt))
                        {
                            var testoDeposito = "Emendamento presentato";
                            if (Model.Firma_da_ufficio)
                            {
                                testoDeposito += " d'ufficio";
                            }

                            <label class="green-text">@testoDeposito il @Html.Raw(Model.DataDeposito)</label>
                        }

                        @if (!string.IsNullOrEmpty(Model.Firme_dopo_deposito))
                        {
                            @Html.Raw(Model.Firme_dopo_deposito)
                        }
                    </div>
                </div>

                @* INVITI *@
                @if (!string.IsNullOrEmpty(Model.Destinatari))
                {
                    <div class="row">
                        <div class="col s12">
                            <h5>Invitati</h5>
                            <hr />
                            @Html.Raw(Model.Destinatari)
                        </div>
                    </div>
                }

                @* NOTE RISERVATE *@
                @if (!string.IsNullOrEmpty(Model.Note_Private) &&
                     (User.IsInRole(RuoliExt.Amministratore_PEM)
                      || User.IsInRole(RuoliExt.Segreteria_Assemblea)))
                {
                    <div class="row">
                        <div class="col s12 red-text">
                            <p>
                                <b>Nota riservata:</b>
                                @Html.Raw(Model.Note_Private)
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>