@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@using PortaleRegione.DTO.Model
@using Utility = PortaleRegione.Common.Utility
@model PortaleRegione.DTO.Domain.AttoDASIDto

@{
    ViewBag.Title = $"{Utility.GetText_Tipo(Model)} {Model.NAtto}";

    var tipoFromCache = HttpContext.Current.Cache.Get(CacheHelper.TIPO_DASI);
    var statoFromCache = HttpContext.Current.Cache.Get(CacheHelper.STATO_DASI);
    var pageFromCache = HttpContext.Current.Cache.Get(CacheHelper.PAGE_DASI);
    var sizeFromCache = HttpContext.Current.Cache.Get(CacheHelper.SIZE_DASI);
    var viewFromCache = HttpContext.Current.Cache.Get(CacheHelper.VIEW_MODE_DASI);
    var modeFromCache = HttpContext.Current.Cache.Get(CacheHelper.CLIENT_MODE);

    object objParams = null;
    objParams = new
    {
        page = pageFromCache,
        size = sizeFromCache,
        tipo = tipoFromCache,
        stato = statoFromCache,
        view = viewFromCache
    };
    var backUrl = Url.Action("RiepilogoDASI", objParams);
    if (Convert.ToInt16(modeFromCache)  == (int)ClientModeEnum.TRATTAZIONE)
    {
        backUrl = Url.Action("RiepilogoDASI_BySeduta", "DASI", new { id = Model.UIDSeduta, tipo = Model.Tipo });
    }
}

<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-action grey lighten-4 center">
                <a class="grey-arrow-back" style="left: 10px; min-width: unset; position: absolute; top: 18px;" onclick="go('@backUrl')">
                    <i class="material-icons">arrow_back</i>
                </a>
                <div class="chip @PortaleRegione.Client.Helpers.Utility.GetCSS_StatoDASI(Model.IDStato) white-text" style="min-width: unset; position: absolute; right: 10px; top: 18px;">@Utility.GetText_StatoDASI(Model.IDStato)</div>
                <h6>
                    <b>
                        <span>@Html.Raw(Model.gruppi_politici.nome_gruppo)</span>
                    </b>
                </h6>
            </div>
            @if (Model.Firmabile 
                 || Model.Presentabile 
                 || Model.Eliminabile 
                 || Model.Ritirabile 
                 || Model.Modificabile 
                 || Model.Invito_Abilitato
                 && Convert.ToInt16(modeFromCache) != (int)ClientModeEnum.TRATTAZIONE)
            {
                <div class="card-action grey lighten-4 center" style="border-top: unset">
                    <div class="row" style="margin: 0 !important">
                        <div class="col s12" style="margin-top: 5px">
                            @if (Model.Firmabile)
                            {
                                <div class="btn chip hoverable green center white-text" onclick="RevealFirmaDepositoDASI('@Model.UIDAtto', @Html.Raw((int) ActionEnum.FIRMA))">
                                    <i class="icon material-icons">gavel</i> Firma
                                </div>
                            }
                            @if (Model.Presentabile)
                            {
                                <div class="btn chip hoverable purple center white-text" onclick="RevealFirmaDepositoDASI('@Model.UIDAtto', @Html.Raw((int) ActionEnum.DEPOSITA))">
                                    <i class="icon material-icons">lock</i> Deposita
                                </div>
                            }
                            @if (Model.Modificabile)
                            {
                                <div class="btn chip hoverable blue center white-text" onclick="go('@Url.Action("Modifica", new {id = Model.UIDAtto})')">
                                    <i class="icon material-icons">edit</i> Modifica
                                </div>
                            }
                            @if (Model.Invito_Abilitato)
                            {
                                <div class="btn chip hoverable amber center" onclick="NotificaADASI('@Model.UIDAtto', @Model.Tipo)">
                                    <i class="icon material-icons">share</i> Invita
                                </div>
                            }
                            @if (Model.Eliminabile)
                            {
                                <div class="btn chip hoverable red center white-text" onclick="ConfirmActionDASI('@Model.UIDAtto', '', @Html.Raw((int) ActionEnum.ELIMINA))">
                                    <i class="icon material-icons">delete</i> Elimina
                                </div>
                            }
                            @if (Model.Ritirabile)
                            {
                                <div class="btn chip hoverable brown lighten-3 center" onclick="ConfirmActionDASI('@Model.UIDAtto', '', @Html.Raw((int) ActionEnum.RITIRA))">
                                    <i class="icon material-icons">settings_backup_restore</i> Ritira
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="card-content">
                @* NOTA PUBBLICA + GRUPPO + PROPONENTE *@
                <div class="row">
                    <div class="col s6 left">
                        @if (Model.UIDPersonaModifica.HasValue && Model.IDStato < (int)StatiAttoEnum.PRESENTATO)
                        {
                            <label style="font-size: small !important">Ultima modifica: </label>
                            <br/>
                            <b>[@Model.DataModifica.Value.ToString("dd/MM/yyyy HH:mm")] @Model.PersonaModifica.DisplayName</b>
                        }
                        @if (!string.IsNullOrEmpty(Model.Note_Pubbliche))
                        {
                            <div class="green-text">
                                <p style="padding-top: 10px">
                                    <b>Nota ufficio dei lavori assembleari: </b>
                                    @Html.Raw(Model.Note_Pubbliche)
                                </p>
                            </div>
                        }
                    </div>
                    <div class="col s6 right-align">
                        <label style="font-size: small !important">Proponente: </label>
                        <br/>
                        <b>@Model.PersonaProponente.DisplayName</b>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.Atto_Certificato)
                     && string.IsNullOrEmpty(Model.Oggetto_Modificato)
                     && string.IsNullOrEmpty(Model.Premesse_Modificato)
                     && string.IsNullOrEmpty(Model.Richiesta_Modificata))

                {
                    @* NAtto *@
                    <div class="row">
                        <div class="col s12 center">
                            <h3>
                                <b>@Html.Raw($"{Utility.GetText_Tipo(Model)} {Model.NAtto}")</b>
                            </h3>
                        </div>
                    </div>
                }

                @* BODY *@
                <div class="row">
                    <div class="col s12 center bodyEMClass">
                        @Html.Raw(Model.BodyAtto)
                    </div>
                </div>
                @* FIRME *@
                <div class="row">
                    <div class="col s12">
                        @Html.Raw(Model.Firme)

                        @if (!string.IsNullOrEmpty(Model.DataPresentazione))
                        {
                            var testoDeposito = "Atto presentato";
                            if (Model.Firma_da_ufficio)
                            {
                                testoDeposito += " d'ufficio";
                            }

                            <label class="green-text">@testoDeposito il @Html.Raw(Model.DataPresentazione)</label>
                        }

                        @if (!string.IsNullOrEmpty(Model.Firme_dopo_deposito))
                        {
                            @Html.Raw(Model.Firme_dopo_deposito)
                        }
                    </div>
                </div>

                @* INVITI *@
                @if (!string.IsNullOrEmpty(Model.Destinatari))
                {
                    <div class="row">
                        <div class="col s12">
                            <h5>Invitati</h5>
                            <hr/>
                            @Html.Raw(Model.Destinatari)
                        </div>
                    </div>
                }

                @* NOTE RISERVATE *@
                @if (!string.IsNullOrEmpty(Model.Note_Private) &&
                     (User.IsInRole(RuoliExt.Amministratore_PEM)
                      || User.IsInRole(RuoliExt.Segreteria_Assemblea)))
                {
                    <div class="row">
                        <div class="col s12 red-text">
                            <p>
                                <b>Nota riservata:</b>
                                @Html.Raw(Model.Note_Private)
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_InvitoPanel", Model)