@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.DASIFormModel

@{
    var isNew = Model.Atto.UIDAtto == Guid.Empty;
    ViewBag.Title = (isNew ? "Nuovo " : "Modifica ") + "Atto Sindacato Ispettivo";

    var backUrl = isNew ? Url.Action("RiepilogoDASI", new {tipo = Model.Atto.Tipo}) : Url.Action("ViewAtto", new {id = Model.Atto.UIDAtto});
}
<script>
    $(document).ready(function() {
        $('#btnSearch').hide();
    });
</script>

<div class="row">
    <div class="col l1 s2">
        <a class="btn-floating waves-effect waves-light grey header-back" onclick="go('@backUrl')">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
    <div class="col l11 s10">
        <h5>
            <b>
                <span>@ViewBag.Title</span>
                <input id="hfIsNew" type="hidden" value="@isNew"/>
            </b>
        </h5>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col s12 center">
                <h5>
                    <b>
                        <span>@PortaleRegione.Common.Utility.GetText_TipoDASI(Model.Atto.Tipo) @Html.Raw(Model.Atto.NAtto)</span>
                    </b>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                @using (Html.BeginForm("SalvaAtto", "DASI", FormMethod.Post, new {id = "formDASI"}))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.Atto.UIDAtto)
                    @Html.HiddenFor(m => m.Atto.UIDPersonaProponente)
                    @Html.HiddenFor(m => m.Atto.UIDPersonaCreazione)
                    @Html.HiddenFor(m => m.Atto.idRuoloCreazione)
                    @Html.HiddenFor(m => m.Atto.Progressivo)
                    @Html.HiddenFor(m => m.Atto.IDStato)
                    @Html.HiddenFor(m => m.Atto.id_gruppo)
                    @Html.HiddenFor(m => m.Atto.DataCreazione)
                    @Html.HiddenFor(m => m.Atto.DataModifica)
                    @Html.HiddenFor(m => m.Atto.UIDPersonaModifica)
                    @Html.HiddenFor(m => m.Atto.UID_QRCode)
                    @Html.HiddenFor(m => m.Atto.Tipo)

                    <div class="row">
                        <div class="col s12 form-group">
                            <label>Proponente: </label>
                            @Html.DropDownListFor(m => m.Atto.UIDPersonaProponente, new SelectList(Model.ListaGruppo, "UID_persona", "DisplayName"), "Seleziona proponente", new {@class = "form-control"})
                        </div>
                    </div>

                    @Html.Partial("_TipoODGPartial", Model)

                    @Html.Partial("_TipoRispostaPartial", Model)

                    <div class="form-group" style="padding-top: 10px">
                        @Html.LabelFor(s => s.Atto.Oggetto)
                        @Html.TextBoxFor(model => model.Atto.Oggetto, new {@class = "form-control"})
                    </div>
                    <div class="form-group" style="padding-top: 10px">
                        @Html.LabelFor(s => s.Atto.Premesse)
                        @Html.TextAreaFor(model => model.Atto.Premesse, new {@class = "form-control trumbowyg"})
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <label class="black-text" style="margin-left: 20px">
                                <input type="radio" name="Atto.TipoRichiesta" checked="checked" value="@((int) TipoRichiestaEnum.CHIEDE)" @Html.Raw(Model.Atto.TipoRichiesta == (int) TipoRichiestaEnum.CHIEDE ? "checked='checked'" : "")/>
                                <span>@PortaleRegione.Common.Utility.GetText_TipoRichiestaDASI((int) TipoRichiestaEnum.CHIEDE)</span>
                            </label>
                            <label class="black-text" style="margin-left: 20px">
                                <input type="radio" name="Atto.TipoRichiesta" value="@((int) TipoRichiestaEnum.INVITA)" @Html.Raw(Model.Atto.TipoRichiesta == (int) TipoRichiestaEnum.INVITA ? "checked='checked'" : "")/>
                                <span>@PortaleRegione.Common.Utility.GetText_TipoRichiestaDASI((int) TipoRichiestaEnum.INVITA)</span>
                            </label>
                            <label class="black-text" style="margin-left: 20px">
                                <input type="radio" name="Atto.TipoRichiesta" value="@((int) TipoRichiestaEnum.IMPEGNA)" @Html.Raw(Model.Atto.TipoRichiesta == (int) TipoRichiestaEnum.IMPEGNA ? "checked='checked'" : "")/>
                                <span>@PortaleRegione.Common.Utility.GetText_TipoRichiestaDASI((int) TipoRichiestaEnum.IMPEGNA)</span>
                            </label>
                        </div>
                    </div>
                    <div class="input-field">
                        <select id='Atto_TipoRichiestaDestinatario'>
                            @if (Model.Atto.Tipo == (int) TipoAttoEnum.ITL
                                 || Model.Atto.Tipo == (int) TipoAttoEnum.ITR
                                 || Model.Atto.Tipo == (int) TipoAttoEnum.IQT)
                            {
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.PRES_REG)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.PRES_REG ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.PRES_REG)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.ASS_C)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.ASS_C ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.ASS_C)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.G)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.G ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.G)
                                </option>
                            }
                            else if (Model.Atto.Tipo == (int) TipoAttoEnum.MOZ
                                     || Model.Atto.Tipo == (int) TipoAttoEnum.ODG)
                            {
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.PRES_G_REG_ASS_C)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.PRES_G_REG_ASS_C ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.PRES_G_REG_ASS_C)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.PRES_G_REG_ASS_N_C)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.PRES_G_REG_ASS_N_C ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.PRES_G_REG_ASS_N_C)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.PRES_G_REG)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.PRES_G_REG ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.PRES_G_REG)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.PRES_G_REG_E_ASS_C)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.PRES_G_REG_E_ASS_C ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.PRES_G_REG_E_ASS_C)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.PRES_G_REG_E_ASS_N_C)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.PRES_G_REG_E_ASS_N_C ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.PRES_G_REG_E_ASS_N_C)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.G)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.G ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.G)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.ASS_C)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.ASS_C ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.ASS_C)
                                </option>
                                <option value="@Html.Raw((int) TipoRichiestaDestEnum.ALTRO)" @Html.Raw(Model.Atto.TipoRichiestaDestinatario == (int) TipoRichiestaDestEnum.ALTRO ? "selected=\"selected\"" : "")>
                                    @PortaleRegione.Common.Utility.GetText_TipoRichiestaDestDASI((int) TipoRichiestaDestEnum.ALTRO)
                                </option>
                            }
                        </select>
                        <label for="Atto_TipoRichiestaDestinatario"></label>
                    </div>

                    <div class="form-group" style="padding-top: 10px">
                        @Html.TextAreaFor(model => model.Atto.Richiesta, new {@class = "form-control trumbowyg"})
                    </div>

                    @Html.Partial("_DocsPanel", Model)
                }

                <div class="fixed-action-btn">
                    <button class="btn-floating btn-large blue" id="btnSave" type="button" alt="Salva atto">
                        <i class="large material-icons">save</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ScriptFormDASI")