@using PortaleRegione.DTO.Enum
@model dynamic

@{
    ViewBag.Title = "DASI";
}

<div class="row">
    <div class="col s12">
        <h5>
            <b>Riepilogo Atti Sindacato Ispettivo</b>
        </h5>
    </div>
</div>
<hr />
<div class="row center">
    <div class="col s12">
        <div class="chip @Html.Raw(TipoAttoCSSConst.ITL)" style="min-width: unset" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new { status = (int)TipoAttoEnum.ITL})')">
            ITL
            <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                4
            </span>
        </div>
        <div class="chip @Html.Raw(TipoAttoCSSConst.ITR)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new { status = (int)TipoAttoEnum.ITR})')">
            ITR
            <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                3
            </span>
        </div>
        <div class="chip @Html.Raw(TipoAttoCSSConst.IQT)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new { status = (int)TipoAttoEnum.IQT})')">
            IQT
            <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                2
            </span>
        </div>
        <div class="chip @Html.Raw(TipoAttoCSSConst.MOZ)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new { status = (int)TipoAttoEnum.MOZ})')">
            MOZ
            <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                5
            </span>
        </div>
        <div class="chip @Html.Raw(TipoAttoCSSConst.ODG)" onclick="go('@Url.Action("RiepilogoDASI", "DASI", new { status = (int)TipoAttoEnum.ODG})')">
            ODG
            <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                1
            </span>
        </div>
        <div class="chip @Html.Raw(TipoAttoCSSConst.TUTTI)" onclick="go('@Url.Action("RiepilogoDASI", "DASI")')">
            Tutti
            <span class="chip hoverable white black-text" style="font-size: small; margin-right: -12px; min-width: unset">
                10
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div id="testPresentati" class="col s12">
        <table class="responsive-table highlight">
            <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" id="checkAll" />
                        <span for="checkAll"></span>
                    </label>
                </th>
                <th>Atto</th>
                <th>Tipo</th>
                <th>Oggetto</th>
                <th>Soggetto</th>
                <th>Firmatari</th>
                <th>Stato</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="center">

                    <p>
                        <label>
                            <input type="checkbox" id="chk_Atto_1" onclick="AbilitaComandiMassivi_DASI('1');"/>
                            <span></span>
                        </label>
                    </p>
                </td>
                <td>
                    <div class="chip @Html.Raw(TipoAttoCSSConst.ITL)">
                        ITL-4000
                    </div>
                </td>
                <td>Orale</td>
                <td>Prova di trasmissione</td>
                <td>I Commissione permanente - Economia e Bilancio</td>
                <td>
                    Mario Rossi (NP)
                    <a class="chip tooltipped blue white-text" data-position="left" data-tooltip="DEGLI ANGELI Marco (M5S)<br>FORTE Monica (M5S)<br>ALBERTI Ferdinando (M5S)<br>VERNI Simone (M5S)" style="min-width: unset">
                        + 3 <i class="icon material-icons right" style="margin-left: unset">group</i>
                    </a>
                </td>
                <td class="depositatoT">
                    Presentato
                </td>
                <td>
                    <a class="blue-text tooltipped" data-tooltip="Modifica"><i class="icon material-icons">edit</i></a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_PannelloRicerche");
    Html.RenderPartial("_ComandiDASI_Admin");
    Html.RenderPartial("_ScriptRiepilogoDASI");
}

