@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Domain
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
    ViewBag.Title = "DASI";
    var classTabBozza = "";
    var classTabPresentati = "";
    var classTabTrattazione = "";
    var classTabChiusi = "";
    switch (Model.Stato)
    {
        case StatiAttoEnum.BOZZA:
            classTabBozza = "active";
            break;
        case StatiAttoEnum.PRESENTATO:
            classTabPresentati = "active";
            break;
        case StatiAttoEnum.IN_TRATTAZIONE:
            classTabTrattazione = "active";
            break;
        case StatiAttoEnum.CHIUSO:
            classTabChiusi = "active";
            break;
    }
    var url = Url.Action("Index", "Home");
    var data_seduta = "";
    if (Model.ClientMode == ClientModeEnum.TRATTAZIONE)
    {
        var uidSeduta = Model.Data.Filters.First(item => item.PropertyId == nameof(AttoDASIDto.UIDSeduta)).Value;
        url = Url.Action("Index", "AttiTrattazione", new { id = uidSeduta });

        data_seduta = @Model.Data.Results.First().Seduta.Data_seduta.ToString("dd/MM/yyyy");
    }

    var filtri_attivi = Request.Url.AbsolutePath.Contains("filtra");
    var textTitoloRicerca = filtri_attivi ? " - Ricerca" : string.Empty;

}

<script>
    $(document).ready(function() {
        var modeCache = @Html.Raw((int)Model.ClientMode);
        if (mode != modeCache) {
            setClientMode(modeCache);
        }
    });
</script>

<div class="row" style="margin-bottom: unset!important">
    <div class="col s12">
        <a class="btn-floating waves-effect waves-light grey header-back" href="@url">
            <i class="material-icons">arrow_back</i>
        </a>
        <div class="row valign-wrapper">
            <div class="col s12">
                @if (Model.ClientMode == ClientModeEnum.GRUPPI)
                {
                    <h4>
                        <b>Riepilogo Atti Sindacato Ispettivo @textTitoloRicerca</b>
                    </h4>
                }
                else
                {
                    var tipo = Convert.ToInt16(Model.Tipo);
                    <h4>
                        <b>@PortaleRegione.Common.Utility.GetText_Tipo(tipo) iscritte alla seduta del @data_seduta @textTitoloRicerca</b>
                    </h4>
                }
            </div>
        </div>
    </div>
</div>


@if (Model.ClientMode == ClientModeEnum.GRUPPI)
{
    <div class="row center">
        @{
            Html.RenderPartial("_CounterBar_RiepilogoDASI", Model);
        }
    </div>
}

<div id="contentTable" class="row">
    @if (Model.ClientMode == ClientModeEnum.GRUPPI)
    {
        if (string.IsNullOrEmpty(classTabPresentati)
            && string.IsNullOrEmpty(classTabBozza)
            && string.IsNullOrEmpty(classTabTrattazione)
            && string.IsNullOrEmpty(classTabChiusi))
        {

        }
        else
        {
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col l3 s12">
                        <a class="@classTabBozza" onclick="resetGridSelection();$('#qStato').val(@((int)StatiAttoEnum.BOZZA));$('#qStato').formSelect();filter_dasi_stato_OnChange();filtra();">
                            Bozza (@Model.CountBarData.BOZZE)
                        </a>
                    </li>
                    <li class="tab col l3 s12">
                        <a class="@classTabPresentati" onclick="resetGridSelection();$('#qStato').val(@((int)StatiAttoEnum.PRESENTATO));$('#qStato').formSelect();filter_dasi_stato_OnChange();filtra();">
                            Depositati (@Model.CountBarData.PRESENTATI)
                        </a>
                    </li>
                    <li class="tab col l3 s12">
                        <a class="@classTabTrattazione" onclick="resetGridSelection();$('#qStato').val(@((int)StatiAttoEnum.IN_TRATTAZIONE));$('#qStato').formSelect();filter_dasi_stato_OnChange();filtra();">
                            In Trattazione (@Model.CountBarData.IN_TRATTAZIONE)
                        </a>
                    </li>
                    <li class="tab col l3 s12">
                        <a class="@classTabChiusi" onclick="resetGridSelection();$('#qStato').val(@((int)StatiAttoEnum.CHIUSO));$('#qStato').formSelect();filter_dasi_stato_OnChange();filtra();">
                            Chiusi (@Model.CountBarData.CHIUSO)
                        </a>
                    </li>
                </ul>
            </div>
        }
    }

    <div class="col s12">
        @{
            if (Model.ViewMode == ViewModeEnum.GRID)
            {
                Html.RenderPartial("_GridView_RiepilogoDASI", Model);
            }
            else
            {
                Html.RenderPartial("_ZoomView_RiepilogoDASI", Model);
            }
        }
    </div>

</div>

@{
    Html.RenderPartial("_ProponiMozioneUrgenteModal");
    Html.RenderPartial("_ProponiMozioneAbbinataModal");
    Html.RenderPartial("_RichiestaIscrizioneASedutaModal", true);
    Html.RenderPartial("_PannelloRicerche");
    Html.RenderPartial("_ComandiDASI");
    Html.RenderPartial("_GeasiViewPartial");
    Html.RenderPartial("_ScriptRiepilogoDASI");

    Html.RenderPartial("_StampaModal");
}