@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Domain
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
    ViewBag.Title = "DASI";
    var classTabBozza = "";
    var classTabPresentati = "";
    switch (Model.Stato)
    {
        case StatiAttoEnum.BOZZA:
            classTabBozza = "active";
            break;
        case StatiAttoEnum.PRESENTATO:
            classTabPresentati = "active";
            break;
    }
    var url = Url.Action("Index", "Home");

    if (Model.ClientMode == ClientModeEnum.TRATTAZIONE)
    {
        var uidSeduta = Model.Data.Filters.First(item => item.PropertyId == nameof(AttoDASIDto.UIDSeduta)).Value;
        url = Url.Action("Index", "AttiTrattazione", new { id = uidSeduta });
    }

    var filtri_attivi = Request.Url.AbsolutePath.Contains("filtra");
    var textTitoloRicerca = filtri_attivi ? " - Ricerca" : string.Empty;

}

<script>
    $(document).ready(function() {
        console.log('mode', getClientMode());
        var modeCache = @Html.Raw((int)Model.ClientMode);
        console.log('cache mode', modeCache);

        if (mode != modeCache) {
            setClientMode(modeCache);
        }
    });
</script>

<div class="row">
    <div class="col s12">
        <a class="btn-floating waves-effect waves-light grey header-back" href="@url">
            <i class="material-icons">arrow_back</i>
        </a>
        <div class="row valign-wrapper">
            <div class="col s12">
                @if (Model.ClientMode == ClientModeEnum.GRUPPI)
                {
                    <h5>
                        <b>Riepilogo Atti Sindacato Ispettivo @textTitoloRicerca</b>
                    </h5>
                }
                else
                {
                    var tipo = Convert.ToInt16(Model.Tipo);
                    <h5>
                        <div class="chip @Utility.GetCSS_TipoDASI(tipo)" style="min-width: unset !important;">
                            @PortaleRegione.Common.Utility.GetText_TipoDASI(tipo)
                        </div>
                        <b> - Aula Atti Sindacato Ispettivo @textTitoloRicerca</b>
                    </h5>
                }
            </div>
        </div>
    </div>
</div>


@if (Model.ClientMode == ClientModeEnum.GRUPPI)
{
    <div class="row center">
        @{
            Html.RenderPartial("_CounterBar_RiepilogoDASI", Model);
        }
    </div>
}

<div id="contentTable" class="row">
    @if (Model.ClientMode == ClientModeEnum.GRUPPI)
    {
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6">
                    <a class="@classTabBozza" onclick="resetGridSelection();go('@Url.Action("RiepilogoDASI", "DASI", new {stato = (int) StatiAttoEnum.BOZZA, tipo = (int)Model.Tipo, view = (int)Model.ViewMode})');">
                        Bozza (@Model.CountBarData.BOZZE)
                    </a>
                </li>
                <li class="tab col s6">
                    <a class="@classTabPresentati" onclick="resetGridSelection();go('@Url.Action("RiepilogoDASI", "DASI", new {stato = (int) StatiAttoEnum.PRESENTATO, tipo = (int)Model.Tipo, view = (int)Model.ViewMode})');">
                        Presentati (@Model.CountBarData.PRESENTATI)
                    </a>
                </li>
            </ul>
        </div>
    }

    <div class="col s12">
        @{
            if (Model.ViewMode == ViewModeEnum.GRID)
            {
                Html.RenderPartial("_GridView_RiepilogoDASI", Model);
            }
            else
            {
                Html.RenderPartial("_ZoomView_RiepilogoDASI", Model);
            }
        }
    </div>

</div>

@{
    Html.RenderPartial("_RichiestaIscrizioneASedutaModal");
    Html.RenderPartial("_PannelloRicerche");
    Html.RenderPartial("_ComandiDASI");
    Html.RenderPartial("_ScriptRiepilogoDASI");

    Html.RenderPartial("_StampaModal");

}