@using PortaleRegione.Client.Helpers
@using PortaleRegione.DTO.Enum
@model PortaleRegione.DTO.Model.RiepilogoDASIModel

@{
    ViewBag.Title = "DASI";
    var classTabBozza = "";
    var classTabPresentati = "";
    var classTabBozza_Badge = "";
    var classTabPresentati_Badge = "";
    switch (Model.Stato)
    {
        case StatiAttoEnum.BOZZA:
            classTabBozza = "active";
            classTabBozza_Badge = "active-badge";
            classTabPresentati_Badge = "inactive-badge";
            break;
        case StatiAttoEnum.PRESENTATO:
            classTabPresentati = "active";
            classTabBozza_Badge = "inactive-badge";
            classTabPresentati_Badge = "active-badge";
            break;
    }
    var url = Url.Action("Index", "Home");

    if (Model.ClientMode == ClientModeEnum.TRATTAZIONE)
    {
        url = Url.Action("Index", "AttiTrattazione", new {id = Model.Data.Results.First().UIDSeduta});
    }
}

<div class="row">
    <div class="col l1 s2">
        <a class="btn-floating waves-effect waves-light grey header-back" href="@url">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
    @if (Model.ClientMode == ClientModeEnum.GRUPPI)
    {
        <div class="col l11 s10">
            <h5>
                <b>Riepilogo Atti Sindacato Ispettivo</b>
            </h5>
        </div>
    }
    else
    {
        var qtipo = HttpUtility.ParseQueryString(Request.Url.Query).Get("tipo");
        var tipo = Convert.ToInt16(qtipo);
        <div class="col l11 s10">
            <h5>
                <div class="chip @Utility.GetCSS_TipoDASI(tipo)" style="min-width: unset !important;">
                    @Utility.GetText_TipoDASI(tipo)
                </div>
                <b> - Aula Atti Sindacato Ispettivo</b>
            </h5>
        </div>
    }
</div>
<hr/>
@if (Model.ClientMode == ClientModeEnum.GRUPPI)
{
    <div class="row center">
        @{
            Html.RenderPartial("_CounterBar_RiepilogoDASI", Model);
        }
    </div>
}

<div class="row">
    @if (Model.ClientMode == ClientModeEnum.GRUPPI)
    {
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6">
                    <a class="@classTabBozza" onclick="resetGridSelection();go('@Url.Action("RiepilogoDASI", "DASI", new {stato = (int) StatiAttoEnum.BOZZA})');">
                        Bozza
                        <span class="new badge @classTabBozza_Badge" data-badge-caption=" ">
                            @Model.CountBarData.BOZZE
                        </span>
                    </a>
                </li>
                <li class="tab col s6">
                    <a class="@classTabPresentati" onclick="resetGridSelection();go('@Url.Action("RiepilogoDASI", "DASI", new {stato = (int) StatiAttoEnum.PRESENTATO})');">
                        Presentati
                        <span class="new badge @classTabPresentati_Badge" data-badge-caption=" ">
                            @Model.CountBarData.PRESENTATI
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    }

    <div class="col s12">
        @{
            Html.RenderPartial("_GridView_RiepilogoDASI", Model);
        }
    </div>

</div>

@{
    Html.RenderPartial("_PannelloRicerche");
    Html.RenderPartial("_ComandiDASI");
    Html.RenderPartial("_ScriptRiepilogoDASI");
}